openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Instance User Materialized View API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Instance User Materialized View
paths:
  /v1/instance-user-materialized-view:
    put:
      operationId: Put
      responses:
        '201':
          description: created
        '422':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceUserMaterializedViewRequestBody'
        required: true
      tags:
      - Instance User Materialized View
components:
  schemas:
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ViewQueryParam:
      properties:
        globalUserId:
          type: number
          format: double
        communityId:
          type: string
        membershipId:
          type: number
          format: double
        listId:
          type: number
          format: double
        instagramProfileId:
          type: number
          format: double
        facebookProfileId:
          type: number
          format: double
      type: object
      additionalProperties: false
    InstanceUserMaterializedViewRequestBody:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ViewQueryParam'
          type: array
      required:
      - data
      type: object
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
