openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Programs API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Programs
paths:
  /programs/{id}/get-referee-incentive:
    get:
      x-handler: referral_programs/referral_program_controller.js
      x-access:
      - anonymous
      - influencer
      operationId: getReferralProgramIncentiveForReferee
      description: Get the incentive that a referee unlocks for a given referral program
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: membershipId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Incentive the referee just won
          content:
            application/json:
              schema:
                type: object
                properties:
                  incentive:
                    type: object
                    properties:
                      promocode:
                        type: string
                      incentiveTitle:
                        type: string
                      type:
                        type: string
                  referringMemberDetails:
                    type: object
                    properties:
                      firstName:
                        type: string
                      profilePhotoUrl:
                        type: string
        '400':
          description: Invalid/missing parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Programs
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
