openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO List Member Reward Win API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: ListMemberRewardWin
paths:
  /list-member-reward-wins/{listMemberRewardWinId}:
    get:
      tags:
      - ListMemberRewardWin
      operationId: getListMemberRewardWin
      x-handler: reward_wins/list_member_reward_win/list_member_reward_win_controller.js
      x-access:
      - administrator
      summary: Gets a list member reward win.
      parameters:
      - name: listMemberRewardWinId
        in: path
        description: ID of list member reward win
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: An individual list member reward win
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberRewardWin'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Message not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - ListMemberRewardWin
      operationId: updateRewardWin
      x-handler: reward_wins/list_member_reward_win/list_member_reward_win_controller.js
      x-access:
      - administrator
      summary: Update the List Member Reward Win.
      parameters:
      - name: listMemberRewardWinId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: List Member Reward Win updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberRewardWin'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Message not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMemberRewardWin'
        required: true
  /list-member-reward-win/bulk-fulfill/options/reward-wins:
    post:
      tags:
      - ListMemberRewardWin
      operationId: getRewardWinsForBulkFulfillment
      x-handler: reward_wins/list_member_reward_win/list_member_reward_win_controller.js
      x-access:
      - administrator
      summary: Get all reward wins for bulk fulfillment confirmation based on option selection
      responses:
        '200':
          description: An array of reward wins bulk fulfillment based on the selected option.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      totalCount:
                        type: integer
                      paymentAccountType:
                        type: string
                      paymentAccountBalance:
                        type: number
                      paymentAccountProvider:
                        type: string
                      paymentAccountId:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        value:
                          type:
                          - number
                          - 'null'
                        cost:
                          type:
                          - number
                          - 'null'
                        valueCurrencyCode:
                          type: string
                        costCurrencyCode:
                          type: string
                        bonusTierCurrencyCode:
                          type:
                          - string
                          - 'null'
                        bonusTiers:
                          type:
                          - array
                          - 'null'
                          items:
                            $ref: '#/components/schemas/BonusTier'
                        attainedBonusTierIndex:
                          type:
                          - integer
                          - 'null'
                        type:
                          type: string
                        displayType:
                          type: string
                        rewardTitle:
                          type: string
                        displayName:
                          type: string
                        isSelected:
                          type: boolean
                        globalUserId:
                          type: number
                        listMemberId:
                          type: number
                        discountCodeId:
                          type: string
                        incentiveId:
                          type: number
                        taxLineItems:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              amount:
                                type: number
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - actionGroupId
              properties:
                paymentAccountId:
                  type: integer
                globalUserIds:
                  type: array
                  items:
                    type: integer
                actionGroupId:
                  type: integer
                queryFilter:
                  $ref: '#/components/schemas/ActionGroupCandidateQueryFilter'
        required: true
  /list-member-reward-win/bulk-fulfill/options:
    post:
      tags:
      - ListMemberRewardWin
      operationId: getBulkFulfillOptions
      x-handler: reward_wins/list_member_reward_win/list_member_reward_win_controller.js
      x-access:
      - administrator
      summary: Get all bulk fulfillment options for a selection of influencers, combine all offline options into one option
      responses:
        '200':
          description: An array of options for bulk fulfillment.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkFulfillOption'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - actionGroupId
              properties:
                globalUserIds:
                  type: array
                  items:
                    type: integer
                actionGroupId:
                  type: integer
                  description: Unique identifier of the actionGroup
                queryFilter:
                  $ref: '#/components/schemas/ActionGroupCandidateQueryFilter'
        required: true
  /list-member-reward-win/bulk-fulfill/options-all:
    post:
      tags:
      - ListMemberRewardWin
      operationId: getAllBulkFulfillOptions
      x-handler: reward_wins/list_member_reward_win/list_member_reward_win_controller.js
      x-access:
      - administrator
      summary: Get all bulk fulfillment options for a selection of influencers, splitting all offline options into their own options
      responses:
        '200':
          description: An array of options for bulk fulfillment.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkFulfillOption'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - actionGroupId
              properties:
                globalUserIds:
                  type: array
                  items:
                    type: integer
                actionGroupId:
                  type: integer
                  description: Unique identifier of the actionGroup
                queryFilter:
                  $ref: '#/components/schemas/ActionGroupCandidateQueryFilter'
        required: true
  /list-member-reward-wins/enriched:
    get:
      tags:
      - ListMemberRewardWin
      x-handler: reward_wins/list_member_reward_win/list_member_reward_win_controller.js
      x-access:
      - administrator
      summary: Get enriched list member reward win data by incentive ids. Expects comma-separated string representations of an array of integers.
      operationId: getEnrichedListMemberRewardWins
      parameters:
      - name: rewardWinIds
        in: query
        required: false
        schema:
          type: string
      - name: cashPaymentIds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: An array of list members with their list member reward wins
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EnrichedListMemberRewardWin'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/action-groups/{actionGroupId}/list-member-reward-wins/{globalUserId}:
    get:
      operationId: getRewardWins
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListMemberRewardWinResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ListMemberRewardWin
      parameters:
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: includeMostRecentTransaction
        required: false
        schema:
          type: boolean
    post:
      operationId: createRewardWin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberRewardWinResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ListMemberRewardWin
      parameters:
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMemberRewardWinRequestBody'
        required: true
components:
  schemas:
    AudienceDeprecated:
      type: object
      x-access:
      - root
      - administrator
      properties:
        id:
          type: integer
          description: Unique identifier representing a single audience.
        name:
          type: string
          description: Human-readable description of the audience displayed to administrators.
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/InfluencerDataPointCriteriaDeprecated'
    GetRewardWinListMemberRewardWin:
      $ref: '#/components/schemas/Pick_ListMemberRewardWin.id-or-listMemberId-or-eligibleOnEventType_'
    ProductDeprecated:
      type: object
      properties:
        id:
          type: integer
          description: id of the product
        title:
          type: string
          description: title of the product
        description:
          type: string
          description: Description of product
        image:
          type: string
          description: product image url
        communityId:
          type: string
          description: instance to which this product belongs
        bazaarVoiceAppProduct:
          $ref: '#/components/schemas/BazaarVoiceAppProductDeprecated'
        powerReviewsPage:
          $ref: '#/components/schemas/PowerReviewsPageDeprecated'
        yotpoAppProduct:
          $ref: '#/components/schemas/YotpoAppProductDeprecated'
    PinterestAccountDeprecated:
      type: object
      properties:
        id:
          description: int = mavck-db-id, string = derived-index-id
          type:
          - integer
          - string
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        profilePicture:
          type: string
        bio:
          type: string
        followersCount:
          type: integer
        followingCount:
          type: integer
        monthlyViewers:
          type: integer
        averageEngagements:
          type: integer
        engagementRate:
          type: number
        boardsCount:
          type: integer
        pinsCount:
          type: integer
        pinterestAccessGrant:
          type: object
          properties:
            isExpired:
              type: boolean
        primaryAccount:
          type: boolean
    PendingActivationURI:
      type: object
      properties:
        id:
          type: integer
    ActivationURI:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          description: Unique identifier representing the activation.
        incentive:
          $ref: '#/components/schemas/IncentiveDeprecated'
        points:
          type: number
          description: The number of points earned after activating.
    YoutubeChannelDeprecated:
      type: object
      properties:
        id:
          description: int = mavck-db-id, string = derived-index-id
          type:
          - integer
          - string
        username:
          type: string
        bio:
          type: string
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        followersCount:
          type: integer
        youtubeExternalId:
          type: string
        videoCount:
          type: integer
        viewCount:
          type: integer
        commentCount:
          type: integer
        handle:
          type: string
    TaxLineItem:
      properties:
        amount:
          type: number
          format: double
        type:
          $ref: '#/components/schemas/TaxLineItemType'
      required:
      - amount
      - type
      type: object
    RoutingOptionsDeprecated:
      type: object
      description: Routing options
      properties:
        redirect_url:
          type: string
          description: Url the influencer should be redirected to.
        cta:
          type: string
          description: Displayed CTA.
        mode:
          type: string
          description: Routing type.
    ReviewFormDeprecated:
      type: object
      required:
      - questions
      properties:
        id:
          type: integer
          description: id of form
        reviewProductId:
          type: integer
        action:
          $ref: '#/components/schemas/ActionDeprecated'
        product:
          $ref: '#/components/schemas/ProductDeprecated'
        questions:
          type: array
          description: Array of form questions
          items:
            $ref: '#/components/schemas/QuestionDeprecated'
        title:
          type: string
        description:
          type: string
        url:
          type: string
        incentivized:
          x-access:
          - administrator
          - root
          type: boolean
          description: whether the form is incentivized
        responses:
          type: array
          x-access:
          - administrator
          - root
          items:
            type: object
            properties:
              membership:
                $ref: '#/components/schemas/MembershipDeprecated'
              questionResponses:
                type: array
                items:
                  type: object
    InstagramAccountDeprecated:
      type: object
      properties:
        id:
          description: int = mavck-db-id, string = derived-index-id
          type:
          - integer
          - string
        handle:
          type: string
        fullName:
          type: string
        profilePicture:
          type: string
        bio:
          type: string
        website:
          type: string
        followersCount:
          type: integer
        followingCount:
          type: integer
        mediaCount:
          type: integer
        averageLikes:
          type: integer
        averageComments:
          type: integer
        averageEngagements:
          type: integer
        engagementRate:
          type: number
        isBusiness:
          type: boolean
        isPrivate:
          type: boolean
        sponsoredPostRate:
          type: number
        primaryAccount:
          type: boolean
        profileType:
          type: string
          enum:
          - platform
          - business
        instagramAccessGrant:
          type: object
          properties:
            isExpired:
              type: boolean
            platformIsExpired:
              type: boolean
            businessIsExpired:
              type: boolean
    DBRewardWinType:
      enum:
      - OTHER
      - CASH
      - PRODUCT
      - PROMO_CODE
      - GIFT_CARD
      - SHOPIFY_DISCOUNT
      type: string
    Pick_ListMemberRewardWin.id-or-listMemberId-or-eligibleOnEventType_:
      properties:
        id:
          type: number
          format: double
        listMemberId:
          type: number
          format: double
        eligibleOnEventType:
          $ref: '#/components/schemas/EventType'
      required:
      - id
      - listMemberId
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    ActionGroupDeprecated:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier representing a single action group.
        communityId:
          type: string
        communityName:
          type: string
        communityImage:
          type: string
        type:
          type: string
        mainType:
          type: string
          description: First action in the group type
        name:
          type: string
          description: Human-readable description of the action group displayed for administrators.
          x-access:
          - root
          - administrator
        title:
          type: string
        description:
          type: string
        image:
          type: string
        contentType:
          type: string
          description: For content action groups, this provides the type of content, which either matches og:image or is derived from internal heuristics.
        url:
          type: string
          description: For content action groups, this contains the url input upon creation.
        status:
          type: string
          description: The state of the action group. One of the set {"LIVE", "PAUSED", "PENDING", "EXPIRED"}.
          x-access:
          - root
          - administrator
        startDate:
          format: date-time
          type: string
          description: The scheduled time in which the action group will become available to influencers.
        endDate:
          format: date-time
          type:
          - 'null'
          - string
          description: The scheduled time in which the action group will no longer be available to influencers.
        createdAt:
          format: date-time
          type:
          - 'null'
          - string
        notInCommunity:
          type: boolean
          x-access:
          - root
          - administrator
          description: Filter this action group if the client specifies channel=community.
        isAutoCreated:
          type: boolean
        isPrimaryReferralActivity:
          type: boolean
        multipleActivations:
          type: boolean
          description: Indicates whether this action group can be completed multiple times. Only available for photoChallenge.
        campaign:
          type: object
          x-access:
          - root
          - administrator
          properties:
            id:
              type: integer
              description: Unique identifier representing a single campaign.
            name:
              type: string
              description: Name of campaign.
            description:
              type: string
              description: Name of campaign.
            brand:
              $ref: '#/components/schemas/BrandDeprecated'
            hasActivations:
              type: boolean
              description: Flag that indicates whether this campaign is associated with any activations.
            createdAt:
              format: date-time
              type: string
              description: The date and time that the campaign was created.
        audience:
          $ref: '#/components/schemas/AudienceDeprecated'
        incentive:
          $ref: '#/components/schemas/IncentiveDeprecated'
        incentives:
          items:
            $ref: '#/components/schemas/IncentiveDeprecated'
          type: array
        actions:
          items:
            $ref: '#/components/schemas/ActionDeprecated'
          type: array
        points:
          type: object
          properties:
            min:
              type: integer
            max:
              type: integer
        hasScheduledNotifications:
          type: boolean
          description: Indicates whether the action group is tied to any scheduled notifications. The audience cannot be modified if this is the case.
        listId:
          type: integer
        listDeliverables:
          type: array
          items:
            $ref: '#/components/schemas/ListDeliverable'
        influencerReviewDeliverable:
          type: object
          properties:
            id:
              type: integer
            count:
              type: integer
            listId:
              type: integer
        workflowStatuses:
          type: array
          items:
            $ref: '#/components/schemas/ListCustomStatusDeprecated'
        locale:
          type: string
          description: Formatted according to language codes (https://www.w3schools.com/tags/ref_language_codes.asp)
        activatedUsersMetrics:
          type: integer
        clicksMetrics:
          type: integer
        engagementsMetrics:
          type: integer
        impressionsMetrics:
          type: integer
        conversionsCountMetrics:
          type: integer
        conversionsValueMetrics:
          type: number
        posts:
          type: integer
        engagements:
          type: integer
        impressions:
          type: integer
        cpe:
          type: number
        cpp:
          type: number
        cpm:
          type: number
        cpa:
          type: number
        committedAmount:
          type: number
        paidAmount:
          type: number
        readyAmount:
          type: number
        cost:
          type: number
        roiValue:
          type: number
        workflowSummary:
          type: object
          properties:
            accepted:
              type: integer
            rejected:
              type: integer
            candidates:
              type: integer
            applicants:
              type: integer
            participants:
              type: integer
            completed:
              type: integer
        requiredHashtag:
          type: string
          description: Hashtag for action group (required)
        ftcHashtag:
          type: string
          description: FTC hashtag for an action group.
        youtubeHashtag:
          type: string
          description: YouTube hashtag for an action group.
        internalDescription:
          type: string
          description: Internal description on an action group.
        activityBudget:
          type:
          - 'null'
          - number
          description: Total budget for all actions under an action group.
        numberOfInfluencers:
          type:
          - 'null'
          - integer
          description: Target number of influencers for all actions under an action group.
        cpeGoal:
          type:
          - number
          - 'null'
          description: Cost per engagement goal for a single action group
        cpmGoal:
          type:
          - number
          - 'null'
          description: Cost per 1000 impressions goal for a single action group
        impressionsGoal:
          type:
          - number
          - 'null'
          description: Impressions goal for a single action group
        engagementsGoal:
          type:
          - number
          - 'null'
          description: Engagements goal for a single action group
        engagementRateGoal:
          type:
          - number
          - 'null'
          description: Engagement rate goal for a single action group
        contentDueDate:
          type:
          - string
          - 'null'
          description: Due date for content on an action group.
        draftDueDate:
          type:
          - string
          - 'null'
          description: Due date for drafts on an action group.
        conceptDueDate:
          type:
          - string
          - 'null'
          description: Due date for concepts on an action group.
        primaryNetwork:
          type: string
        hasPointsEnabled:
          type: boolean
        shareableReportLink:
          type: string
        termsOfServiceLink:
          type: string
        autoAcceptApplicant:
          type: boolean
        globalUserListDefinitionId:
          type:
          - integer
          - 'null'
        ready:
          type: number
        pending:
          type: number
        fulfilled:
          type: number
        brief:
          type: string
        hideOnIcm:
          type: boolean
        application:
          type: object
          properties:
            requestBrandedContentPermission:
              type: boolean
        community:
          type: object
          properties:
            instagramHandle:
              type: string
        isSetupEnabled:
          type: boolean
        isCopied:
          type: boolean
        hideTemplateUpdateCTA:
          type: boolean
        isLaterCreatorExperienceEnabled:
          type: boolean
        isMavelyCreatorExperienceEnabled:
          type: boolean
        budgetReferenceId:
          type:
          - string
          - 'null'
        budgetReferenceIdType:
          type:
          - string
          - 'null'
          enum:
          - IROF
          - OPPORTUNITY
          - null
        brandSuitabilityGuidelines:
          type:
          - string
          - 'null'
        publicSummary:
          type:
          - string
          - 'null'
        version:
          type: integer
          description: Version of the action group.
        lastPolledAt:
          type:
          - string
          - 'null'
          format: date-time
          description: The last time the action group was manually polled for updates.
    ConversionTagDeprecated:
      type: object
      x-access:
      - administrator
      - root
      properties:
        id:
          type: string
          description: Unique identifier for the conversion tag.
        name:
          type: string
          description: Human-readable name for the conversion tag.
        code:
          type: string
          description: Code to embed in the Clickmeter JavaScript snippet to conduct conversion tracking.
        type:
          type: string
          description: The category this conversion belongs. One of the set {"purchase", "app_download", "sign_up"}.
        isActive:
          type: boolean
          description: Determines if a conversion tag is active or inactive
        isConversionValueEnabled:
          type: boolean
          description: Determines if a conversion tag is active or inactive
    ListMemberRewardWinRequestBody:
      properties:
        id:
          type: number
          format: double
        membershipId:
          type: number
          format: double
        rewardWinId:
          type: number
          format: double
        eligibleOnEventType:
          type: string
        RewardWin:
          additionalProperties: true
        shopify:
          type: object
      required:
      - eligibleOnEventType
      - RewardWin
      type: object
      additionalProperties: false
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    UserSearch:
      type: object
      additionalProperties: false
      properties:
        DemographicsPro_Audience_Data_Analysis:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_MaritalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_ParentalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Race_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Language_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_State_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_City_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_EducationStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_PersonalIncome_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Occupation_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Industry_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Employer_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_EducationOrganization_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_LikesAndInterests_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_PeopleInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_MediaInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_BrandInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicGenre_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicSoloArtist_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicBands_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportsFollowed_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportTeamSupported_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_BrandInfluences_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Country_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Gender_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Age_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Race_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Language_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
        DemographicsPro_Audience_Data_Analysis_Facebook:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_City_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
        DemographicsPro_Audience_Data_Analysis_TikTok:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_MaritalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_ParentalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Race_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Language_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_State_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_City_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_EducationStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_PersonalIncome_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Occupation_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Industry_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Employer_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_EducationOrganization_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_LikesAndInterests_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_PeopleInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_MediaInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_BrandInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicGenre_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicSoloArtist_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicBands_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportsFollowed_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportTeamSupported_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Gender_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Age_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Race_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Language_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Country_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_State_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_City_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
        DemographicsPro_Audience_Data_Analysis_Snapchat:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
        memberSelectedEthnicities:
          type: object
          additionalProperties: false
          properties:
            ethnicGroup:
              type: array
              x-filter-type: term
              items:
                type: string
        dataPoints:
          type: object
          x-filter-type: terms
        instagramAccount:
          type: object
          additionalProperties: false
          properties:
            isBusiness:
              type: boolean
              x-filter-type: boolean
            isPrivate:
              type: boolean
              x-filter-type: boolean
            handle:
              type: array
              x-filter-type: term
              items:
                type: string
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageLikes:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageComments:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        facebookProfile:
          type: object
          additionalProperties: false
          properties:
            reach:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageLikes:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageComments:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        tiktokCreator:
          type: object
          additionalProperties: false
          properties:
            status:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantAgeRange:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantCountry:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantDevice:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantGender:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantLocale:
              type: array
              x-filter-type: term
              items:
                type: string
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        accountType:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - Business
            - Brand
            - Creator
            - Influencer
        twitterAccount:
          type: object
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageFavorites:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageRetweets:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        pinterestAccount:
          type: object
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            monthlyViewers:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            boardsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            pinsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        appMembership:
          type: object
          additionalProperties: false
          properties:
            totalImpressions:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            lifetimeClicks:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            lifetimeConversions:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            lifetimeConversionsValue:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            mostRecentActivationDate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: string
                  format: date
        registeredInfluencer:
          type: object
          additionalProperties: false
        hasPosted:
          type: object
          additionalProperties: false
        blog:
          type: object
          x-filter-type: exists
          additionalProperties: false
        youtubeChannel:
          type: object
          x-filter-type: exists
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        snapchatAccount:
          type: object
          x-filter-type: exists
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            profileTier:
              type: array
              x-filter-type: term
              items:
                type: string
                enum:
                - TIER_STANDARD
                - TIER_PUBLIC_OFFICIAL
                - TIER_PUBLIC
            profileType:
              type: array
              x-filter-type: term
              items:
                type: string
                enum:
                - Emerging Creator
                - Snap Star
                - Business
                - Official Business
            shareAuthorizedDataWithApiPartners:
              type: boolean
              additionalProperties: false
              x-filter-type: boolean
        customInfluencerStatusId:
          type: object
          additionalProperties: true
        dueDate:
          type: object
          additionalProperties: true
        audienceLocation:
          type: object
          x-filter-type: $or
          additionalProperties: false
          properties:
            audiencePredominantCity:
              type: array
              items:
                type: string
            audiencePredominantCountry:
              type: array
              items:
                type: string
        hasSponsoredContent:
          type: object
          x-filter-type: $or
          properties:
            instagramPost.isSponsored:
              type: array
              items:
                type: boolean
            tiktokPosts.isSponsored:
              type: array
              items:
                type: boolean
        globalPerformanceComposites:
          type: array
          items:
            type: object
            properties:
              fields:
                type: array
                items:
                  type: string
                  enum:
                  - emv
                  - roi
                  - cpp
                  - cpe
                  - cpm
                  - sponsoredContentEmv
                  - sponsoredContentRoi
                  - sponsoredContentCpp
                  - sponsoredContentCpe
                  - sponsoredContentCpm
              payload:
                x-filter-type: range
                properties:
                  $gte:
                    type: number
                  $lte:
                    type: number
        globalPerformanceMetrics:
          type: object
          additionalProperties: false
          properties:
            emv:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            roi:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            cpp:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            cpe:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            cpm:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentEmv:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentRoi:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentCpp:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentCpe:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentCpm:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            costPerMavelyLinkClick:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            hasTrackingOrAffiliateLinksData:
              type: boolean
              additionalProperties: false
              x-filter-type: boolean
            brandsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            campaignsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            boundContentCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        city:
          type: string
          x-filter-type: text
        unverified:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - hidden
            - emails
            - excludes
        country:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - Afghanistan
            - Albania
            - Algeria
            - American Samoa
            - Andorra
            - Angola
            - Anguilla
            - Antarctica
            - Antigua and Barbuda
            - Argentina
            - Armenia
            - Aruba
            - Australia
            - Austria
            - Azerbaijan
            - Bahrain
            - Bangladesh
            - Barbados
            - Belarus
            - Belgium
            - Belize
            - Benin
            - Bermuda
            - Bhutan
            - Bolivia
            - Bosnia and Herzegovina
            - Botswana
            - Bouvet Island
            - Brazil
            - British Indian Ocean Territory
            - British Virgin Islands
            - Brunei
            - Bulgaria
            - Burkina Faso
            - Burundi
            - Cambodia
            - Cameroon
            - Canada
            - Cape Verde
            - Caribbean Netherlands
            - Cayman Islands
            - Central African Republic
            - Chad
            - Chile
            - China
            - Christmas Island
            - Cocos (Keeling) Islands
            - Collectivity of Saint Martin
            - Colombia
            - Comoros
            - Cook Islands
            - Costa Rica
            - Côte d'Ivoire
            - Croatia
            - Cuba
            - Curaçao
            - Cyprus
            - Czechia
            - Democratic Republic of the Congo
            - Denmark
            - Djibouti
            - Dominica
            - Dominican Republic
            - Ecuador
            - Egypt
            - El Salvador
            - Equatorial Guinea
            - Eritrea
            - Estonia
            - Ethiopia
            - Falkland Islands (Malvinas)
            - Faroe Islands
            - Federated States of Micronesia
            - Fiji
            - Finland
            - France
            - French Guiana
            - French Polynesia
            - French Southern Territories
            - Gabon
            - Georgia
            - Germany
            - Ghana
            - Gibraltar
            - Greece
            - Greenland
            - Grenada
            - Guadeloupe
            - Guam
            - Guatemala
            - Guernsey
            - Guinea
            - Guinea-Bissau
            - Guyana
            - Haiti
            - Heard Island and McDonald Islands
            - Holy See (Vatican City)
            - Honduras
            - Hong Kong
            - Hungary
            - Iceland
            - India
            - Indonesia
            - Iran
            - Iraq
            - Ireland
            - Isle of Man
            - Israel
            - Jamaica
            - Japan
            - Italy
            - Jersey
            - Jordan
            - Kazakhstan
            - Kenya
            - Kiribati
            - Kuwait
            - Kyrgyzstan
            - Laos
            - Latvia
            - Lebanon
            - Lesotho
            - Liberia
            - Libya
            - Liechtenstein
            - Lithuania
            - Luxembourg
            - Macau
            - Macedonia (FYROM)
            - Madagascar
            - Malawi
            - Malaysia
            - Maldives
            - Mali
            - Malta
            - Marshall Islands
            - Martinique
            - Mauritania
            - Mauritius
            - Mayotte
            - Mexico
            - Moldova
            - Monaco
            - Mongolia
            - Montenegro
            - Montserrat
            - Morocco
            - Mozambique
            - Myanmar (Burma)
            - Namibia
            - Nauru
            - Nepal
            - Netherlands
            - New Caledonia
            - New Zealand
            - Nicaragua
            - Niger
            - Nigeria
            - Niue
            - Norfolk Island
            - North Korea
            - Northern Mariana Islands
            - Norway
            - Oman
            - Pakistan
            - Palau
            - Palestine
            - Panama
            - Papua New Guinea
            - Paraguay
            - Peru
            - Philippines
            - Pitcairn
            - Poland
            - Portugal
            - Puerto Rico
            - Qatar
            - Republic of the Congo
            - Reunion
            - Romania
            - Russia
            - Rwanda
            - Saint Helena, Ascension and Tristan da Cunha
            - Saint Kitts and Nevis
            - Saint Lucia
            - Saint Pierre and Miquelon
            - Saint Vincent and the Grenadines
            - Saint-Barthélemy
            - Samoa
            - San Marino
            - Sao Tome and Principe
            - Saudi Arabia
            - Senegal
            - Serbia
            - Seychelles
            - Sierra Leone
            - Singapore
            - Sint Maarten (Dutch part)
            - Slovakia
            - Slovenia
            - Solomon Islands
            - Somalia
            - South Africa
            - South Georgia and the South Sandwich Islands
            - South Korea
            - South Sudan
            - Spain
            - Sri Lanka
            - Sudan
            - Suriname
            - Svalbard and Jan Mayen
            - Swaziland
            - Sweden
            - Switzerland
            - Syria
            - Taiwan
            - Tajikistan
            - Tanzania
            - Thailand
            - The Bahamas
            - The Gambia
            - Timor-Leste
            - Togo
            - Tokelau
            - Tonga
            - Trinidad and Tobago
            - Tunisia
            - Turkey
            - Turkmenistan
            - Turks and Caicos Islands
            - Tuvalu
            - U.S. Virgin Islands
            - Uganda
            - Ukraine
            - United Arab Emirates
            - United Kingdom
            - United States Minor Outlying Islands
            - United States
            - Uruguay
            - Uzbekistan
            - Vanuatu
            - Venezuela
            - Vietnam
            - Wallis and Futuna
            - Western Sahara
            - Yemen
            - Zambia
            - Zimbabwe
            - Åland Islands
        gender:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - male
            - female
            - other
            - non_bin
            - describe
        state:
          type: array
          x-filter-type: term
          items:
            type: string
        zip:
          type: array
          x-filter-type: term
          items:
            type: string
        audiencePredominantCountry:
          type: array
          x-filter-type: term
          items:
            type: string
        audiencePredominantAgeRange:
          type: array
          x-filter-type: term
          items:
            type: string
        audiencePredominantCity:
          type: array
          x-filter-type: term
          items:
            type: string
        audienceFraudLevel:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - low
            - medium
            - high
        age:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        birthday:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        audiencePercentageFemale:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        cpe:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        cpm:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        cpp:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        lists:
          type: object
          additionalProperties: false
          x-filter-type: multiTerm
          properties:
            quantifier:
              type: string
              enum:
              - any
              - all
            ids:
              type: array
              items:
                type:
                - integer
                - string
        topics:
          type: object
          additionalProperties: false
          x-filter-type: multiTerm
          properties:
            quantifier:
              type: string
              enum:
              - any
              - all
            ids:
              type: array
              items:
                type:
                - integer
                - string
    RoutingDeprecated:
      type: object
      description: Routing configuration.
      properties:
        success:
          $ref: '#/components/schemas/RoutingOptionsDeprecated'
        not_eligible:
          $ref: '#/components/schemas/RoutingOptionsDeprecated'
    EnrichedListMemberRewardWin:
      type: object
      properties:
        listMemberId:
          type: integer
        listId:
          type: integer
        customStatusId:
          type: integer
        currentStatusSlug:
          type: string
        globalUserId:
          type: integer
        actionGroupId:
          type: integer
        communityId:
          type: string
        listMemberRewardWins:
          type: array
          items:
            type: object
            properties:
              rewardWinId:
                type: integer
              type:
                type: string
              fulfillmentStatus:
                type: string
              isFulfilled:
                type: boolean
              fulfillmentStageSlug:
                type: string
              statusUpdated:
                type: boolean
              cashPaymentAppId:
                type: integer
              giftCardOptionId:
                type: integer
              cashPayment:
                type: object
                properties:
                  id:
                    type: integer
                  cashPaymentStatus:
                    type: string
                  paymentAccountTransactionId:
                    type: integer
                  cashPaymentAppId:
                    type: integer
                  externalId:
                    type: string
                  providerSearchableTransactionId:
                    type: string
                  value:
                    type: number
                  chargeAmount:
                    type: number
                  chargeCurrencyCode:
                    type: string
                  valueCurrencyCode:
                    type: string
                  recipientEmail:
                    type: string
              giftCardOrder:
                type: object
                properties:
                  id:
                    type: integer
                  paymentAccountTransactionId:
                    type: integer
                  giftCardOptionId:
                    type: integer
                  giftCardAppId:
                    type: integer
                  value:
                    type: number
                  chargeAmount:
                    type: number
                  chargeCurrencyCode:
                    type: string
                  valueCurrencyCode:
                    type: string
                  recipientEmail:
                    type: string
                  externalId:
                    type: string
    QuestionResponseDeprecated:
      type: object
      properties:
        question:
          $ref: '#/components/schemas/QuestionDeprecated'
        value:
          type: string
          description: review question value
    PreviewPostDeprecated:
      type: object
      properties:
        id:
          type: integer
        postId:
          type: string
        network:
          type: string
        likes:
          type: integer
        comments:
          type: integer
        views:
          type: integer
        shares:
          type: integer
        caption:
          type: string
        imageUrl:
          type: string
        link:
          type: string
        isSponsored:
          type: boolean
        mentions:
          type: array
          items:
            type: string
        activation:
          $ref: '#/components/schemas/ActivationDeprecated'
        postedTime:
          type: string
          format: date-time
        visualSafeSearch:
          $ref: '#/components/schemas/VisualSafeSearchDeprecated'
        textSafeSearch:
          $ref: '#/components/schemas/TextSafeSearchDeprecated'
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ActivationDeprecated:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a single activation.
        externalId:
          type: string
          description: Instagram external id
        profilePicture:
          type: string
          description: Link to the user's Facebook profile picture using the External Facebook id of the user who created this activation.
        membershipId:
          type: integer
          description: Community membership id of user who created this activation used that can be used for pulling up influencer profiles.
        globalUserId:
          type: integer
        createdByAccountId:
          type: string
          description: Id of self-service application user who manually bound or manually entered this activation
        updatedByAccountId:
          type: string
          description: Id of self-service application user who manually updated this activation
        createdAt:
          type: string
          format: date-time
          description: CREATED AT TIME
        approvalStatus:
          type: string
          description: The Approval status of the activation.
        points:
          type: number
          description: Number of points that the activation grants.
        isApproved:
          type: boolean
          x-access:
          - root
          - administrator
          description: Indicates whether this activation has been approved to be publicly available.
        selfReported:
          type: boolean
        user:
          type: object
          properties:
            id:
              type:
              - integer
              - string
            fullName:
              type: string
            firstName:
              type: string
            lastName:
              type: string
            profilePicture:
              type: string
            unverified:
              type: string
              enum:
              - hidden
              - emails
              - excludes
            country:
              type: string
              enum:
              - Afghanistan
              - Albania
              - Algeria
              - American Samoa
              - Andorra
              - Angola
              - Anguilla
              - Antarctica
              - Antigua and Barbuda
              - Argentina
              - Armenia
              - Aruba
              - Australia
              - Austria
              - Azerbaijan
              - Bahrain
              - Bangladesh
              - Barbados
              - Belarus
              - Belgium
              - Belize
              - Benin
              - Bermuda
              - Bhutan
              - Bolivia
              - Bosnia and Herzegovina
              - Botswana
              - Bouvet Island
              - Brazil
              - British Indian Ocean Territory
              - British Virgin Islands
              - Brunei
              - Bulgaria
              - Burkina Faso
              - Burundi
              - Cambodia
              - Cameroon
              - Canada
              - Cape Verde
              - Caribbean Netherlands
              - Cayman Islands
              - Central African Republic
              - Chad
              - Chile
              - China
              - Christmas Island
              - Cocos (Keeling) Islands
              - Collectivity of Saint Martin
              - Colombia
              - Comoros
              - Cook Islands
              - Costa Rica
              - Côte d'Ivoire
              - Croatia
              - Cuba
              - Curaçao
              - Cyprus
              - Czechia
              - Democratic Republic of the Congo
              - Denmark
              - Djibouti
              - Dominica
              - Dominican Republic
              - Ecuador
              - Egypt
              - El Salvador
              - Equatorial Guinea
              - Eritrea
              - Estonia
              - Ethiopia
              - Falkland Islands (Malvinas)
              - Faroe Islands
              - Federated States of Micronesia
              - Fiji
              - Finland
              - France
              - French Guiana
              - French Polynesia
              - French Southern Territories
              - Gabon
              - Georgia
              - Germany
              - Ghana
              - Gibraltar
              - Greece
              - Greenland
              - Grenada
              - Guadeloupe
              - Guam
              - Guatemala
              - Guernsey
              - Guinea
              - Guinea-Bissau
              - Guyana
              - Haiti
              - Heard Island and McDonald Islands
              - Holy See (Vatican City)
              - Honduras
              - Hong Kong
              - Hungary
              - Iceland
              - India
              - Indonesia
              - Iran
              - Iraq
              - Ireland
              - Isle of Man
              - Israel
              - Jamaica
              - Japan
              - Italy
              - Jersey
              - Jordan
              - Kazakhstan
              - Kenya
              - Kiribati
              - Kuwait
              - Kyrgyzstan
              - Laos
              - Latvia
              - Lebanon
              - Lesotho
              - Liberia
              - Libya
              - Liechtenstein
              - Lithuania
              - Luxembourg
              - Macau
              - Macedonia (FYROM)
              - Madagascar
              - Malawi
              - Malaysia
              - Maldives
              - Mali
              - Malta
              - Marshall Islands
              - Martinique
              - Mauritania
              - Mauritius
              - Mayotte
              - Mexico
              - Moldova
              - Monaco
              - Mongolia
              - Montenegro
              - Montserrat
              - Morocco
              - Mozambique
              - Myanmar (Burma)
              - Namibia
              - Nauru
              - Nepal
              - Netherlands
              - New Caledonia
              - New Zealand
              - Nicaragua
              - Niger
              - Nigeria
              - Niue
              - Norfolk Island
              - North Korea
              - Northern Mariana Islands
              - Norway
              - Oman
              - Pakistan
              - Palau
              - Palestine
              - Panama
              - Papua New Guinea
              - Paraguay
              - Peru
              - Philippines
              - Pitcairn
              - Poland
              - Portugal
              - Puerto Rico
              - Qatar
              - Republic of the Congo
              - Reunion
              - Romania
              - Russia
              - Rwanda
              - Saint Helena, Ascension and Tristan da Cunha
              - Saint Kitts and Nevis
              - Saint Lucia
              - Saint Pierre and Miquelon
              - Saint Vincent and the Grenadines
              - Saint-Barthélemy
              - Samoa
[...]
