openapi: 3.2.0
info:
  title: Later Influence™ Post Level API
  description: '# Description

    The Reporting API enables deep analysis and reporting of marketing campaigns, social media performance, and influencer effectiveness.'
  version: 1.2.1
  contact:
    name: Developer
    url: https://help-influence.later.com/hc/en-us
    email: urvash.chheda@later.com
  termsOfService: https://later.com/terms/
servers:
- url: https://api.mavrck.co
security:
- JWT: []
tags:
- name: Post Level
paths:
  /v1/reporting/post/performance:
    get:
      description: Get post performance details.
      operationId: getPostPerformance
      parameters:
      - name: startDate
        required: true
        in: query
        description: Start date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: instanceIds
        required: false
        in: query
        description: A list of instance ids. If not provided, all instances associated with the API credentials will be considered.
        schema:
          type: array
          items:
            type: string
      - name: campaignIds
        required: false
        in: query
        description: A list of campaign ids (max 50 items)
        schema:
          type: array
          items:
            type: number
      - name: reportingGroupIds
        required: false
        in: query
        description: A list of reporting group ids
        schema:
          type: array
          items:
            type: string
      - name: pageSize
        required: false
        in: query
        description: Number of items per page
        schema:
          default: 50
          type: number
      - name: pageNumber
        required: false
        in: query
        description: The page you would like to get data for
        schema:
          default: 1
          type: number
      - name: sortProperty
        required: false
        in: query
        description: 'sortProperty must be one of the following values: engagements, impressions, engagementRate, estimatedValueGenerated, cpm, cpe, postDate'
        schema:
          type: string
      - name: sortDirection
        required: false
        in: query
        description: ASC or DESC
        schema:
          default: DESC
          type: string
      - name: metrics
        required: false
        in: query
        description: A list of metrics to get the data for. Empty or undefined, to get all the metrics
        schema:
          example:
          - engagements
          - impressions
          type: array
          items:
            type: string
            enum:
            - engagements
            - impressions
            - engagementRate
            - estimatedValueGenerated
            - cpe
            - cpm
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportingApiResponseDto'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/PostPerformanceResponseDto'
      summary: Get post performance
      tags:
      - Post Level
      x-summary-source: derived
components:
  schemas:
    PostPerformanceResponseDto:
      type: object
      properties:
        activationId:
          type: number
          description: Activation ID
          example: 1234
        creatorId:
          type: number
          description: Creator ID
          example: 5678
        instanceId:
          type: string
          description: Instance ID
          example: instance_123
        creatorGlobalUserId:
          type: number
          description: Creator Global User ID
          example: 91011
        actionGroupId:
          type: number
          description: Action Group ID
          example: 9012
        postDate:
          type: string
          description: Post date
          example: '2023-05-01T12:00:00Z'
        engagements:
          type:
          - number
          - 'null'
          description: Number of engagements
          example: 1000
        impressions:
          type:
          - number
          - 'null'
          description: Number of impressions
          example: 10000
        engagementRate:
          type:
          - number
          - 'null'
          description: Engagement rate
          example: 0.1
        estimatedValueGenerated:
          type:
          - number
          - 'null'
          description: Estimated value generated
          example: 500.5
        cpe:
          type:
          - number
          - 'null'
          description: Cost per engagement
          example: 0.05
        cpm:
          type:
          - number
          - 'null'
          description: Cost per mille (thousand impressions)
          example: 2.5
        socialNetwork:
          type: string
          description: Name of the social network
          example: instagram
        contentUrl:
          type: string
          description: URL of the content
          example: https://www.instagram.com/p/ABC123/
        contentImageUrl:
          type: string
          description: URL of the content image
          example: https://example.com/image.jpg
        creatorProfile:
          description: Creator profile
          example:
            handleName: influencer123
            network: Instagram
            fullName: John Doe
            profileLink: https://instagram.com/johndoe
            profileImage: https://example.com/profile.jpg
          allOf:
          - $ref: '#/components/schemas/CreatorProfileDto'
      required:
      - activationId
      - creatorId
      - instanceId
      - creatorGlobalUserId
      - actionGroupId
      - postDate
      - socialNetwork
      - contentUrl
      - contentImageUrl
    CreatorProfileDto:
      type: object
      properties:
        handleName:
          type: string
          description: Handle name of the creator
          example: johndoe
        network:
          type: string
          description: Social network of the creator
          example: Instagram
        fullName:
          type:
          - string
          - 'null'
          description: Full name of the creator
          example: John Doe
        profileImage:
          type:
          - string
          - 'null'
          description: Profile image URL
          example: https://example.com/profile.jpg
        profileLink:
          type:
          - string
          - 'null'
          description: Profile link
          example: https://instagram.com/johndoe
      required:
      - handleName
      - network
    ReportingApiResponseDto:
      type: object
      properties:
        data:
          type: object
          additionalProperties: false
        meta:
          type:
          - object
          - 'null'
          description: Metadata containing page information
          properties:
            page:
              type: number
              example: 1
            totalPages:
              type: number
              example: 10
      required:
      - data
      - meta
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained from the OAuth2 token endpoint
