openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Tipalti Transfers API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: TipaltiTransfers
paths:
  /v1/tipalti/transfers/{rewardWinId}:
    get:
      operationId: getTipaltiTransfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TipaltiTransferWithStatusHistoryResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - TipaltiTransfers
      parameters:
      - in: path
        name: rewardWinId
        required: true
        schema:
          type: string
components:
  schemas:
    CreateTipaltiTransferResponse:
      description: Mirrors the payment-service TipaltiPaymentView returned by POST /tipalti-payments/register.
      properties:
        id:
          type: number
          format: double
        tipaltiPayeeId:
          type: number
          format: double
        refCode:
          type: string
        tipaltiPaymentId:
          type:
          - string
          - 'null'
        tipaltiBatchId:
          type:
          - string
          - 'null'
        amount:
          type: number
          format: double
        amountCurrencyCode:
          $ref: '#/components/schemas/TipaltiSupportedCurrencyCodes'
        paymentAmount:
          type:
          - number
          - 'null'
          format: double
        paymentAmountCurrency:
          type:
          - string
          - 'null'
        exchangeRate:
          type:
          - number
          - 'null'
          format: double
        actionGroupId:
          type: number
          format: double
        instanceId:
          type: string
        rewardWinId:
          type:
          - number
          - 'null'
          format: double
        latestStatus:
          $ref: '#/components/schemas/TipaltiPaymentStatus'
        statusHistory:
          items:
            $ref: '#/components/schemas/TipaltiPaymentStatusHistoryItem'
          type: array
      required:
      - id
      - tipaltiPayeeId
      - refCode
      - tipaltiPaymentId
      - tipaltiBatchId
      - amount
      - amountCurrencyCode
      - paymentAmount
      - paymentAmountCurrency
      - exchangeRate
      - actionGroupId
      - instanceId
      - rewardWinId
      - latestStatus
      - statusHistory
      type: object
      additionalProperties: false
    TipaltiPaymentStatusHistoryItem:
      type: object
      properties:
        id:
          type: number
          format: double
        transferId:
          type: number
          format: double
        providerStatusCode:
          type: string
        providerStatusMessage:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    TipaltiPaymentStatus:
      type: string
      enum:
      - INITIATED
      - SUBMITTING
      - SUBMITTED
      - SUBMITTED_UNCONFIRMED
      - PAYMENT_APPROVED
      - PROCESSING
      - SUCCESS
      - FAILED
      - PAYMENT_CANCELED
      - VOIDED
      - DEFERRED
    TipaltiTransferWithStatusHistoryResponse:
      $ref: '#/components/schemas/CreateTipaltiTransferResponse'
      description: 'GET /v1/tipalti/transfers/{rewardWinId} — the most recent attempt for a reward win with its

        status history. Same shape as the create response (payment-service TipaltiPaymentView).'
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    TipaltiSupportedCurrencyCodes:
      type: string
      enum:
      - USD
      - EUR
      - GBP
      - CAD
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
