openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Merge Tags Catalog API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: MergeTagsCatalog
paths:
  /v1/communities/{communityId}/campaigns/{campaignId}/merge-tags:
    get:
      operationId: getMergeTagsCatalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeTagsCatalogResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Campaign not found in this community
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - MergeTagsCatalog
      parameters:
      - in: path
        name: communityId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
components:
  schemas:
    CatalogResponseGroup:
      properties:
        tags:
          items:
            $ref: '#/components/schemas/CatalogResponseTag'
          type: array
        emptyTextI18nKey:
          type: string
        titleI18nKey:
          type: string
        key:
          type: string
      required:
      - tags
      - titleI18nKey
      - key
      type: object
    CatalogResponseTag:
      properties:
        subtitleI18nKey:
          type: string
        subtitle:
          type: string
        titleI18nKey:
          type: string
        title:
          type: string
        kind:
          type: string
          enum:
          - data
          - link
        key:
          type: string
      required:
      - kind
      - key
      type: object
    MergeTagsCatalogResponse:
      properties:
        groups:
          items:
            $ref: '#/components/schemas/CatalogResponseGroup'
          type: array
      required:
      - groups
      type: object
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
