openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Analytics API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Analytics
paths:
  /v1/reporting-details/influencer-incentive-info:
    get:
      operationId: GetInfluencerIncentiveCosts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InfluencerIncentiveDetailsResponse'
                type: array
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: rewardWinIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: listMemberIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: actionGroupId
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: globalUserId
        required: false
        schema:
          type: number
          format: double
  /v1/reporting-details/campaign-details:
    get:
      operationId: GetEnrichCampaignsData
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedCampaignsResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: campaignId
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
  /v1/reporting-details/creators-enrichment:
    get:
      operationId: GetCreatorsEnrichment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedCreatorsResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: globalUserId
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: communityId
        required: true
        schema:
          type: string
  /v1/reporting-details/v2/creators-enrichment:
    get:
      operationId: GetCreatorDetails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedCreatorsResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: globalUserId
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: communityId
        required: true
        schema:
          type: string
  /v1/reporting-details/v3/creators-enrichment:
    get:
      operationId: getCreatorDetailsMultiCommunity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedCreatorsResponseV3'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: globalUserIds
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
  /v1/reporting-details/content-enrichment:
    get:
      operationId: GetContentEnrichment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedContentResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: activationId
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: communityId
        required: true
        schema:
          type: string
      - in: query
        name: includeAdditionalCreatorProfileInfo
        required: false
        schema:
          type: boolean
          default: true
  /v1/reporting-details/v2/content-enrichment:
    get:
      operationId: GetContentEnrichmentV2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedContentResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: activationIds
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: includeAdditionalCreatorProfileInfo
        required: false
        schema:
          type: boolean
          default: true
  /v1/reporting-details/backfill:
    post:
      operationId: backfillAnalyticsServiceData
      responses:
        '200':
          description: OK
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackfillAnalyticsDataEntryPointJobPayload'
        required: true
  /v1/reporting-details/backfill-cost:
    post:
      operationId: backfillAnalyticsServiceData
      responses:
        '200':
          description: OK
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackfillAnalyticsCostDataJobPayload'
        required: true
  /v1/reporting-details/reviews:
    get:
      operationId: GetCampaignReviews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentReportResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Analytics
      parameters:
      - in: query
        name: campaignId
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: groupBy
        required: false
        schema:
          type: string
          default: TOTAL
components:
  schemas:
    ActivationContentNetwork:
      type: string
      enum:
      - blog
      - facebook
      - facebook_live
      - facebook_reel
      - facebook_group
      - image
      - instagram
      - instagram_reel
      - instagram_story
      - linkedin
      - musical_ly
      - pinterest
      - snapchat_story
      - tiktok
      - twitch_stream
      - twitter
      - youtube_video
      - youtube_shorts
      - video
    EnrichedCampaignData:
      properties:
        instanceId:
          type: string
        status:
          type: string
        internalDescription:
          type: string
        contentDueDate:
          type: string
          format: date-time
        description:
          type: string
        title:
          type: string
        endDate:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        campaignId:
          type: number
          format: double
      required:
      - campaignId
      type: object
    InfluencerIncentiveDetailsResponse:
      type: object
      properties: {}
    EnrichedCreatorsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TopPerformer'
          type: array
      required:
      - data
      type: object
      additionalProperties: false
    CreatorProfile:
      properties:
        network:
          type: string
        handleName:
          type: string
        profileLink:
          type: string
        profileImage:
          type: string
        fullName:
          type: string
      required:
      - network
      - handleName
      - profileLink
      - profileImage
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ContentInfo:
      properties:
        dateCreated:
          type: number
          format: double
        urlCanonical:
          type: string
        url:
          type: string
        text:
          type: string
        media:
          $ref: '#/components/schemas/ContentMedia'
        engagements:
          $ref: '#/components/schemas/ContentEngagements'
        status:
          type: string
          enum:
          - DRAFT
          - PUBLISHED
        type:
          type: string
        profile:
          type: object
        externalId:
          $ref: '#/components/schemas/ContentExternalIdentity'
      required:
      - media
      - type
      - profile
      type: object
    EnrichedCampaignsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EnrichedCampaignData'
          type: array
      required:
      - data
      type: object
      additionalProperties: false
    EnrichedContentResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EnrichedContentData'
          type: array
      required:
      - data
      type: object
      additionalProperties: false
    ContentMediaSize:
      properties:
        unit:
          type: string
          enum:
          - CENTIMETERS
          - MILLIMETERS
          - INCHES
          - PIXELS
          - PERCENT
          - POINTS
        height:
          type: number
          format: double
        width:
          type: number
          format: double
      required:
      - unit
      type: object
    EnrichedContentData:
      properties:
        network:
          $ref: '#/components/schemas/ActivationContentNetwork'
        content:
          $ref: '#/components/schemas/ContentInfo'
        activationId:
          type: number
          format: double
        globalUserId:
          type: number
          format: double
      required:
      - network
      - content
      - activationId
      - globalUserId
      type: object
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    TopPerformer:
      properties:
        globalUserId:
          type: number
          format: double
        profilePictureUrl:
          type: string
        fullName:
          type: string
        profiles:
          items:
            $ref: '#/components/schemas/CreatorProfile'
          type: array
      required:
      - globalUserId
      - profilePictureUrl
      - fullName
      - profiles
      type: object
      additionalProperties: false
    ContentReportResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ContentReport'
          type: array
      required:
      - data
      type: object
      additionalProperties: false
    ContentMedia:
      properties:
        videos:
          items:
            properties:
              duration:
                type: number
                format: double
              size:
                $ref: '#/components/schemas/ContentMediaSize'
              url:
                type: string
            required:
            - url
            type: object
          type: array
        images:
          items:
            properties:
              size:
                $ref: '#/components/schemas/ContentMediaSize'
              url:
                type: string
            required:
            - url
            type: object
          type: array
      type: object
    ContentReport:
      properties:
        dateGroup:
          type: string
        year:
          type: number
          format: double
        quarter:
          type: number
          format: double
        month:
          type: number
          format: double
        day:
          type: number
          format: double
        content:
          type: number
          format: double
        content_activated_members:
          type: number
          format: double
        likes:
          type: number
          format: double
        comments:
          type: number
          format: double
        shares:
          type: number
          format: double
        impressions:
          type: number
          format: double
        engagements:
          type: number
          format: double
        content_reach:
          type: number
          format: double
        facebook_engagements:
          type: number
          format: double
        facebook_post_engagements:
          type: number
          format: double
        facebook_live_engagements:
          type: number
          format: double
        facebook_reel_engagements:
          type: number
          format: double
        instagram_engagements:
          type: number
          format: double
        instagram_post_engagements:
          type: number
          format: double
        instagram_story_engagements:
          type: number
          format: double
        instagram_reel_engagements:
          type: number
          format: double
        twitter_engagements:
          type: number
          format: double
        pinterest_engagements:
          type: number
          format: double
        blog_engagements:
          type: number
          format: double
        youtube_engagements:
          type: number
          format: double
        youtube_shorts_engagements:
          type: number
          format: double
        snapchat_engagements:
          type: number
          format: double
        tiktok_engagements:
          type: number
          format: double
        twitch_streams_engagements:
          type: number
          format: double
        linkedin_engagements:
          type: number
          format: double
        facebook_impressions:
          type: number
          format: double
        facebook_post_impressions:
          type: number
          format: double
        facebook_live_impressions:
          type: number
          format: double
        facebook_reel_impressions:
          type: number
          format: double
        instagram_impressions:
          type: number
          format: double
        instagram_post_impressions:
          type: number
          format: double
        instagram_story_impressions:
          type: number
          format: double
        instagram_reel_impressions:
          type: number
          format: double
        twitter_impressions:
          type: number
          format: double
        pinterest_impressions:
          type: number
          format: double
        blog_impressions:
          type: number
          format: double
        youtube_impressions:
          type: number
          format: double
        youtube_shorts_impressions:
          type: number
          format: double
        snapchat_impressions:
          type: number
          format: double
        tiktok_impressions:
          type: number
          format: double
        twitch_streams_impressions:
          type: number
          format: double
        linkedin_impressions:
          type: number
          format: double
        facebook_content:
          type: number
          format: double
        facebook_post_content:
          type: number
          format: double
        facebook_live_content:
          type: number
          format: double
        facebook_reel_content:
          type: number
          format: double
        instagram_content:
          type: number
          format: double
        instagram_post_content:
          type: number
          format: double
        instagram_story_content:
          type: number
          format: double
        instagram_reel_content:
          type: number
          format: double
        twitter_content:
          type: number
          format: double
        pinterest_content:
          type: number
          format: double
        blog_content:
          type: number
          format: double
        youtube_content:
          type: number
          format: double
        youtube_shorts_content:
          type: number
          format: double
        snapchat_content:
          type: number
          format: double
        tiktok_content:
          type: number
          format: double
        twitch_streams:
          type: number
          format: double
        linkedin_content:
          type: number
          format: double
        non_network_content:
          type: number
          format: double
        non_network_images_uploaded:
          type: number
          format: double
        non_network_videos_uploaded:
          type: number
          format: double
        pinterest_comments:
          type: number
          format: double
        pinterest_clicks:
          type: number
          format: double
        pinterest_saves:
          type: number
          format: double
        pinterest_verified_impressions:
          type: number
          format: double
        member_registrations:
          type: number
          format: double
        activations:
          type: number
          format: double
        activated_members:
          type: number
          format: double
        surveys:
          type: number
          format: double
        reviews:
          type: number
          format: double
        emv_value:
          type:
          - number
          - 'null'
          format: double
        networks:
          items:
            $ref: '#/components/schemas/ActivationContentNetwork'
          type: array
        clicks:
          type: number
          format: double
        conversions:
          type: number
          format: double
        conversions_value:
          type: number
          format: double
      required:
      - dateGroup
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ContentEngagements:
      properties:
        avgWatchTime:
          type: number
          format: double
        videoCompletionRate:
          type: number
          format: double
        videoViewTotalTime:
          type: number
          format: double
        followersAtPostDate:
          type: number
          format: double
        engagements:
          type: number
          format: double
        reach:
          type: number
          format: double
        videoViews:
          type: number
          format: double
        viewsPaid:
          type: number
          format: double
        viewsOrganic:
          type: number
          format: double
        views:
          type: number
          format: double
        swipeUps:
          type: number
          format: double
        replies:
          type: number
          format: double
        clicks:
          type: number
          format: double
        impressions:
          type: number
          format: double
        retweets:
          type: number
          format: double
        saves:
          type: number
          format: double
        sharesPaid:
          type: number
          format: double
        sharesOrganic:
          type: number
          format: double
        shares:
          type: number
          format: double
        commentsPaid:
          type: number
          format: double
        commentsOrganic:
          type: number
          format: double
        comments:
          type: number
          format: double
        favorites:
          type: number
          format: double
        closeUps:
          type: number
          format: double
        likesPaid:
          type: number
          format: double
        likesOrganic:
          type: number
          format: double
        likes:
          type: number
          format: double
        hearts:
          type: number
          format: double
        audienceInterestDistribution:
          items:
            additionalProperties: true
          type:
          - array
          - 'null'
        audienceGendersDistribution:
          items:
            additionalProperties: true
          type:
          - array
          - 'null'
        audienceCountriesDistribution:
          items:
            additionalProperties: true
          type:
          - array
          - 'null'
        audienceAgeDistribution:
          items:
            additionalProperties: true
          type:
          - array
          - 'null'
      type: object
    ContentExternalIdentity:
      properties:
        alternativeIds:
          items:
            $ref: '#/components/schemas/ContentExternalIdentity'
          type: array
        type:
          type: string
        id:
          type: string
      required:
      - id
      type: object
    BackfillAnalyticsCostDataJobPayload:
      properties:
        preferedChunkSize:
          type: number
          format: double
        offset:
          type: number
          format: double
        limit:
          type: number
          format: double
        listMemberIds:
          items:
            type: number
            format: double
          type: array
        actionGroupIds:
          items:
            type: number
            format: double
          type: array
        communityIds:
          items:
            type: string
          type: array
      type: object
    BackfillAnalyticsDataEntryPointJobPayload:
      properties:
        delayBetweenAnalyticsServiceRequests:
          type: number
          format: double
        activationIdsPerAnalyticsServiceRequest:
          type: number
          format: double
        activationIdsPerJob:
          type: number
          format: double
        activationIds:
          items:
            type: number
            format: double
          type: array
        actionGroupIds:
          items:
            type: number
            format: double
          type: array
        communityIds:
          items:
            type: string
          type: array
        periodEnd:
          type: string
        periodStart:
          type: string
      type: object
    EnrichedCreatorsResponseV3:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TopPerformer'
          type: array
      required:
      - data
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
