openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Links API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Links
paths:
  /v1/action-groups/{id}/links:
    get:
      operationId: getLinks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksGetResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Links
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: listMemberId
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: includeDeleted
        required: false
        schema:
          type: boolean
      - in: query
        name: mavelyProfileId
        required: false
        schema:
          type: string
    post:
      operationId: postLinks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Links
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkPostRequest'
        required: true
  /v1/action-groups/{id}/links/{linkId}:
    put:
      operationId: updateLinks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksPostResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Links
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: linkId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkPutRequest'
        required: true
    delete:
      operationId: archiveLinks
      responses:
        '200':
          description: OK
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Links
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: linkId
        required: true
        schema:
          type: string
components:
  schemas:
    ResponseMetadata:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        status:
          type: string
          enum:
          - failure
          - success
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    Link:
      properties:
        id:
          type: number
          format: double
        link:
          type: string
        laterInfluenceCampaignId:
          type: number
          format: double
        destinationUrl:
          type: string
        title:
          type: string
        provider:
          type: string
        isDeleted:
          type: boolean
        deletedAt:
          type:
          - string
          - 'null'
        spec:
          $ref: '#/components/schemas/Spec'
        metrics:
          $ref: '#/components/schemas/LinkMetrics'
        urlData:
          $ref: '#/components/schemas/MavelyURLData'
        failedReason:
          type: object
      required:
      - id
      - link
      - laterInfluenceCampaignId
      - destinationUrl
      - title
      - provider
      - isDeleted
      - deletedAt
      type: object
      additionalProperties: false
    LinkMetrics:
      properties:
        clicksCount:
          type: number
          format: double
        salesCount:
          type: number
          format: double
        sales:
          type: string
        conversion:
          type: string
        commission:
          type: string
      required:
      - clicksCount
      - salesCount
      - sales
      - conversion
      - commission
      type: object
      additionalProperties: false
    MavelyURLData:
      properties:
        details:
          type: object
        metadata:
          type: object
      type: object
      additionalProperties: false
    LinkPutRequest:
      properties:
        title:
          type: string
        destinationUrl:
          type: string
      required:
      - title
      type: object
      additionalProperties: false
    LinksPostResponse:
      properties:
        data:
          $ref: '#/components/schemas/Link'
      type: object
      additionalProperties: false
    Spec:
      properties:
        id:
          type: number
          format: double
        title:
          type: string
        destinationUrl:
          type: string
        laterInfluenceCampaignId:
          type: number
          format: double
        provider:
          type: string
        isDeleted:
          type: boolean
        deletedAt:
          type:
          - string
          - 'null'
      required:
      - id
      - title
      - destinationUrl
      - laterInfluenceCampaignId
      - provider
      - isDeleted
      - deletedAt
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    LinkPostRequest:
      properties:
        mavelyProfileId:
          type: string
        specId:
          type: number
          format: double
        destinationUrl:
          type: string
        title:
          type: string
        provider:
          type: string
        laterInfluenceCampaignName:
          type: string
      required:
      - mavelyProfileId
      - destinationUrl
      - title
      - provider
      - laterInfluenceCampaignName
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    LinksGetResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
