openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Web Plugin Widgets API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: WebPluginWidgets
paths:
  /v1/web-plugin/widgets:
    get:
      operationId: getWebPluginWidgets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebPluginWidgetsResponse'
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Form tied to action not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - WebPluginWidgets
      parameters:
      - in: query
        name: communityId
        required: false
        schema:
          type: string
      - in: query
        name: initializationRuleType
        required: false
        schema:
          type: string
components:
  schemas:
    GetWebPluginWidgetsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/FilteredWidget'
          type: array
      required:
      - data
      type: object
      additionalProperties: false
    FilteredWidget:
      $ref: '#/components/schemas/Omit_DBWebPluginWidgets.id-or-createdAt-or-updatedAt-or-status_'
    Omit_DBWebPluginWidgets.id-or-createdAt-or-updatedAt-or-status_:
      $ref: '#/components/schemas/Pick_DBWebPluginWidgets.Exclude_keyofDBWebPluginWidgets.id-or-createdAt-or-updatedAt-or-status__'
      description: Construct a type with the properties of T except for those in type K.
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    Pick_DBWebPluginWidgets.Exclude_keyofDBWebPluginWidgets.id-or-createdAt-or-updatedAt-or-status__:
      properties:
        actionGroupId:
          type: number
          format: double
        communityId:
          type: string
        cssSelector:
          type:
          - string
          - 'null'
        initializationRuleType:
          type: string
        targetUrl:
          type:
          - string
          - 'null'
        urlRegexRule:
          type:
          - string
          - 'null'
        widgetHTML:
          type: string
        widgetType:
          type: string
      required:
      - actionGroupId
      - communityId
      - initializationRuleType
      - widgetHTML
      - widgetType
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
