openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Group High API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: GroupHigh
paths:
  /v1/grouphigh/graphs/lightbox-tiktok:
    get:
      operationId: getLightboxTikTokGraphs
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemographicsGraphsResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GroupHigh
      parameters:
      - in: query
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
components:
  schemas:
    DemographicsGraphsResponse:
      properties:
        graphs:
          items:
            $ref: '#/components/schemas/DemographicsGraph'
          type: array
      required:
      - graphs
      type: object
      description: '*

        Demographics Pro Graphs'
    GraphDatapoint:
      properties:
        value:
          type: number
          format: double
        display:
          type: string
      required:
      - value
      - display
      type: object
    DemographicsGraph:
      properties:
        data:
          items:
            $ref: '#/components/schemas/GraphDatapoint'
          type: array
        id:
          type: string
      required:
      - data
      - id
      type: object
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
