openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Event Logs API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: EventLogs
paths:
  /v1/event-logs:
    get:
      operationId: getEventLogs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventLogGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - EventLogs
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: offset
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: orderBy
        required: false
        schema:
          type: string
      - in: query
        name: eventType
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: resourceType
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: resourceId
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: invokedBy
        required: false
        schema:
          type: string
    post:
      operationId: postEventLog
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - EventLogs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventLogPostRequestBody'
        required: true
components:
  schemas:
    BadRequestError:
      properties:
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
        message:
          type: string
          enum:
          - Bad Request
      required:
      - message
      type: object
      additionalProperties: false
    EventLog:
      properties:
        communityId:
          type: string
        occurredAt:
          type: string
          format: date-time
        invokedBy:
          type: string
        eventType:
          type: string
        resourceType:
          type: string
        resourceId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        metadata:
          properties:
            rejectedBriefUpdate:
              type: boolean
            briefVersion:
              type: number
              format: double
            copiedFromActionGroupId:
              type: number
              format: double
          type:
          - object
          - 'null'
      required:
      - communityId
      - eventType
      - resourceType
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    EventLogPostRequestBody:
      properties:
        resourceId:
          type: number
          format: double
      required:
      - resourceId
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    EventLogGetResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EventLog'
          type: array
        meta:
          properties:
            orderBy:
              type: string
            offset:
              type: number
              format: double
            limit:
              type: number
              format: double
            totalCount:
              type: number
              format: double
          type: object
      required:
      - data
      - meta
      type: object
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
