openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Influencer Contract Campaign Templates API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: InfluencerContractCampaignTemplates
paths:
  /action-groups/{campaignId}/influencer-contract-templates:
    get:
      tags:
      - InfluencerContractCampaignTemplates
      operationId: getCampaignTemplate
      summary: Get influencer contract template for this action group, referred to as a campaign client-side.
      x-handler: influencer_contracts/campaign_templates/influencer_contract_campaign_template_controller.js
      x-access:
      - administrator
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: This campaign's influencer contract template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerContractCampaignTemplate'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - InfluencerContractCampaignTemplates
      x-access:
      - administrator
      x-handler: influencer_contracts/campaign_templates/influencer_contract_campaign_template_controller.js
      operationId: createCampaignTemplate
      summary: Create an influencer contract template for this campaign.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Influencer contract template successfully created for this action group, referred to as a campaign client-side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerContractCampaignTemplate'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /action-groups/{campaignId}/influencer-contract-templates/{id}:
    put:
      tags:
      - InfluencerContractCampaignTemplates
      x-access:
      - administrator
      x-handler: influencer_contracts/campaign_templates/influencer_contract_campaign_template_controller.js
      operationId: updateCampaignTemplate
      summary: Generate a contract for this campaign, and update this campaign's template if necessary.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/InfluencerContractCampaignTemplate'
      responses:
        '200':
          description: A campaign-level influencer template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerContractCampaignTemplate'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    InfluencerContractCampaignTemplate:
      type: object
      properties:
        id:
          type: integer
          description: Unique integer identifying a single campaign-level influencer contract template.
        campaignId:
          type: integer
          description: Unique integer identifying a single action group, referred to as a campaign client-side.
        template:
          type: string
          description: Campaign-level influencer contract template.
        contract:
          type: string
          description: Campaign-level influencer contract.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/AdministratorAccountsDeprecated'
    RoleDeprecated:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
    AdministratorAccountsDeprecated:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        communityId:
          type: string
        id:
          type: string
        image:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleDeprecated'
  parameters:
    InfluencerContractCampaignTemplate:
      name: data
      in: body
      required: true
      schema:
        type: object
        required:
        - campaignId
        - template
        properties:
          id:
            type: integer
            description: Unique integer identifying a single campaign-level influencer contract template.
          campaignId:
            type: integer
            description: Unique integer identifying a single action group, referred to as a campaign client-side.
          template:
            type: string
            description: Campaign-level influencer contract template.
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
