openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Preview Posts API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: PreviewPosts
paths:
  /v1/preview-posts:
    get:
      operationId: getPreviewPosts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/PreviewPost'
                    type: array
                required:
                - data
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PreviewPosts
      parameters:
      - in: query
        name: globalUserId
        required: false
        schema:
          type: number
          format: double
components:
  schemas:
    TikTokVideoViewsBySource:
      properties:
        source:
          type:
          - string
          - 'null'
        videoViews:
          type:
          - number
          - 'null'
          format: double
      required:
      - videoViews
      type: object
      additionalProperties: false
    TextSafeSearch:
      properties:
        profanityWordCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    ActivationContent:
      properties:
        ytbcLinkState:
          type: string
          enum:
          - PENDING
          - ACTIVE
          - DECLINED
          description: 'CMP-1107: BrandConnect VideoCollaboration consent state for a YouTube video

            (PENDING / ACTIVE / DECLINED). Absent for non-YouTube content or videos whose

            link state has not been synced. Populated by ActivationService::appendYtbcLinkState.'
        emvValue:
          type:
          - number
          - 'null'
          format: double
        followersAtPostDate:
          type: number
          format: double
        viewsPaid:
          type: number
          format: double
        viewsOrganic:
          type: number
          format: double
        views:
          type: number
          format: double
        videoViewsBySource:
          items:
            $ref: '#/components/schemas/TikTokVideoViewsBySource'
          type:
          - array
          - 'null'
        videoViewTotalTime:
          type: number
          format: double
        videoCompletionRate:
          type: number
          format: double
        video:
          type: string
        verifiedImpressions:
          type: number
          format: double
        updatedAt:
          type: string
          format: date-time
        text:
          type: string
        sharesPaid:
          type: number
          format: double
        sharesOrganic:
          type: number
          format: double
        shares:
          type: number
          format: double
        reach:
          type: number
          format: double
        privacy:
          type: string
        postLink:
          type: string
        postDate:
          type: string
        network:
          $ref: '#/components/schemas/ActivationContentNetwork'
        manuallyEnteredImpressions:
          type: number
          format: double
        likesPaid:
          type: number
          format: double
        likesOrganic:
          type: number
          format: double
        likes:
          type: number
          format: double
        influencerReportedImpressions:
          type: number
          format: double
        impressionsSource:
          type: string
        image:
          type: string
        isDeleted:
          type: boolean
        engagements:
          type: number
          format: double
        estimatedImpressionsUpdatedAt:
          type: string
          format: date-time
        estimatedImpressions:
          type: number
          format: double
        conversions:
          type: number
          format: double
        conversionValue:
          type: number
          format: double
        commentsPaid:
          type:
          - number
          - 'null'
          format: double
        commentsOrganic:
          type:
          - number
          - 'null'
          format: double
        comments:
          type: number
          format: double
        clicks:
          type: number
          format: double
        carouselPosts:
          items:
            additionalProperties: true
          type: array
        canonicalUrlId:
          type: number
          format: double
        benchmarkEngagementRate:
          type: number
          format: double
        benchmarkAverageEngagements:
          type: number
          format: double
        algorithmicImpressions:
          type: number
          format: double
        activationId:
          type: number
          format: double
        audienceInterestDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceInterestDistribution'
          type:
          - array
          - 'null'
        audienceGendersDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceGendersDistribution'
          type:
          - array
          - 'null'
        audienceCountriesDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceCountriesDistribution'
          type:
          - array
          - 'null'
        audienceAgeDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceAgeDistribution'
          type:
          - array
          - 'null'
      required:
      - emvValue
      - video
      - text
      - shares
      - privacy
      - postLink
      - network
      - likes
      - image
      - engagements
      - estimatedImpressions
      - conversions
      - conversionValue
      - comments
      - clicks
      - activationId
      type: object
    ActivationContentNetwork:
      type: string
      enum:
      - blog
      - facebook
      - facebook_live
      - facebook_reel
      - facebook_group
      - image
      - instagram
      - instagram_reel
      - instagram_story
      - linkedin
      - musical_ly
      - pinterest
      - snapchat_story
      - tiktok
      - twitch_stream
      - twitter
      - youtube_video
      - youtube_shorts
      - video
    BadRequestError:
      properties:
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
        message:
          type: string
          enum:
          - Bad Request
      required:
      - message
      type: object
      additionalProperties: false
    NetworkAccount:
      properties:
        averageEngagements:
          type: number
          format: double
        engagementRate:
          type: number
          format: double
        firstName:
          type: string
        followersCount:
          type: number
          format: double
        id:
          type: number
          format: double
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        reach:
          type: number
          format: double
        username:
          type: string
      required:
      - id
      type: object
      additionalProperties: false
    Activation:
      properties:
        actionId:
          type: string
        approvalStatus:
          type: string
        associatedAccount:
          $ref: '#/components/schemas/NetworkAccount'
        communityId:
          type: string
        content:
          $ref: '#/components/schemas/ActivationContent'
        createdAt:
          type: string
          format: date-time
        createdByAccountId:
          type: number
          format: double
        globalUserId:
          type: number
          format: double
        id:
          type: number
          format: double
        isApproved:
          type: boolean
        membershipId:
          type: number
          format: double
        selfReported:
          type: boolean
        ugcPhoto:
          type: string
        ugcText:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedByAccountId:
          type: number
          format: double
        tags:
          items:
            type: string
          type: array
      required:
      - actionId
      - approvalStatus
      - communityId
      - globalUserId
      - id
      - isApproved
      - membershipId
      - ugcPhoto
      - ugcText
      type: object
      additionalProperties: false
    TikTokAudienceCountriesDistribution:
      properties:
        country:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - country
      - percentage
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    TikTokAudienceAgeDistribution:
      properties:
        age:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - age
      - percentage
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    PreviewPost:
      properties:
        activation:
          $ref: '#/components/schemas/Activation'
        caption:
          type: string
        comments:
          type: number
          format: double
        id:
          type: number
          format: double
        imageUrl:
          type: string
        isSponsored:
          type: boolean
        likes:
          type: number
          format: double
        link:
          type: string
        mentions:
          items:
            type: string
          type: array
        network:
          type: string
        postId:
          type: string
        postedTime:
          type: string
        shares:
          type: number
          format: double
        source:
          type: string
        textSafeSearch:
          $ref: '#/components/schemas/TextSafeSearch'
        views:
          type: number
          format: double
        visualSafeSearch:
          $ref: '#/components/schemas/VisualSafeSearch'
        contentType:
          type: string
        brandMentions:
          items:
            type: string
          type: array
      type: object
      additionalProperties: false
    VisualSafeSearch:
      properties:
        adult:
          type: string
        medical:
          type: string
        racy:
          type: string
        spoof:
          type: string
        violence:
          type: string
      type: object
      additionalProperties: false
    TikTokAudienceGendersDistribution:
      properties:
        gender:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - percentage
      type: object
      additionalProperties: false
    TikTokAudienceInterestDistribution:
      properties:
        interestTag:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - interestTag
      - percentage
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
