openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Action Groups API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: ActionGroups
paths:
  /action-groups/{id}/re-order-actions:
    put:
      tags:
      - ActionGroups
      x-handler: actions/action_group_controller.js
      x-access:
      - administrator
      summary: Create an action.
      operationId: reOrderActions
      description: Accepts an ordered list of action ids
      parameters:
      - name: id
        in: path
        description: ID of action group
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Empty object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                actionIds:
                  type: array
                  items:
                    type: string
  /action-groups/{id}:
    get:
      x-handler: actions/action_group_controller.js
      x-access:
      - administrator
      - anonymous
      - root
      - influencer
      - shared-cipher
      summary: Retrieve an individual action group.
      operationId: getActionGroupById
      x-sharedCipherParameters:
        actionGroupId: id
      parameters:
      - name: id
        in: path
        description: ID of action group
        required: true
        schema:
          type: integer
      - name: hasActivated
        in: query
        description: Whether to return already activated actions in the action group.
        schema:
          type: boolean
      - name: simple
        in: query
        description: If true, then do not include associated data.
        schema:
          type: boolean
      responses:
        '200':
          description: An individual action group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupDeprecated'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ActionGroups
    put:
      x-handler: actions/action_group_controller.js
      x-access:
      - administrator
      - root
      summary: Update an action group.
      operationId: updateActionGroup
      parameters:
      - name: id
        in: path
        description: ID of action group
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Empty object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource non-existent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Resource conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ActionGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupDeprecated'
    delete:
      x-handler: actions/action_group_controller.js
      x-access:
      - administrator
      - root
      tags:
      - ActionGroups
      summary: Delete an action group.
      operationId: destroyActionGroup
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Action group deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /action-groups/{id}/unarchive:
    post:
      x-handler: actions/action_group_controller.js
      summary: Unarchive/Restore an action group
      x-access:
      - administrator
      tags:
      - ActionGroups
      operationId: unarchive
      parameters:
      - name: id
        in: path
        description: ID of action group
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Unarchival successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /action-groups:
    get:
      x-access:
      - administrator
      - influencer
      - mvk-s2s
      - root
      x-handler: actions/action_group_controller.js
      summary: Retrieve all action groups.
      operationId: getAllActionGroups
      responses:
        '200':
          description: An array of action groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  data:
                    items:
                      $ref: '#/components/schemas/ActionGroupDeprecated'
                    type: array
                  pagination:
                    type: object
                    properties:
                      next:
                        type: string
        '400':
          description: Invalid/missing parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: q
        in: query
        description: Search for action group title.
        schema:
          type: string
      - description: CSV of desired statuses (e.g. status=LIVE,PAUSED)
        name: status
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: sortable
        in: query
        description: Whether an action group is available to be sorted.
        schema:
          type: boolean
      - name: campaignId
        in: query
        description: Campaign Id
        schema:
          type: integer
      - name: audienceId
        in: query
        description: Audience Id
        schema:
          type: integer
      - name: communityId
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
          enum:
          - create
          - amplify
          - survey
          - review
          - follow
          - view
          - other
      - name: hasActivated
        in: query
        description: Whether to return already activated actions in the action group.
        schema:
          type: boolean
      - name: eligibleToAddInfluencers
        in: query
        description: Whether to return only action groups that have an application.
        schema:
          type: boolean
      - name: actionsNotIncluded
        in: query
        description: Whether to return action groups without actions included.
        schema:
          type: boolean
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/channel'
      - $ref: '#/components/parameters/orderDirection'
      - name: orderProperty
        in: query
        schema:
          type: string
          enum:
          - draftDueDate
          - contentDueDate
          - startDate
          - endDate
          - createdAt
          - activatedUsersMetrics
          - engagementsMetrics
          - clicksMetrics
          - impressionsMetrics
          - conversionsCountMetrics
          - conversionsValueMetrics
      - name: includeExportData
        in: query
        description: Whether to return action groups with the incentives summary and all affiliate data included. Used for the export.
        schema:
          type: boolean
      - name: ids
        in: query
        description: A comma-separated list of action group ids.
        schema:
          type: array
          items:
            type: integer
      - name: simple
        in: query
        description: If set to true, this will only return action group attributes. Only usable by administrators and other mvk services.
        schema:
          type: boolean
      - name: communityIds
        in: query
        schema:
          type: array
          items:
            type: string
      tags:
      - ActionGroups
    post:
      x-handler: actions/action_group_controller.js
      x-access:
      - administrator
      summary: Create an action group.
      operationId: createActionGroup
      responses:
        '200':
          description: ActionGroup URI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupURI'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Either the campaign or audience was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ActionGroups
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                audienceId:
                  type: integer
                startDate:
                  format: date-time
                  type: string
                  description: The scheduled time in which the action group will become available to influencers.
                endDate:
                  format: date-time
                  type:
                  - string
                  - 'null'
                  description: The scheduled time in which the action group will no longer be available to influencers.
                image:
                  type: string
                  description: For non-custom action groups, this will set the image on its child actions.
                type:
                  type: string
                  default: custom
                url:
                  type: string
                  description: If type is content, then this is provided to generate the child actions.
                title:
                  type: string
                  description: When not auto-generated, this is provided as a title for the activity.
                name:
                  type: string
                  description: When not auto-generated, this is provided as a name (self-service use) for the activity.
                description:
                  type: string
                  description: When not auto-generated, this is provided as a description for the activity.
                network:
                  type: string
                  description: An optional network that can be specified for an activity such as photo challenge.
                multipleActivations:
                  type: boolean
                  description: Indicates whether this action group's performance action(s) can be completed multiple times. Only available for photoChallenge.
                list:
                  type: boolean
                  description: Indicates whether this action group has a custom list.
                ftcHashtag:
                  type: string
                  description: FTC hashtag for an action group (not required).
                requiredHashtag:
                  type: string
                  description: Required hashtag for an action group.
                internalDescription:
                  type: string
                  description: Action group level description, internal to brand.
                activityBudget:
                  type: number
                  description: Budget for all actions in action group.
                numberOfInfluencers:
                  type: integer
                  description: Target number of influencers for all actions under an action group.
                contentDueDate:
                  type:
                  - string
                  - 'null'
                  description: Due date for content on an action group.
                draftDueDate:
                  type:
                  - string
                  - 'null'
                  description: Due date for drafts on an action group.
                globalUserListId:
                  type: integer
  /action-groups/{actionGroupId}/candidates/{globalUserId}/conversations:
    get:
      tags:
      - ActionGroups
      x-handler: action_group_candidates/candidate_conversation_controller.js
      x-access:
      - administrator
      operationId: getActionGroupCandidateConversations
      parameters:
      - name: actionGroupId
        in: path
        required: true
        schema:
          type: integer
      - name: globalUserId
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/orderDirection'
      - name: orderProperty
        in: query
        schema:
          type: string
          enum:
          - mostRecentMessageCreatedAt
      - name: isArchived
        in: query
        schema:
          type: boolean
      - name: markedAsUnread
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Collection of conversations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ConversationResponseMetadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group or global user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /account/action-groups/{id}/subscriber-settings:
    put:
      tags:
      - ActionGroups
      operationId: updateSubscriberSettingsForAccount
      x-handler: action_group_subscribers/account_action_group_subscribers_controller.js
      x-access:
      - administrator
      summary: Update subscriber settings for a campaign for an authenticated account.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Subscriber settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        '400':
          description: Missing or invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribed:
                  type: boolean
        required: true
  /action-groups/{actionGroupId}/bulk-message:
    post:
      tags:
      - ActionGroups
      operationId: sendBulkMessageForActionGroup
      x-handler: actions/action_group_bulk_message_controller.js
      x-access:
      - administrator
      summary: Send a message to specified action group candidates.
      parameters:
      - name: actionGroupId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/Message'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                globalUserIds:
                  type: array
                  items:
                    type: integer
                subject:
                  type: string
                html:
                  type: string
                conversationTemplateId:
                  type: integer
                excludePastRecipients:
                  type: boolean
                addTalentManager:
                  type: boolean
                attachments:
                  type: array
                  items:
                    $ref: '#/components/schemas/Attachment'
                queryFilter:
                  $ref: '#/components/schemas/ActionGroupCandidateQueryFilter'
        required: true
  /action-groups/{actionGroupId}/list-members/{globalUserId}:
    post:
      tags:
      - ActionGroups
      operationId: sendMessageForActionGroup
      x-handler: actions/action_group_message_controller.js
      x-access:
      - administrator
      summary: Send a message to specified List Member.
      parameters:
      - name: actionGroupId
        in: path
        required: true
        schema:
          type: integer
      - name: globalUserId
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/OutboundMessage'
      responses:
        '200':
          description: Message sent successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversationId:
                    type: integer
                  message:
                    $ref: '#/components/schemas/Message'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /action-groups/{id}/setup-alerts:
    get:
      tags:
      - ActionGroups
      operationId: getSetupAlert
      summary: If necessary, return campaign setup alert to marketer.
      x-handler: actions/action_group_setup_alerts_controller.js
      x-access:
      - administrator
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: alert
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An alert.
          content:
            application/json:
              schema:
                properties:
                  alert:
                    type: string
        '400':
          description: Invalid or missing parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /action-groups/{id}/workflow-status-summary:
    get:
      x-handler: workflow/workflow_status_buckets/workflow_status_buckets_controller.js
      summary: Retrieve a summary of list member counts through the workflow stages.
      x-access:
      - administrator
      operationId: getWorkflowStatusBuckets
      tags:
      - ActionGroups
      parameters:
      - name: id
        in: path
        description: ID of action group
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A Summary of list members in the workflow of this campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowStatusBuckets'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/action-groups/{id}/subscriber-settings:
    get:
      operationId: getSubscriberSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberSettings'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActionGroups
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
  /v1/action-groups/{id}/copies:
    post:
      operationId: copyActionGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupPostResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActionGroups
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupCopyPostBody'
        required: true
  /v1/action-group-teaser/{id}:
    get:
      operationId: getActionGroupTeaserById
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupTeaserGetResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActionGroups
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
  /v1/action-groups/{actionGroupId}/incentives/{id}:
    put:
      operationId: assignIncentiveToActionGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Invalid/missing parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActionGroups
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupIncentivePutBody'
        required: true
    delete:
      operationId: unassignIncentiveFromActionGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Invalid/missing parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActionGroups
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
components:
  schemas:
    ResponseMetadata:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        status:
          type: string
          enum:
          - failure
          - success
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    BonusTier:
      description: 'Swagger 2 representation of a tiered bonus entry.


        `upperBound` is required for `BOUNDED` tiers and must be omitted for

        `OPEN_ENDED` tiers. The bonus-tier validator enforces that conditional rule.


        Validation rules:

        - `bonusTiers` may contain at most 5 tiers.

        - Tiers must be sorted by `lowerBound`.

        - Adjacent tiers must be contiguous.

        - The final tier must be `OPEN_ENDED`.

        - `bonusTierCurrencyCode` is required when `bonusTiers` is non-empty.'
      properties:
        type:
          type: string
          enum:
          - BOUNDED
          - OPEN_ENDED
        lowerBound:
          type: number
          format: double
          description: Inclusive lower conversion/order bound for this payout tier. Must be non-negative.
        upperBound:
          type: number
          format: double
          description: Exclusive upper conversion/order bound for a `BOUNDED` tier.
        bonusAmount:
          type: number
          format: double
          description: Bonus payout amount in `bonusTierCurrencyCode`. Must be positive.
      required:
      - type
      - lowerBound
      - bonusAmount
      type: object
      additionalProperties: false
    ActionGroupIncentivePutBody:
      properties:
        id:
          type: number
          format: double
        actionGroupId:
          type: number
          format: double
        unlockEvent:
          $ref: '#/components/schemas/IncentiveUnlockEvent'
      required:
      - actionGroupId
      type: object
      additionalProperties: false
    WorkflowStatusRequirementDeprecated:
      type: object
      properties:
        satisfied:
          type: boolean
        incentiveId:
          type: number
        name:
          type: string
    UserSearch:
      type: object
      additionalProperties: false
      properties:
        DemographicsPro_Audience_Data_Analysis:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_MaritalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_ParentalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Race_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Language_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_State_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_City_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_EducationStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_PersonalIncome_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Occupation_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Industry_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Employer_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_EducationOrganization_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_LikesAndInterests_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_PeopleInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_MediaInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_BrandInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicGenre_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicSoloArtist_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicBands_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportsFollowed_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportTeamSupported_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_BrandInfluences_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Country_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Gender_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Age_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Race_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Language_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
        DemographicsPro_Audience_Data_Analysis_Facebook:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_City_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
        DemographicsPro_Audience_Data_Analysis_TikTok:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_MaritalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_ParentalStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Race_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Language_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_State_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_City_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_EducationStatus_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_PersonalIncome_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Occupation_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Industry_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Employer_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_EducationOrganization_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_LikesAndInterests_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_PeopleInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_MediaInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_BrandInfluences_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicGenre_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicSoloArtist_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Favorite_MusicBands_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportsFollowed_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_SportTeamSupported_Max:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_Gender_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Age_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Race_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Language_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_Country_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
                range:
                  type: object
                  additionalProperties: false
                  properties:
                    $gte:
                      type: number
                    $lte:
                      type: number
            DemographicsPro_Audience_State_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
            DemographicsPro_Audience_City_All:
              type: object
              additionalProperties: false
              x-filter-type: multiTerm
              properties:
                quantifier:
                  type: string
                  enum:
                  - any
                  - all
                ids:
                  type: array
                  items:
                    type:
                    - integer
                    - string
        DemographicsPro_Audience_Data_Analysis_Snapchat:
          type: object
          additionalProperties: false
          properties:
            DemographicsPro_Audience_Age_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Country_Max:
              type: array
              x-filter-type: term
              items:
                type: string
            DemographicsPro_Audience_Gender_Max:
              type: array
              x-filter-type: term
              items:
                type: string
        memberSelectedEthnicities:
          type: object
          additionalProperties: false
          properties:
            ethnicGroup:
              type: array
              x-filter-type: term
              items:
                type: string
        dataPoints:
          type: object
          x-filter-type: terms
        instagramAccount:
          type: object
          additionalProperties: false
          properties:
            isBusiness:
              type: boolean
              x-filter-type: boolean
            isPrivate:
              type: boolean
              x-filter-type: boolean
            handle:
              type: array
              x-filter-type: term
              items:
                type: string
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageLikes:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageComments:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        facebookProfile:
          type: object
          additionalProperties: false
          properties:
            reach:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageLikes:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageComments:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        tiktokCreator:
          type: object
          additionalProperties: false
          properties:
            status:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantAgeRange:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantCountry:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantDevice:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantGender:
              type: array
              x-filter-type: term
              items:
                type: string
            audiencePredominantLocale:
              type: array
              x-filter-type: term
              items:
                type: string
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        accountType:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - Business
            - Brand
            - Creator
            - Influencer
        twitterAccount:
          type: object
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageFavorites:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageRetweets:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        pinterestAccount:
          type: object
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            monthlyViewers:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            averageEngagements:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            boardsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            pinsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        appMembership:
          type: object
          additionalProperties: false
          properties:
            totalImpressions:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            lifetimeClicks:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            lifetimeConversions:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            lifetimeConversionsValue:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            mostRecentActivationDate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: string
                  format: date
        registeredInfluencer:
          type: object
          additionalProperties: false
        hasPosted:
          type: object
          additionalProperties: false
        blog:
          type: object
          x-filter-type: exists
          additionalProperties: false
        youtubeChannel:
          type: object
          x-filter-type: exists
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        snapchatAccount:
          type: object
          x-filter-type: exists
          additionalProperties: false
          properties:
            followersCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            engagementRate:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            profileTier:
              type: array
              x-filter-type: term
              items:
                type: string
                enum:
                - TIER_STANDARD
                - TIER_PUBLIC_OFFICIAL
                - TIER_PUBLIC
            profileType:
              type: array
              x-filter-type: term
              items:
                type: string
                enum:
                - Emerging Creator
                - Snap Star
                - Business
                - Official Business
            shareAuthorizedDataWithApiPartners:
              type: boolean
              additionalProperties: false
              x-filter-type: boolean
        customInfluencerStatusId:
          type: object
          additionalProperties: true
        dueDate:
          type: object
          additionalProperties: true
        audienceLocation:
          type: object
          x-filter-type: $or
          additionalProperties: false
          properties:
            audiencePredominantCity:
              type: array
              items:
                type: string
            audiencePredominantCountry:
              type: array
              items:
                type: string
        hasSponsoredContent:
          type: object
          x-filter-type: $or
          properties:
            instagramPost.isSponsored:
              type: array
              items:
                type: boolean
            tiktokPosts.isSponsored:
              type: array
              items:
                type: boolean
        globalPerformanceComposites:
          type: array
          items:
            type: object
            properties:
              fields:
                type: array
                items:
                  type: string
                  enum:
                  - emv
                  - roi
                  - cpp
                  - cpe
                  - cpm
                  - sponsoredContentEmv
                  - sponsoredContentRoi
                  - sponsoredContentCpp
                  - sponsoredContentCpe
                  - sponsoredContentCpm
              payload:
                x-filter-type: range
                properties:
                  $gte:
                    type: number
                  $lte:
                    type: number
        globalPerformanceMetrics:
          type: object
          additionalProperties: false
          properties:
            emv:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            roi:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            cpp:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            cpe:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            cpm:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentEmv:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentRoi:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentCpp:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentCpe:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            sponsoredContentCpm:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            costPerMavelyLinkClick:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            hasTrackingOrAffiliateLinksData:
              type: boolean
              additionalProperties: false
              x-filter-type: boolean
            brandsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            campaignsCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
            boundContentCount:
              type: object
              additionalProperties: false
              x-filter-type: range
              properties:
                $gte:
                  type: number
                $lte:
                  type: number
        city:
          type: string
          x-filter-type: text
        unverified:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - hidden
            - emails
            - excludes
        country:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - Afghanistan
            - Albania
            - Algeria
            - American Samoa
            - Andorra
            - Angola
            - Anguilla
            - Antarctica
            - Antigua and Barbuda
            - Argentina
            - Armenia
            - Aruba
            - Australia
            - Austria
            - Azerbaijan
            - Bahrain
            - Bangladesh
            - Barbados
            - Belarus
            - Belgium
            - Belize
            - Benin
            - Bermuda
            - Bhutan
            - Bolivia
            - Bosnia and Herzegovina
            - Botswana
            - Bouvet Island
            - Brazil
            - British Indian Ocean Territory
            - British Virgin Islands
            - Brunei
            - Bulgaria
            - Burkina Faso
            - Burundi
            - Cambodia
            - Cameroon
            - Canada
            - Cape Verde
            - Caribbean Netherlands
            - Cayman Islands
            - Central African Republic
            - Chad
            - Chile
            - China
            - Christmas Island
            - Cocos (Keeling) Islands
            - Collectivity of Saint Martin
            - Colombia
            - Comoros
            - Cook Islands
            - Costa Rica
            - Côte d'Ivoire
            - Croatia
            - Cuba
            - Curaçao
            - Cyprus
            - Czechia
            - Democratic Republic of the Congo
            - Denmark
            - Djibouti
            - Dominica
            - Dominican Republic
            - Ecuador
            - Egypt
            - El Salvador
            - Equatorial Guinea
            - Eritrea
            - Estonia
            - Ethiopia
            - Falkland Islands (Malvinas)
            - Faroe Islands
            - Federated States of Micronesia
            - Fiji
            - Finland
            - France
            - French Guiana
            - French Polynesia
            - French Southern Territories
            - Gabon
            - Georgia
            - Germany
            - Ghana
            - Gibraltar
            - Greece
            - Greenland
            - Grenada
            - Guadeloupe
            - Guam
            - Guatemala
            - Guernsey
            - Guinea
            - Guinea-Bissau
            - Guyana
            - Haiti
            - Heard Island and McDonald Islands
            - Holy See (Vatican City)
            - Honduras
            - Hong Kong
            - Hungary
            - Iceland
            - India
            - Indonesia
            - Iran
            - Iraq
            - Ireland
            - Isle of Man
            - Israel
            - Jamaica
            - Japan
            - Italy
            - Jersey
            - Jordan
            - Kazakhstan
            - Kenya
            - Kiribati
            - Kuwait
            - Kyrgyzstan
            - Laos
            - Latvia
            - Lebanon
            - Lesotho
            - Liberia
            - Libya
            - Liechtenstein
            - Lithuania
            - Luxembourg
            - Macau
            - Macedonia (FYROM)
            - Madagascar
            - Malawi
            - Malaysia
            - Maldives
            - Mali
            - Malta
            - Marshall Islands
            - Martinique
            - Mauritania
            - Mauritius
            - Mayotte
            - Mexico
            - Moldova
            - Monaco
            - Mongolia
            - Montenegro
            - Montserrat
            - Morocco
            - Mozambique
            - Myanmar (Burma)
            - Namibia
            - Nauru
            - Nepal
            - Netherlands
            - New Caledonia
            - New Zealand
            - Nicaragua
            - Niger
            - Nigeria
            - Niue
            - Norfolk Island
            - North Korea
            - Northern Mariana Islands
            - Norway
            - Oman
            - Pakistan
            - Palau
            - Palestine
            - Panama
            - Papua New Guinea
            - Paraguay
            - Peru
            - Philippines
            - Pitcairn
            - Poland
            - Portugal
            - Puerto Rico
            - Qatar
            - Republic of the Congo
            - Reunion
            - Romania
            - Russia
            - Rwanda
            - Saint Helena, Ascension and Tristan da Cunha
            - Saint Kitts and Nevis
            - Saint Lucia
            - Saint Pierre and Miquelon
            - Saint Vincent and the Grenadines
            - Saint-Barthélemy
            - Samoa
            - San Marino
            - Sao Tome and Principe
            - Saudi Arabia
            - Senegal
            - Serbia
            - Seychelles
            - Sierra Leone
            - Singapore
            - Sint Maarten (Dutch part)
            - Slovakia
            - Slovenia
            - Solomon Islands
            - Somalia
            - South Africa
            - South Georgia and the South Sandwich Islands
            - South Korea
            - South Sudan
            - Spain
            - Sri Lanka
            - Sudan
            - Suriname
            - Svalbard and Jan Mayen
            - Swaziland
            - Sweden
            - Switzerland
            - Syria
            - Taiwan
            - Tajikistan
            - Tanzania
            - Thailand
            - The Bahamas
            - The Gambia
            - Timor-Leste
            - Togo
            - Tokelau
            - Tonga
            - Trinidad and Tobago
            - Tunisia
            - Turkey
            - Turkmenistan
            - Turks and Caicos Islands
            - Tuvalu
            - U.S. Virgin Islands
            - Uganda
            - Ukraine
            - United Arab Emirates
            - United Kingdom
            - United States Minor Outlying Islands
            - United States
            - Uruguay
            - Uzbekistan
            - Vanuatu
            - Venezuela
            - Vietnam
            - Wallis and Futuna
            - Western Sahara
            - Yemen
            - Zambia
            - Zimbabwe
            - Åland Islands
        gender:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - male
            - female
            - other
            - non_bin
            - describe
        state:
          type: array
          x-filter-type: term
          items:
            type: string
        zip:
          type: array
          x-filter-type: term
          items:
            type: string
        audiencePredominantCountry:
          type: array
          x-filter-type: term
          items:
            type: string
        audiencePredominantAgeRange:
          type: array
          x-filter-type: term
          items:
            type: string
        audiencePredominantCity:
          type: array
          x-filter-type: term
          items:
            type: string
        audienceFraudLevel:
          type: array
          x-filter-type: term
          items:
            type: string
            enum:
            - low
            - medium
            - high
        age:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        birthday:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        audiencePercentageFemale:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        cpe:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        cpm:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        cpp:
          type: object
          additionalProperties: false
          x-filter-type: range
          properties:
            $gte:
              type: number
            $lte:
              type: number
        lists:
          type: object
          additionalProperties: false
          x-filter-type: multiTerm
          properties:
            quantifier:
              type: string
              enum:
              - any
              - all
            ids:
              type: array
              items:
                type:
                - integer
                - string
        topics:
          type: object
          additionalProperties: false
          x-filter-type: multiTerm
          properties:
            quantifier:
              type: string
              enum:
              - any
              - all
            ids:
              type: array
              items:
                type:
                - integer
                - string
    QuestionDeprecated:
      type: object
      properties:
        id:
          type: integer
          description: The question ID
        key:
          type: string
          description: Unique key of the question
        type:
          type: string
          description: Indicates the HTML tag that is used to dynamically render this question.
        className:
          type: string
          description: Additional classes for fields styling and formatting.
        questionText:
          type: string
          description: The text of the question
        markUpQuestionText:
          type: string
          description: The text of the question with HTML markup
        questionResponses:
          x-access:
          - root
          - administrator
          type: array
          items:
            type: object
        maxResponses:
          type: integer
          description: Maximum length of responses allowed for this question.
        hasResponses:
          x-access:
          - root
          - administrator
          type: boolean
        templateOptions:
          type: object
          properties:
            type:
              type: string
              description: Indicates the data type to be submitted for this question in the form response.
            label:
              type: string
              description: Human-readable label for the question.
            placeholder:
              type: string
              description: Placeholder text to be display in the input field.
            maxUploads:
              type: integer
              description: Maximum uploads for file upload questions
            accept:
              type: string
              description: The accepted file extension types for file upload questions
            required:
              type: boolean
              description: Required value for the question
            min:
              type: integer
              description: Minimum number allowed for a number type
            max:
              type: integer
              description: Maximum number allowed for a number type
            minlength:
              type: integer
              description: Minimum length of string allowed for a text type
            maxlength:
              type: integer
              description: Maximum length of string allowed for a text type
            options:
              type: array
              description: Array of possible options for a radio type
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Text to show for option
                  value:
                    type: string
                    description: Key for option
        dataPointDefinitionId:
          type: integer
          description: Use a data point definition to create a question.
          x-access:
          - administrator
          - root
        dataPointDefinition:
          $ref: '#/components/schemas/DataPointDefinitionDeprecated'
        required:
          type: boolean
        order:
          type: integer
        hideFromInfluencers:
          type: boolean
    RoutingDeprecated:
      type: object
      description: Routing configuration.
      properties:
        success:
          $ref: '#/components/schemas/RoutingOptionsDeprecated'
        not_eligible:
          $ref: '#/components/schemas/RoutingOptionsDeprecated'
    AudienceDeprecated:
      type: object
      x-access:
      - root
      - administrator
      properties:
        id:
          type: integer
          description: Unique identifier representing a single audience.
        name:
          type: string
          description: Human-readable description of the audience displayed to administrators.
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/InfluencerDataPointCriteriaDeprecated'
    MessageRecipient:
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
        email:
          type: string
        emailId:
          type: integer
        role:
          type: string
          enum:
          - from
          - to
          - cc
    NetworkSlug:
      type: string
      enum:
      - blog
      - facebook
      - facebook_group
      - facebook_live
      - facebook_reel
      - image
      - instagram
      - instagram_reel
      - instagram_story
      - linkedin
      - pinterest
      - snapchat_story
      - tiktok
      - twitch_stream
      - twitter
      - video
      - youtube_video
      - youtube_shorts
    BazaarVoiceAppProductDeprecated:
      type: object
      properties:
        reviewProductId:
          type: integer
          description: Product id assigned by Mavrck
        externalBazaarProductId:
          type: string
          description: Product id assigned by BazaarVoice
    DataPointDefinitionDeprecated:
      type: object
      required:
      - name
      - multi
      - customSet
      - type
      properties:
        id:
          type: integer
          description: Unique identifier for the data point.
        key:
          type: string
          description: Key for the datapoint
        name:
          type: string
          description: Display name for the data point.
        description:
          type: string
          description: The description of the datapoint definition
          x-access:
          - root
          - administrator
        multi:
          type: boolean
          description: Boolean indicating whether multiple responses are allowed.
        customSet:
          type: boolean
          description: Boolean indicating whether there is a custom set of responses, otherwise it is free-form.
        type:
          type: string
          description: Type of the data point, e.g. string, integer_range.
        markUpDescription:
          type: string
          description: The markup display description for the data point.
        communityId:
          type: integer
          description: The communityId to which this data point definition belongs.
          x-access:
          - root
        createdAt:
          type: string
          format: date-time
          description: Date time data point created.
          x-access:
          - root
          - administrator
        updatedAt:
          type: string
          format: date-time
          description: Date time data point updated.
          x-access:
          - root
          - administrator
        mergeTag:
          type: boolean
          description: 1 if the data point should be included as a merge tag, 0 otherwise
        archived:
          type: boolean
          description: 1 if the data point is archived, 0 if it is not
        setElements:
          $ref: '#/components/schemas/DataPointDefinitionSetElementDeprecated'
        membersCompleted:
          type: integer
          description: The count of members who have completed this data point.
          x-access:
          - administrator
        actionGroups:
          type: array
[...]
