openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Instagram Account API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: InstagramAccount
paths:
  /v1/instagram-profiles/update-profile-picture:
    post:
      operationId: updateInstagramProfilePicture
      responses:
        '200':
          description: OK
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - InstagramAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInstagramProfilePictureRequest'
        required: true
      summary: Update instagram profile picture
      x-summary-source: derived
  /v1/instagram-profiles/{instagramProfileId}/active:
    post:
      operationId: activateInstagramProfile
      responses:
        '200':
          description: OK
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - InstagramAccount
      parameters:
      - in: path
        name: instagramProfileId
        required: true
        schema:
          type: number
          format: double
      summary: Activate instagram profile
      x-summary-source: derived
components:
  schemas:
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    UpdateInstagramProfilePictureItem:
      properties:
        imageUrl:
          type:
          - string
          - 'null'
        instagramProfileId:
          type: number
          format: double
      required:
      - instagramProfileId
      type: object
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    UpdateInstagramProfilePictureRequest:
      items:
        $ref: '#/components/schemas/UpdateInstagramProfilePictureItem'
      type: array
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
