openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Bulk Assign Custom Statuses Requirements API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: BulkAssignCustomStatusesRequirements
paths:
  /v1/action-groups/{actionGroupId}/bulk-assign-custom-statuses-requirements:
    get:
      operationId: getRequirements
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkAssignCustomStatusesRequirementsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - BulkAssignCustomStatusesRequirements
      parameters:
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: listId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: expectedNumberOfInfluencers
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: currentCustomStatusId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: targetCustomStatusId
        required: true
        schema:
          type: number
          format: double
components:
  schemas:
    BadRequestError:
      properties:
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
        message:
          type: string
          enum:
          - Bad Request
      required:
      - message
      type: object
      additionalProperties: false
    WorkflowStatusRequirement:
      properties:
        type:
          type: string
          enum:
          - promo_code
        satisfied:
          type: boolean
      required:
      - type
      - satisfied
      type: object
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    BulkAssignCustomStatusesRequirementsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/WorkflowStatusRequirement'
          type: array
      required:
      - data
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
