openapi: 3.2.0
info:
  title: Later Influence™ Social Network Level API
  description: '# Description

    The Reporting API enables deep analysis and reporting of marketing campaigns, social media performance, and influencer effectiveness.'
  version: 1.2.1
  contact:
    name: Developer
    url: https://help-influence.later.com/hc/en-us
    email: urvash.chheda@later.com
  termsOfService: https://later.com/terms/
servers:
- url: https://api.mavrck.co
security:
- JWT: []
tags:
- name: Social Network Level
paths:
  /v1/reporting/network/performance:
    get:
      description: Get social networks performance details.
      operationId: getNetworkPerformance
      parameters:
      - name: startDate
        required: true
        in: query
        description: Start date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: instanceIds
        required: false
        in: query
        description: A list of instance ids. If not provided, all instances associated with the API credentials will be considered.
        schema:
          type: array
          items:
            type: string
      - name: campaignIds
        required: false
        in: query
        description: A list of campaign ids (max 50 items)
        schema:
          type: array
          items:
            type: number
      - name: reportingGroupIds
        required: false
        in: query
        description: A list of reporting group ids
        schema:
          type: array
          items:
            type: string
      - name: pageSize
        required: false
        in: query
        description: Number of items per page
        schema:
          default: 50
          type: number
      - name: pageNumber
        required: false
        in: query
        description: The page you would like to get data for
        schema:
          default: 1
          type: number
      - name: sortProperty
        required: false
        in: query
        description: 'sortProperty must be one of the following values: engagements, impressions, engagementRate, impressionsPerPosts, engagementsPerPosts, postsCount'
        schema:
          type: string
      - name: sortDirection
        required: false
        in: query
        description: ASC or DESC
        schema:
          default: DESC
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportingApiResponseDto'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NetworkPerformanceResponseDto'
      summary: Get network performance
      tags:
      - Social Network Level
      x-summary-source: derived
  /v1/reporting/network/return-on-investment:
    get:
      description: Get social networks return on investment details.
      operationId: findReturnOfInvestments
      parameters:
      - name: startDate
        required: true
        in: query
        description: Start date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: instanceIds
        required: false
        in: query
        description: A list of instance ids. If not provided, all instances associated with the API credentials will be considered.
        schema:
          type: array
          items:
            type: string
      - name: campaignIds
        required: false
        in: query
        description: A list of campaign ids (max 50 items)
        schema:
          type: array
          items:
            type: number
      - name: reportingGroupIds
        required: false
        in: query
        description: A list of reporting group ids
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportingApiResponseDto'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NetworkReturnOnInvestmentResponseDto'
                    meta:
                      example: null
      summary: Find return of investments
      tags:
      - Social Network Level
      x-summary-source: derived
components:
  schemas:
    NetworkPerformanceResponseDto:
      type: object
      properties:
        socialNetwork:
          type: string
          example: Instagram
          enum:
          - blog
          - facebook
          - facebook_live
          - facebook_group
          - facebook_reel
          - image
          - instagram
          - instagram_reel
          - instagram_story
          - linkedin
          - musical_ly
          - pinterest
          - snapchat_story
          - tiktok
          - twitch_stream
          - twitter
          - youtube_video
          - youtube_shorts
          - video
          description: Name of the social network
        postsCount:
          type:
          - number
          - 'null'
          example: 100
          description: Total number of posts
        impressions:
          type:
          - number
          - 'null'
          example: 10000
          description: Total number of impressions
        impressionsPerPosts:
          type:
          - number
          - 'null'
          example: 100
          description: ' Average impressions per post'
        engagements:
          type:
          - number
          - 'null'
          example: 500
          description: Total number of engagements
        engagementsPerPosts:
          type:
          - number
          - 'null'
          example: 5
          description: Average engagements per post
        engagementRate:
          type:
          - number
          - 'null'
          example: 0.05
          description: Engagement rate as a decimal
      required:
      - socialNetwork
      - postsCount
      - impressions
      - impressionsPerPosts
      - engagements
      - engagementsPerPosts
      - engagementRate
    NetworkReturnOnInvestmentResponseDto:
      type: object
      properties:
        socialNetwork:
          type: string
          enum:
          - blog
          - facebook
          - facebook_live
          - facebook_group
          - facebook_reel
          - image
          - instagram
          - instagram_reel
          - instagram_story
          - linkedin
          - musical_ly
          - pinterest
          - snapchat_story
          - tiktok
          - twitch_stream
          - twitter
          - youtube_video
          - youtube_shorts
          - video
          description: Name of the social network
          example: instagram
        valueOfShares:
          type:
          - number
          - 'null'
          example: 1000
          description: Value generated from shares
        valueOfImpressions:
          type:
          - number
          - 'null'
          example: 1500
          description: Value generated from impressions
        valueOfComments:
          type:
          - number
          - 'null'
          example: 800
          description: Value generated from comments
        valueOfLikes:
          type:
          - number
          - 'null'
          example: 700
          description: Value generated from likes
        valueGenerated:
          type:
          - number
          - 'null'
          example: 5000
          description: Total value generated
        estimatedContentCost:
          type:
          - number
          - 'null'
          example: 2000
          description: Is calculated based on how many posts received metrics in the selected time range for a specific network vs the amount of money paid to the author(influencer)
        returnOnInvestment:
          type:
          - number
          - 'null'
          example: 2.5
          description: Return on investment as a ratio
      required:
      - valueOfShares
      - valueOfImpressions
      - valueOfComments
      - valueOfLikes
      - valueGenerated
      - estimatedContentCost
      - returnOnInvestment
    ReportingApiResponseDto:
      type: object
      properties:
        data:
          type: object
          additionalProperties: false
        meta:
          type:
          - object
          - 'null'
          description: Metadata containing page information
          properties:
            page:
              type: number
              example: 1
            totalPages:
              type: number
              example: 10
      required:
      - data
      - meta
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained from the OAuth2 token endpoint
