openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Exports API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Exports
paths:
  /v1/export/start-async:
    post:
      operationId: startAsync
      responses:
        '200':
          description: Asynchronous export accepted
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Exports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportBody'
        required: true
  /v1/export/activations-content:
    post:
      operationId: exportActivationContent
      responses:
        '200':
          description: The archive is created and is being downloaded
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Exports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentExportBody'
        required: true
  /v1/export/content:
    post:
      operationId: exportContent
      responses:
        '200':
          description: The archive is created and is being downloaded
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Priority export slot is busy
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Exports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentExportBody'
        required: true
  /v1/export/download:
    get:
      operationId: downloadExportContent
      responses:
        '302':
          description: Redirect to a short-lived download URL
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Exports
      parameters:
      - in: query
        name: token
        required: true
        schema:
          type: string
components:
  schemas:
    ExportType:
      enum:
      - ACTIONGROUPINFLUENCERS
      - MEMBERINFLUENCERS
      - PROGRAMPERFORMANCECAMPAIGN
      type: string
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ExportBody:
      properties:
        type:
          $ref: '#/components/schemas/ExportType'
        actionGroupId:
          type: number
          format: double
        userFilter:
          additionalProperties: true
        communityId:
          type: string
        customStatusSlug:
          type: string
        filter:
          additionalProperties: true
        q:
          type: string
      required:
      - type
      type: object
      additionalProperties: false
    ContentExportBody:
      properties:
        actionGroupId:
          type: object
        limit:
          type: number
          format: double
        networks:
          items:
            type: string
          type: array
        offset:
          type: number
          format: double
        orderDirection:
          type: string
        orderProperty:
          type: string
        postDateAfter:
          type: string
        postDateBefore:
          type: string
        postsWithUGC:
          type: boolean
        queryFilter:
          additionalProperties: true
        userFilter:
          type: string
        filterTagIds:
          items:
            type: number
            format: double
          type: array
        tagQuantifier:
          type: string
          enum:
          - any
          - all
        exportCsvOnly:
          type: boolean
        urgent:
          type: boolean
      required:
      - actionGroupId
      - limit
      - networks
      - offset
      - orderDirection
      - orderProperty
      - postsWithUGC
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
