openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Elasticsearch API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Elasticsearch
paths:
  /v1/elasticsearch/retrieveDocuments:
    post:
      operationId: retrieveDocuments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GlobalUserElasticsearchDocument'
                type: array
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Elasticsearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveGlobalUserElasticsearchDocumentsRequestBody'
        required: true
    get:
      operationId: getIds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  globalUserIds:
                    items:
                      type: number
                      format: double
                    type: array
                required:
                - globalUserIds
                type: object
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Elasticsearch
      parameters:
      - in: query
        name: facebookProfileIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: instagramProfileIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: membershipIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
  /v1/elasticsearch/removeMissingGlobalUsers:
    post:
      operationId: removeMissingGlobalUsers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  globalUserIds:
                    items:
                      type: number
                      format: double
                    type: array
                  count:
                    type: number
                    format: double
                required:
                - globalUserIds
                - count
                type: object
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Elasticsearch
components:
  schemas:
    GlobalUserElasticsearchDocument:
      properties:
        audienceFakeEngagersLevel:
          type:
          - number
          - 'null'
          format: double
        audienceFakeFollowersLevel:
          type:
          - number
          - 'null'
          format: double
        audienceFraudLevel:
          type:
          - number
          - 'null'
          format: double
        audiencePercentage_13_17:
          type:
          - number
          - 'null'
          format: double
        audiencePercentage_18_24:
          type:
          - number
          - 'null'
          format: double
        audiencePercentage_25_34:
          type:
          - number
          - 'null'
          format: double
        audiencePercentage_35_44:
          type:
          - number
          - 'null'
          format: double
        audiencePercentage_45_54:
          type:
          - number
          - 'null'
          format: double
        audiencePercentage_55_64:
          type:
          - number
          - 'null'
          format: double
        audiencePercentage_65_plus:
          type:
          - number
          - 'null'
          format: double
        audiencePercentageFemale:
          type:
          - number
          - 'null'
          format: double
        audiencePredominantAgeRange:
          type:
          - string
          - 'null'
        audiencePredominantCity:
          type:
          - string
          - 'null'
        audiencePredominantCountry:
          type:
          - string
          - 'null'
        blog:
          type:
          - string
          - 'null'
        deleted:
          type: boolean
        email:
          type: string
        fullName:
          type: string
        id:
          type: number
          format: double
        instagramAccount:
          additionalProperties: true
        instagramHandle:
          type:
          - string
          - 'null'
        instagramPost:
          type:
          - string
          - 'null'
        lists:
          items:
            type: number
            format: double
          type: array
        loadSource:
          type:
          - string
          - 'null'
        memberships:
          items:
            properties:
              zip:
                type: string
              street:
                type: string
              state:
                type: string
              phone:
                type: string
              mostRecentActivationDate:
                type:
                - string
                - 'null'
              memberSelectedEthnicities:
                items:
                  properties:
                    ethnicGroupDescription:
                      type: string
                    ethnicGroup:
                      type: string
                  type: object
                type: array
              membershipId:
                type: number
                format: double
              lifetimeValue:
                type: number
                format: double
              lifetimeImpressions:
                type: number
                format: double
              lifetimeConversions:
                type: number
                format: double
              lifetimeClicks:
                type: number
                format: double
              gender:
                $ref: '#/components/schemas/Gender'
              fullName:
                type: string
              facebookProfile:
                additionalProperties: true
              email:
                type: string
              dataPoint:
                items:
                  additionalProperties: true
                type: array
              createdAt:
                type: string
              cpp:
                type:
                - number
                - 'null'
                format: double
              cpm:
                type:
                - number
                - 'null'
                format: double
              cpe:
                type:
                - number
                - 'null'
                format: double
              country:
                type: string
              communityId:
                type: string
              city:
                type: string
              birthday:
                type: string
              apt:
                type:
                - string
                - 'null'
            type: object
          type: array
        nudityLevel:
          type:
          - number
          - 'null'
          format: double
        pinterestAccount:
          additionalProperties: true
        profanityLevel:
          type:
          - number
          - 'null'
          format: double
        publicUserSummary:
          type: boolean
        talentManagers:
          items:
            properties:
              lastName:
                type:
                - string
                - 'null'
              firstName:
                type:
                - string
                - 'null'
              email:
                type: string
            type: object
          type: array
        topics:
          items:
            type: string
          type: array
        twitterAccount:
          additionalProperties: true
        violenceLevel:
          type:
          - number
          - 'null'
          format: double
        youtubeChannel:
          additionalProperties: true
        snapchatAccount:
          additionalProperties: true
        facebookProfile:
          additionalProperties: true
      type: object
      additionalProperties: false
    Gender:
      enum:
      - describe
      - female
      - male
      - non_bin
      - other
      type: string
    RetrieveGlobalUserElasticsearchDocumentsRequestBody:
      properties:
        facebookProfileIds:
          items:
            type: number
            format: double
          type: array
        globalUserIds:
          items:
            type: number
            format: double
          type: array
        instagramProfileIds:
          items:
            type: number
            format: double
          type: array
        membershipIds:
          items:
            type: number
            format: double
          type: array
        options:
          properties:
            index:
              type: string
          type: object
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
