openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Activation Tags Associations API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: ActivationTagsAssociations
paths:
  /v1/activation-tags-associations:
    post:
      operationId: associateTagsToActivations
      responses:
        '200':
          description: Tag associated successfully
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Missing or Invalid Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActivationTagsAssociations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivationTagAssociationPostRequestBody'
        required: true
    delete:
      operationId: disassociateTagsFromActivations
      responses:
        '200':
          description: Tag disassociated succesfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationTagDisassociationDeleteResponse'
        '400':
          description: Missing or Invalid Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActivationTagsAssociations
      parameters:
      - in: query
        name: activationIds
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: tagIds
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
  /v1/activation-tags-associations/{activationId}:
    get:
      operationId: getTagsByActivationId
      responses:
        '200':
          description: Tags retrieved successfully
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivationTagAssociation'
                type: array
        '400':
          description: Missing or Invalid Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ActivationTagsAssociations
      parameters:
      - in: path
        name: activationId
        required: true
        schema:
          type: number
          format: double
components:
  schemas:
    ActivationTagAssociationPostRequestBody:
      type: object
      properties:
        queryEnabled:
          type:
          - boolean
          - 'null'
        actionGroupId:
          items:
            type: number
            format: double
          type:
          - array
          - 'null'
        networks:
          items:
            type: string
          type:
          - array
          - 'null'
        postDateBefore:
          type:
          - string
          - 'null'
          format: date
        postDateAfter:
          type:
          - string
          - 'null'
          format: date
        postsWithUGC:
          type:
          - boolean
          - 'null'
        filterTagIds:
          items:
            type: number
            format: double
          type:
          - array
          - 'null'
        tagQuantifier:
          type:
          - string
          - 'null'
          enum:
          - all
          - any
          - null
        userFilter:
          type:
          - string
          - 'null'
        approvalStatus:
          type:
          - string
          - 'null'
        globalUserId:
          type:
          - number
          - 'null'
          format: double
        tagIds:
          items:
            type: number
            format: double
          type: array
        activationIds:
          items:
            type: number
            format: double
          type:
          - array
          - 'null'
        excludeActivationIds:
          items:
            type: number
            format: double
          type:
          - array
          - 'null'
    ResponseBody__disassociations-ActivationTagAssociation-Array--disassociatedCount-number--__:
      properties:
        data:
          properties:
            disassociatedCount:
              type: number
              format: double
            disassociations:
              items:
                $ref: '#/components/schemas/ActivationTagAssociation'
              type: array
          required:
          - disassociatedCount
          - disassociations
          type: object
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
      - data
      type: object
      additionalProperties: false
    ActivationTagAssociation:
      properties:
        tagId:
          type: number
          format: double
        createdAt:
          type: string
          format: date-time
        activationId:
          type: number
          format: double
      required:
      - tagId
      - createdAt
      - activationId
      type: object
    ActivationTagDisassociationDeleteResponse:
      $ref: '#/components/schemas/ResponseBody__disassociations-ActivationTagAssociation-Array--disassociatedCount-number--__'
    ResponseMeta:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
