openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Reports API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Reports
paths:
  /reports:
    get:
      tags:
      - Reports
      operationId: getReport
      x-handler: reports/reports_controller.js
      x-access:
      - administrator
      - shared-cipher
      x-sharedCipherParameters:
        actionGroupId: campaignId
      summary: Retrieve a report
      parameters:
      - name: reportName
        in: query
        required: false
        schema:
          type: string
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
      - name: toDate
        in: query
        required: false
        schema:
          type: string
      - name: campaignId
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: communityIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: networks
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A collection of report data
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    additionalProperties: {}
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
