openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Pinterest Auth API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: PinterestAuth
paths:
  /v1/pinterest/global-users/auth:
    post:
      operationId: authenticatePinterest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinterestAuthPostResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PinterestAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinterestAuthPostRequestBody'
        required: true
  /v1/pinterest/global-users/redirect:
    get:
      operationId: authenticatePinterestRedirect
      responses:
        '302':
          description: Redirect
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PinterestAuth
      parameters:
      - in: query
        name: code
        required: true
        schema:
          type: string
      - in: query
        name: state
        required: true
        schema:
          type: string
components:
  schemas:
    BadRequestError:
      properties:
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
        message:
          type: string
          enum:
          - Bad Request
      required:
      - message
      type: object
      additionalProperties: false
    AuthenticatedInfluencerSocialMediaProfile:
      properties:
        expiresAt:
          type: string
        handle:
          type: string
        profilePicture:
          type: string
      required:
      - expiresAt
      - handle
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    PinterestAuthPostRequestBody:
      properties:
        code:
          type: string
        redirectUri:
          type: string
      required:
      - code
      - redirectUri
      type: object
      additionalProperties: false
    PinterestAuthPostResponse:
      properties:
        pinterest:
          $ref: '#/components/schemas/AuthenticatedInfluencerSocialMediaProfile'
        token:
          type: string
      required:
      - pinterest
      - token
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
