openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Conversions API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Conversions
paths:
  /v1/conversion-pinger:
    post:
      operationId: createConversion
      responses:
        '200':
          description: Posted a new conversion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_WebPluginConversionResponse-Array_'
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Community and/or its conversion tag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - Conversions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebPluginConversionBody'
        required: true
components:
  schemas:
    Pick_WebPluginConversionBody.Exclude_keyofWebPluginConversionBody.promoCode-or-orderId__:
      properties:
        communityId:
          type: string
        conversionValue:
          type: number
          format: double
        conversionCode:
          type: string
      required:
      - communityId
      - conversionValue
      - conversionCode
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    WebPluginConversionResponse:
      $ref: '#/components/schemas/Omit_WebPluginConversionBody.promoCode-or-orderId_'
    WebPluginConversionBody:
      properties:
        orderId:
          type: string
        promoCode:
          type: string
        conversionValue:
          type: number
          format: double
        conversionCode:
          type: string
        communityId:
          type: string
      required:
      - conversionValue
      - conversionCode
      - communityId
      type: object
    ResponseBody_WebPluginConversionResponse-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/WebPluginConversionResponse'
          type: array
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
      - data
      type: object
      additionalProperties: false
    ResponseMeta:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    Omit_WebPluginConversionBody.promoCode-or-orderId_:
      $ref: '#/components/schemas/Pick_WebPluginConversionBody.Exclude_keyofWebPluginConversionBody.promoCode-or-orderId__'
      description: Construct a type with the properties of T except for those in type K.
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
