openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Email Settings API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: EmailSettings
paths:
  /v1/smtp-email:
    get:
      operationId: getCurrentEmailSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSmtpDTO'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - EmailSettings
  /v1/smtp-email/{fromName}/{fromEmail}:
    put:
      operationId: updateEmailSettings
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - EmailSettings
      parameters:
      - in: path
        name: fromName
        required: true
        schema:
          type: string
      - in: path
        name: fromEmail
        required: true
        schema:
          type: string
  /v1/email-settings:
    get:
      operationId: get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEmailSettingsResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - EmailSettings
      parameters:
      - in: query
        name: id
        required: false
        schema:
          type: string
    post:
      operationId: post
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEmailSettingsResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - EmailSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEmailSettingsRequest'
        required: true
components:
  schemas:
    PostEmailSettingsResponse:
      properties: {}
      type: object
      additionalProperties: false
    GetEmailSettingsResponse:
      properties:
        isMember:
          type: boolean
        isSubscribed:
          type: boolean
        isGloballyDeleted:
          type: boolean
      required:
      - isMember
      - isSubscribed
      - isGloballyDeleted
      type: object
      additionalProperties: false
    EmailSmtpDTO:
      properties:
        id:
          type: number
          format: double
        communityId:
          type: string
        fromEmail:
          type: string
        fromName:
          type: string
      required:
      - id
      - communityId
      - fromEmail
      - fromName
      type: object
      additionalProperties: false
    ValidationError:
      properties:
        property:
          type: string
        message:
          type: string
        schema:
          type: object
        instance:
          additionalProperties: true
        name:
          type: string
        argument:
          additionalProperties: true
      required:
      - property
      - message
      - schema
      - instance
      - name
      - argument
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    PostEmailSettingsRequest:
      properties:
        id:
          type: string
        subscribed:
          type: boolean
      required:
      - id
      - subscribed
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
