openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Tracking Link API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Tracking Link
paths:
  /action/{id}/link:
    get:
      x-handler: tracking_links/tracking_link_controller.js
      x-access:
      - influencer
      summary: Retrieve a tracking link for an action.
      operationId: getActionTrackingLink
      parameters:
      - name: id
        in: path
        description: ID of the action.
        required: true
        schema:
          type: string
      - name: photo
        in: query
        description: A link to user's photo
        required: false
        schema:
          type: string
      - name: referrer
        in: query
        description: Referrer
        required: false
        schema:
          type: string
      - name: ^utm_.+$
        in: query
        required: false
        description: Utm variables
        schema:
          type: string
      responses:
        '200':
          description: A tracking link
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug:
                    type: string
                  url:
                    type: string
                  conversionCount:
                    type: integer
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Action not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Tracking Link
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
