openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Later Influencer API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: LaterInfluencer
paths:
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns:
    get:
      operationId: getCampaigns
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaterInfluencerCampaignListDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: query
        name: status
        required: true
        schema:
          type: string
      - in: query
        name: offset
        required: false
        schema:
          type: number
          format: double
          default: 0
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
          default: 20
      - in: query
        name: communityIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaterInfluencerCampaignDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/ytbc-campaign-code:
    get:
      operationId: getYtbcCampaignCode
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerYtbcCampaignCodeResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/members:
    put:
      operationId: updateCampaignMembership
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignMembershipPutBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/decline-invitation:
    post:
      operationId: declineCampaignInvitation
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/drafts:
    get:
      operationId: getDrafts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerDraftContentGetResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: threadId
        required: false
        schema:
          type: string
    post:
      operationId: submitDraft
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerDraftContentDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfluencerDraftContentPostBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/drafts/{draftId}:
    delete:
      operationId: deleteDraft
      responses:
        '204':
          description: No content
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: draftId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/concepts:
    get:
      operationId: getConcepts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerConceptContentGetResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: threadId
        required: false
        schema:
          type: string
    post:
      operationId: submitConcept
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerConceptContentDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfluencerConceptContentPostBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/concepts/{conceptId}:
    delete:
      operationId: deleteConcept
      responses:
        '204':
          description: No content
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: conceptId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/application-answers:
    get:
      operationId: getApplicationAnswers
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LaterInfluencersDataPointDto'
                type: array
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
    put:
      operationId: setApplicationAnswers
      responses:
        '204':
          description: No content
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipDataPointResponses'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/payment-recipient:
    post:
      operationId: upsertPaymentRecipient
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberPaymentRecipientResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMemberPaymentRecipientUpsertRequest'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/file-upload-policies:
    post:
      operationId: createFileUploadPolicy
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningData'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUploadPoliciesPostBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/url-metadata:
    get:
      operationId: getURLMetadata
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: query
        name: url
        required: true
        schema:
          type: string
      - in: query
        name: s3Upload
        required: false
        schema:
          type: boolean
      - in: query
        name: s3Directory
        required: false
        schema:
          type: string
  /v1/later-influencers/{influencerIdOrCreatorId}/networks:
    get:
      operationId: getNetworks
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                additionalProperties: true
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/content:
    post:
      operationId: submitContent
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelfReportedActivationBody'
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/content-preview:
    get:
      operationId: getContentPreview
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/PreviewPost'
                    type: array
                required:
                - data
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/products:
    get:
      operationId: getReviewableProducts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaterInfluencerProductPageDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: searchTerm
        required: false
        schema:
          type: string
      - in: query
        name: offset
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/auth/email:
    post:
      operationId: authenticateEmail
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthEmailRequestBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/auth/facebook:
    post:
      operationId: authenticateFacebook
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthFacebookRequestBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/oauth/tiktok:
    post:
      operationId: registerTikTokCreator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Components.Schemas.Creator'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaterInfluencerTikTokAuthBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/tiktok-invite-links:
    get:
      operationId: getTikTokInviteLink
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_Components.Schemas.InviteLinkResponse.campaignId-or-handleName-or-inviteLinkExpiresAt-or-inviteLink_'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
    post:
      operationId: createTikTokInviteLink
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_Components.Schemas.InviteLinkResponse.campaignId-or-handleName-or-inviteLinkExpiresAt-or-inviteLink_'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/products/{productId}/reviews:
    get:
      operationId: getProductReviews
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/LaterInfluencerProductReviewDto'
                    type: array
                required:
                - data
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: productId
        required: true
        schema:
          type: number
          format: double
    post:
      operationId: submitProductReview
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/LaterInfluencerProductReviewDto'
                    type: array
                required:
                - data
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: productId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductReviewsPostBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/settings:
    get:
      operationId: getSettings
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerSettings'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
    put:
      operationId: updateSettings
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerSettings'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfluencerSettingsPayload'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}:
    get:
      operationId: exportData
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: query
        name: isExport
        required: true
        schema:
          type: boolean
  /v1/later-influencers/{influencerIdOrCreatorId}/payment-providers/stripe/onboarding-link:
    get:
      operationId: getStripeOnboardingLink
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeOnboardingLink'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: query
        name: redirectUrl
        required: true
        schema:
          type: string
  /v1/later-influencers/{influencerIdOrCreatorId}/payment-providers/stripe/dashboard-link:
    get:
      operationId: getStripeDashboardLink
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeDashboardLink'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
  /v1/later-influencers/{influencerIdOrCreatorId}/payment-providers/stripe/accounts:
    get:
      operationId: getStripeAccounts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StripeAccount'
                type: array
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
    delete:
      operationId: deleteStripeConnectedAccount
      responses:
        '200':
          description: OK
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      description: 'deleteStripeConnectedAccount

        If a Stripe account is connected and has no transactions, delete the account.

        Parts of the UI expect a stripe account to exist, so if the account is deleted, create a new one,

        which allows users to re-do stripe onboarding.'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: query
        name: country
        required: false
        schema:
          type: string
  /v1/later-influencers/{influencerIdOrCreatorId}/brands:
    get:
      operationId: getBrands
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInfluencerBrandsResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/influencer-statuses:
    get:
      operationId: getInfluencerStatuses
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfluencerStatusListDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/influencer-status-reports:
    post:
      operationId: setInfluencerStatus
      responses:
        '201':
          description: Created
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportInfluencerStatusRequestBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/connections:
    put:
      operationId: connectExternalPlatform
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  connection:
                    $ref: '#/components/schemas/Record_ExternalPlatform.boolean_'
                required:
                - connection
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPlatformConnection'
        required: true
    get:
      operationId: getExternalPlatformConnections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  connections:
                    $ref: '#/components/schemas/ExternalPlatformConnectionMap'
                required:
                - connections
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{campaignId}/links:
    get:
      operationId: getLinks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaterInfluencerLinks'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/surveys/{surveyId}:
    get:
      operationId: getSurvey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaterInfluencerSurveyDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: surveyId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/surveys/{surveyId}/answers:
    post:
      operationId: submitSurveyAnswers
      responses:
        '200':
          description: Created
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: surveyId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionAnswers'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{actionGroupId}/post-partnership-requests:
    get:
      operationId: getInfluencerPostPartnershipRequests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/MetaPostPartnershipRequestDto'
                    type: array
                required:
                - data
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{actionGroupId}/post-partnership-requests/{requestId}:
    patch:
      operationId: updateInfluencerPostPartnershipRequest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaPostPartnershipRequestDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
      - in: path
        name: requestId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInfluencerPostPartnershipRequestRequestBody'
        required: true
  /v1/later-influencers/{influencerIdOrCreatorId}/campaigns/{actionGroupId}/post-partnership-sponsor:
    get:
      operationId: getInfluenerPostPartnershipSponsor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaInstagramAccountDto'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - LaterInfluencer
      parameters:
      - in: path
        name: influencerIdOrCreatorId
        required: true
        schema:
          type: string
      - in: path
        name: actionGroupId
        required: true
        schema:
          type: number
          format: double
components:
  schemas:
    TikTokVideoViewsBySource:
      properties:
        source:
          type:
          - string
          - 'null'
        videoViews:
          type:
          - number
          - 'null'
          format: double
      required:
      - videoViews
      type: object
      additionalProperties: false
    Administrator:
      properties:
        id:
          type: number
          format: double
        email:
          type: string
        first_name:
          type: string
        last_name:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        approves:
          type: boolean
        createdAt:
          type: string
      type: object
      additionalProperties: false
    Question:
      properties:
        className:
          type: string
        dataPointDefinition:
          $ref: '#/components/schemas/DataPointDefinition'
        dataPointDefinitionId:
          type: number
          format: double
        hasResponses:
          type: boolean
        hideFromInfluencers:
          type: boolean
        id:
          type: number
          format: double
        key:
          type: string
        maxResponses:
          type: number
          format: double
        order:
          type: number
          format: double
        questionResponses:
          items:
            additionalProperties: false
            type: object
          type: array
        questionText:
          type: string
        markUpQuestionText:
          type: string
        properties:
          properties:
            type:
              type: string
            required:
              type: boolean
            placeholder:
              type: string
            options:
              items:
                properties:
                  value:
                    type: string
                  name:
                    type: string
                type: object
              type: array
            minlength:
              type: number
              format: double
            min:
              type: number
              format: double
            maxlength:
              type: number
              format: double
            maxUploads:
              type: number
              format: double
            max:
              type: number
              format: double
            label:
              type: string
            accept:
              type: string
          type: object
        required:
          type: boolean
        templateOptions:
          additionalProperties: false
          type: object
        type:
          type: string
      type: object
      additionalProperties: false
    SurveyStatus:
      type: string
      enum:
      - ENDED
      - COMPLETED
      - PAUSED
      - PENDING
      - LIVE
    MessageSettingsPayload:
      properties:
        email:
          items:
            $ref: '#/components/schemas/EmailSettingsPayload'
          type: array
      type: object
      additionalProperties: false
    YotpoAppProduct:
      properties:
        reviewProductId:
          type: number
          format: double
        youtpoProductId:
          type: string
      type: object
      additionalProperties: false
    InfluencerDraftContentPostBody:
      properties:
        contentType:
          $ref: '#/components/schemas/NetworkSlug'
        contentUrl:
          type: string
        files:
          items:
            $ref: '#/components/schemas/InfluencerDraftContentPostFile'
          type: array
        notes:
          type: string
        text:
          type: string
        threadId:
          type: string
        globalUserId:
          type: number
          format: double
        campaignId:
          type: number
          format: double
      required:
      - contentType
      type: object
      additionalProperties: false
    LaterInfluencerDataPointDefinitionDto:
      properties:
        description:
          type:
          - string
          - 'null'
        archived:
          type: boolean
        multi:
          type: boolean
        name:
          type: string
        type:
          type: string
        key:
          type:
          - string
          - 'null'
        id:
          type: number
          format: double
      required:
      - description
      - archived
      - multi
      - name
      - type
      - key
      - id
      type: object
    ReportInfluencerStatusRequestBody:
      properties:
        comment:
          type: string
        statusId:
          type: number
          format: double
      required:
      - statusId
      type: object
    EmailSettings:
      type: object
      properties:
        accentColor:
          type: string
        buttonColor:
          type: string
        id:
          type: number
          format: double
        logo:
          type: string
        associatedWithCampaign:
          type: boolean
        name:
          type: string
    SigningData:
      properties:
        signature:
          type: string
        policy:
          type: string
        bucket:
          type: string
        awsKey:
          type: string
      required:
      - signature
      - policy
      - bucket
      - awsKey
      type: object
    ConflictError:
      properties:
        message:
          type: string
          enum:
          - Conflict
        httpStatusCode:
          type: number
          format: double
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - httpStatusCode
      - details
      type: object
      additionalProperties: false
    InfluencerConceptContentGetResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/InfluencerConceptContentDto'
          type: array
      type: object
      additionalProperties: false
    DataResponse_InfluencerStatusDto_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/InfluencerStatusDto'
          type: array
      required:
      - data
      type: object
    QuestionAnswers:
      properties: {}
      additionalProperties:
        type: object
      type: object
    InfluencerConceptContentDto:
      type: object
      properties: {}
    StripeOnboardingStatus:
      enum:
      - COMPLETE
      - NO_ACCOUNT
      - NOT_STARTED
      - PENDING
      - REJECTED
      - RESTRICTED
      - RESTRICTED_SOON
      - STARTED
      type: string
    IncentiveUnlockEvent:
      type: string
      enum:
      - acceptance
      - completion
      - pending_shipment
      - pending_payment
    SelfReportedActivationBody:
      properties:
        activation:
          $ref: '#/components/schemas/SelfReportedActivation'
        postId:
          type: string
      type: object
    LaterInfluencerCampaignListDto:
      $ref: '#/components/schemas/PaginatedResponse_LaterInfluencerCampaignListItemDto_'
    LaterInfluencerProductReviewDto:
      properties:
        product:
          $ref: '#/components/schemas/LaterInfluencerProductDto'
        fields:
          items:
            $ref: '#/components/schemas/ProductReviewFormFieldDto'
          type: array
        values:
          $ref: '#/components/schemas/ProductReviewValuesDto'
      required:
      - product
      - fields
      type: object
      additionalProperties: false
    LaterInfluencerTikTokAuthBody:
      properties:
        handleName:
          type: string
        creatorId:
          type: string
        accessToken:
          type: string
      required:
      - handleName
      - creatorId
      - accessToken
      type: object
    ConversionTag:
      properties:
        code:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
        isActive:
          type: boolean
        isConversionValueEnabled:
          type: boolean
      required:
      - id
      - name
      - isActive
      - isConversionValueEnabled
      type: object
      additionalProperties: false
    InfluencerCampaignContentApprovalStatus:
      type: string
      enum:
      - PENDING
      - APPROVED
      - REJECTED
    MavrckSupportedCurrencies:
      type: object
    AuthFacebookRequestBody:
      properties:
        facebookUserId:
          type: string
        actionGroupId:
          type: number
          format: double
      required:
      - facebookUserId
      - actionGroupId
      type: object
    Routing:
      properties:
        not_eligible:
          $ref: '#/components/schemas/RoutingOptions'
        success:
          $ref: '#/components/schemas/RoutingOptions'
      type: object
      additionalProperties: false
    BadRequestError:
      properties:
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
        message:
          type: string
          enum:
          - Bad Request
      required:
      - message
      type: object
      additionalProperties: false
    MavelyURLData:
      properties:
        details:
          type: object
        metadata:
          type: object
      type: object
      additionalProperties: false
    ListCustomStatus:
      properties:
        templates:
          items:
            $ref: '#/components/schemas/ConversationTemplate'
          type: array
        statusOrder:
          type: number
          format: double
        slug:
          type: string
        phase:
          type: string
        linkedStages:
          items:
            type: string
          type: array
        label:
          type: string
        id:
          type: number
          format: double
        enabled:
          type: boolean
        disabled:
          type: boolean
        custom:
          type: boolean
        ctaLabel:
          type: string
        auxiliaryLabel:
          type: string
        actionGroupId:
          type: number
          format: double
      type: object
    IncentiveClaim:
      properties:
        address:
          type: string
        age:
          type: number
          format: double
        clickCount:
          type: number
          format: double
        conversionCount:
          type: number
          format: double
        createdAt:
          type: string
        email:
          type: string
        engagementCount:
          type: number
          format: double
        facebookFriendCount:
          type: number
          format: double
        firstName:
          type: string
        gender:
          type: string
        globalUserId:
          type: number
          format: double
        id:
          type: number
          format: double
        lastName:
          type: string
        membershipId:
          type: number
          format: double
        mostRecentRewardFulfilledAt:
          type: string
        profilePictureLink:
          type: string
        promocode:
          type: string
      type: object
      additionalProperties: false
    DataPointDefinition:
      properties:
        actionGroups:
          items:
            $ref: '#/components/schemas/DataPointDefinitionActionGroup'
          type: array
        archived:
          type: boolean
        communityId:
          type: string
        createdAt:
          type: string
        customSet:
          type: boolean
        description:
          type: string
        id:
          type: number
          format: double
        key:
          type: string
        markUpDescription:
          type: string
        mergeTag:
          type: boolean
        multi:
          type: boolean
        name:
          type: string
        setElements:
          $ref: '#/components/schemas/DataPointDefinitionSetElement'
        type:
          type: string
        updatedAt:
          type: string
      required:
      - customSet
      - id
      - multi
      - name
      - type
      type: object
      additionalProperties: false
    Components.Schemas.Creator:
      properties:
        creatorId:
          type: string
        displayName:
          type: string
        handleName:
          type: string
        followersCount:
          type: number
          format: double
        globalUserId:
          type: number
          format: double
        insights:
          type: string
        insightsUpdatedAt:
          type: string
        profileImage:
          type: string
        status:
          type: string
          enum:
          - IN
          - INVALID
          - INVITED
          - NOT_IN
        createdAt:
          type: string
        updatedAt:
          type: string
        active:
          type: boolean
      type: object
      additionalProperties: false
    ConversationTemplate:
      properties:
        category:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/Administrator'
        communityId:
          type: string
        html:
          type: string
        id:
          type: number
          format: double
        isArchived:
          type: boolean
        lastModifiedBy:
          $ref: '#/components/schemas/Administrator'
        subject:
          type: string
        title:
          type: string
        updatedAt:
          type: string
          format: date-time
        version:
          type: number
          format: double
      required:
      - category
      - createdAt
      - html
      - id
      - isArchived
      - title
      - updatedAt
      type: object
      additionalProperties: false
    ListMemberPaymentRecipientUpsertRequest:
      properties:
        payment_recipient_uuid:
          type: string
      required:
      - payment_recipient_uuid
      type: object
      additionalProperties: false
    InfluencerSettingsPayload:
      properties:
        isDeleted:
          type: boolean
        messages:
          $ref: '#/components/schemas/MessageSettingsPayload'
        source:
          type: string
          description: 'An encrypted string provided by Later Infuence with information such as

            the ID of the message (`messageId`) that prompted the user to unsubscribe.

            Client applications should not tamper with this value; they should pass it back to Later Influence as is.


            Example: Unsubscribe


            When a brand uses Later Influence to send a message to an influencer,

            the platform almost always appends a link the influencer can use to unsubscribe from the brand''s messages,

            in compliance with the USA''s Federal Trade Commission requirements (CAN-SPAM Act):

            https://qa.mavrck.co/saf/email-preferences?id=${encryptedString}.

            The client should pass the `id` query parameter back to Later Influence as `source`.'
      type: object
      additionalProperties: false
    StripeDashboardLink:
      properties:
        url:
          type: string
      required:
      - url
      type: object
      additionalProperties: false
    ProductReviewsPostBody:
      properties:
        data:
          $ref: '#/components/schemas/ProductReviewValuesDto'
      required:
      - data
      type: object
    SelfReportedActivationContent:
      properties:
        additionalUrls:
          items:
            type: string
          type: array
        clicks:
          type: number
          format: double
        comments:
          type: number
          format: double
        conversions:
          type: number
          format: double
        conversionValue:
          type: number
          format: double
        estimatedImpressions:
          type: number
          format: double
        image:
          type: string
        likes:
          type: number
          format: double
        mavelyUrls:
          items:
            type: string
          type: array
        network:
          $ref: '#/components/schemas/NetworkSlug'
        postDate:
          type: string
        postLink:
          type: string
        privacy:
          type: string
        reach:
          type: number
          format: double
        reactions:
          type: number
          format: double
        saved:
          type: number
          format: double
        shares:
          type: number
          format: double
        text:
          type: string
        video:
          type: string
        views:
          type: number
          format: double
      required:
      - network
      type: object
      additionalProperties: false
    UpdateCampaignMembershipPutBody:
      properties:
        participating:
          type: boolean
      required:
      - participating
      type: object
      additionalProperties: false
    Record_ExternalPlatform.boolean_:
      properties:
        mavely:
          type: boolean
      type: object
      description: Construct a type with a set of properties K of type T
    RoutingOptions:
      properties:
        cta:
          type: string
        mode:
          type: string
        redirect_url:
          type: string
      type: object
      additionalProperties: false
    LaterInfluencerSurveyQuestion:
      properties:
        type:
          type: string
        setElements:
          items:
            properties:
              markUpDisplayLabel:
                type:
                - string
                - 'null'
              displayLabel:
                type: string
              key:
                type: string
              id:
                type: number
                format: double
            required:
            - displayLabel
            - key
            - id
            type: object
          type: array
        required:
          type: boolean
        order:
          type: number
          format: double
        name:
          type: string
        multi:
          type: boolean
        key:
          type:
          - string
          - 'null'
        id:
          type: number
          format: double
        markUpDescription:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        archived:
          type: boolean
      required:
      - type
      - required
      - order
      - name
      - multi
      - key
      - id
      - description
      - archived
      type: object
    TikTokAudienceAgeDistribution:
      properties:
        age:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - age
      - percentage
      type: object
      additionalProperties: false
    InfluencerSettings:
      properties:
        isDeleted:
          type: boolean
        messages:
          $ref: '#/components/schemas/MessageSettings'
      required:
      - isDeleted
      - messages
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    Network:
      properties:
        clicks:
          type: boolean
        comments:
          type: boolean
        impressions:
          type: boolean
        key:
          type: string
        likes:
          type: boolean
        reach:
          type: boolean
        shares:
          type: boolean
      type: object
      additionalProperties: false
    ListMemberPaymentRecipientResponse:
      properties:
        id:
          type: number
          format: double
        list_member_id:
          type: number
          format: double
        payment_recipient_uuid:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - list_member_id
      - payment_recipient_uuid
      - created_at
      - updated_at
      type: object
      additionalProperties: false
    TikTokAudienceGendersDistribution:
      properties:
        gender:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - percentage
      type: object
      additionalProperties: false
    LaterInfluencerProductDto:
      properties:
        description:
          type: string
        title:
          type: string
        image:
          type: string
        id:
          type: number
          format: double
      required:
      - title
      - id
      type: object
    MetaPostPartnershipRequestStatus:
      type: string
      enum:
      - pending
      - granted
      - denied
    StripeAccount:
      properties:
        accountId:
          type: string
        canDelete:
          type: boolean
        capabilities:
          type: string
        cashPaymentAppId:
          type: number
          format: double
        country:
          type:
          - string
          - 'null'
        currencyCode:
          type: object
        createdAt:
          type: string
        email:
          type: string
        globalUserId:
          type: number
          format: double
        handleName:
          type: string
        id:
          type: number
          format: double
        isActive:
          type: boolean
          enum:
          - true
        name:
          type: string
        note:
          type: string
        onboardingStatus:
          $ref: '#/components/schemas/StripeOnboardingStatus'
        updatedAt:
          type: string
      required:
      - accountId
      - canDelete
      - cashPaymentAppId
      - createdAt
      - globalUserId
      - handleName
      - id
      - isActive
      - onboardingStatus
      - updatedAt
      type: object
      additionalProperties: false
    InfluencerStatusDto:
      properties:
        publicLabel:
          type: string
        instructions:
          type: string
        id:
          type: number
          format: double
      required:
      - publicLabel
      - instructions
      - id
      type: object
    NetworkName:
      type: string
      enum:
      - Blog
      - Facebook
      - Facebook Group
      - Facebook Live
      - Facebook Reel
      - Image
      - Instagram
      - Instagram Reel
      - Instagram Story
      - LinkedIn
      - Pinterest
      - Snapchat Story
      - TikTok
      - Twitch Stream
      - Twitter
      - Video
      - YouTube Video
      - YouTube Shorts
    ActionGroup:
      properties:
        actions:
          items:
            $ref: '#/components/schemas/Action'
          type: array
        activatedUsersMetrics:
          type: number
          format: double
        activityBudget:
          type: number
          format: double
        application:
          properties:
            requestBrandedContentPermission:
              type: boolean
          type: object
        audience:
          $ref: '#/components/schemas/Audience'
        autoAcceptApplicant:
          type: boolean
        brief:
          type: string
        campaign:
          $ref: '#/components/schemas/Campaign'
        clicksMetrics:
          type: number
          format: double
        community:
          properties:
            instagramHandle:
              type: string
          type: object
        communityId:
          type: string
        contentDueDate:
          type: string
        contentType:
          type: string
        conversionsCountMetrics:
          type: number
          format: double
        conversionsValueMetrics:
          type: number
          format: double
        cost:
          type: number
          format: double
        cpa:
          type: number
          format: double
        cpe:
          type: number
          format: double
        cpeGoal:
          type: number
          format: double
        cpm:
          type: number
          format: double
        cpmGoal:
          type: number
          format: double
        cpp:
          type: number
          format: double
        committedAmount:
          type:
          - number
          - 'null'
          format: double
        paidAmount:
          type:
          - number
          - 'null'
          format: double
        readyAmount:
          type:
          - number
          - 'null'
          format: double
        roiValue:
          type:
          - number
          - 'null'
          format: double
        createdAt:
          type: string
        description:
          type: string
        draftDueDate:
          type: string
        conceptDueDate:
          type: string
        endDate:
          type: string
        engagementRateGoal:
          type: number
          format: double
        engagements:
          type: number
          format: double
        engagementsGoal:
          type: number
          format: double
        engagementsMetrics:
          type: number
          format: double
        ftcHashtag:
          type: string
        fulfilled:
          type: number
          format: double
        globalUserListDefinitionId:
          type: number
          format: double
        hasPointsEnabled:
          type: boolean
        hasScheduledNotifications:
          type: boolean
        hideOnIcm:
          type: boolean
        id:
          type: number
          format: double
        image:
          type: string
        impressions:
          type: number
          format: double
        impressionsGoal:
          type: number
          format: double
        impressionsMetrics:
          type: number
          format: double
        incentive:
          $ref: '#/components/schemas/Incentive'
        incentives:
          items:
            $ref: '#/components/schemas/Incentive'
          type: array
        influencerReviewDeliverable:
          properties:
            listId:
              type: number
              format: double
            count:
              type: number
              format: double
            id:
              type: number
              format: double
          type: object
        internalDescription:
          type: string
        isAutoCreated:
          type: boolean
        isLaterCreatorExperienceEnabled:
          type: boolean
        isPrimaryReferralActivity:
          type: boolean
        listId:
          type: number
          format: double
        listDeliverables:
          items:
            $ref: '#/components/schemas/ListDeliverable'
          type: array
        locale:
          type: string
        mainType:
          type: string
        multipleActivations:
          type: boolean
        name:
          type: string
        notInCommunity:
          type: boolean
        numberOfInfluencers:
          type: number
          format: double
        openGraphTags:
          type: string
        pending:
          type: number
          format: double
        points:
          properties:
            max:
              type: number
              format: double
            min:
              type: number
              format: double
          type: object
        posts:
          type: number
          format: double
        primaryNetwork:
          type: string
        programId:
          type: number
          format: double
        ready:
          type: number
          format: double
        requiredHashtag:
          type: string
        budgetReferenceId:
          type:
          - string
          - 'null'
        budgetReferenceIdType:
          type: object
        brandSuitabilityGuidelines:
          type: string
        shareableReportLink:
          type: string
        startDate:
          type: string
        status:
          type: string
        termsOfServiceLink:
          type: string
        title:
          type: string
        type:
          type: string
        url:
          type: string
        workflowStatuses:
          items:
            $ref: '#/components/schemas/ListCustomStatus'
          type: array
        workflowSummary:
          properties:
            completed:
              type: number
              format: double
            participants:
              type: number
              format: double
            applicants:
              type: number
              format: double
            candidates:
              type: number
              format: double
            rejected:
              type: number
              format: double
            accepted:
              type: number
              format: double
          type: object
      required:
      - communityId
      - id
      type: object
      additionalProperties: false
    InfluencerDataPointCriteria:
      properties:
        key:
          type: string
        value:
          type: object
        values:
          items:
            type: string
          type: array
        minValue:
          type: number
          format: double
        maxValue:
          type: number
          format: double
      required:
      - key
      type: object
      additionalProperties: false
    AuthResponse:
      properties:
        message:
          type: string
      required:
      - message
      type: object
      additionalProperties: false
    TikTokAudienceInterestDistribution:
      properties:
        interestTag:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - interestTag
      - percentage
      type: object
      additionalProperties: false
    ExportData:
      properties:
        community:
          properties:
            name:
              type: string
            id:
              type: string
          required:
          - name
          - id
          type: object
        contactInfo:
          $ref: '#/components/schemas/MembershipContactInfoDeprecated'
        activations:
          items:
            $ref: '#/components/schemas/Activation'
          type: array
        rewards:
          items:
            $ref: '#/components/schemas/Incentive'
          type: array
      required:
      - community
      - contactInfo
      - activations
      - rewards
      type: object
      additionalProperties: false
    StripeOnboardingLink:
      properties:
        url:
          type: string
      required:
      - url
      type: object
      additionalProperties: false
    TSOAEmptyObject:
      properties: {}
      type: object
      additionalProperties: false
    InfluencerDraftContentDto:
      type: object
      properties: {}
    PowerReviewsPage:
      properties:
        PowerReviewsApp:
          items:
            $ref: '#/components/schemas/PowerReviewsApp'
          type: array
        externalPageId:
          type: string
        id:
          type: number
          format: double
        powerReviewsAppId:
          type: string
        reviewProductId:
          type: number
          format: double
      type: object
      additionalProperties: false
    PaginatedResponse_LaterInfluencerCampaignListItemDto_:
      properties:
        meta:
          properties:
            totalCount:
              type: number
              format: double
            offset:
              type: number
              format: double
            limit:
              type: number
              format: double
          required:
          - totalCount
          - offset
          - limit
          type: object
        data:
          items:
            $ref: '#/components/schemas/LaterInfluencerCampaignListItemDto'
          type: array
      required:
      - meta
      - data
      type: object
    Record_string.any_:
      properties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    ProductReviewValuesDto:
      properties: {}
      type: object
      additionalProperties:
        type: object
    VisualSafeSearch:
      properties:
        adult:
          type: string
        medical:
          type: string
        racy:
          type: string
        spoof:
          type: string
        violence:
          type: string
      type: object
      additionalProperties: false
    ProductReviewFormFieldDto:
      properties:
        key:
          type: string
        label:
          type: string
        maxLength:
          type: number
          format: double
        maxRating:
          type: number
          format: double
        minLength:
          type: number
          format: double
        minRating:
          type: number
          format: double
        required:
          type: boolean
        type:
          type: string
          enum:
          - textarea
          - text
          - file
          - radio
          - rating
          - image
          - select
          - fingerprint
        options:
          items:
            properties:
              value:
                type: string
              label:
                type: string
            required:
            - value
            - label
            type: object
          type: array
      required:
      - key
      - required
      - type
      type: object
      additionalProperties: false
    MetaInstagramAccountDto:
      properties:
        name:
          type: string
        handle:
          type: string
        pictureUrl:
          type: string
        externalId:
          type: string
      required:
      - name
      - handle
      - pictureUrl
      - externalId
      type: object
      additionalProperties: false
    Incentive:
      properties:
        actionGroupId:
          type: number
          format: double
        actionGroupStatus:
          type: string
        allocatedWinnersCount:
          type: number
          format: double
        approximateRetailValue:
          type: number
          format: double
        cashPaymentAppId:
          type: number
          format: double
        cashPaymentAppProvider:
          type:
          - string
          - 'null'
        claimedDynamicPromoCodes:
          type: number
          format: double
[...]
