openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Reward Wins API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: RewardWins
paths:
  /influencers/{influencerId}/reward-wins:
    get:
      x-handler: reward_wins/influencer_reward_wins_controller.js
      x-access:
      - administrator
      - root
      tags:
      - RewardWins
      summary: Retrieve all reward wins for an influencer.
      operationId: getAllInfluencerRewardWins
      parameters:
      - name: influencerId
        in: path
        required: true
        schema:
          type: integer
      - name: isFulfilled
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/orderByParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: An array of reward wins.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RewardWin'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: API Key invalid or access denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reward-wins/fulfill-objects/bulk:
    put:
      operationId: bulkFulfillRewardWinsObjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkMetadata'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: number
                format: double
              type: array
        required: true
  /v1/reward-wins/fulfill-objects-with-params/bulk:
    put:
      operationId: bulkFulfillRewardWinsObjectsWithParams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkMetadata'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/RewardWinBulkFulfillmentParams'
              type: array
        required: true
  /v1/reward-wins/unfulfill-objects/bulk:
    put:
      operationId: bulkUnfulfillRewardWinsObjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkMetadata'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: number
                format: double
              type: array
        required: true
  /v1/reward-wins/update-objects/bulk:
    put:
      operationId: bulkUpdateRewardWinsObjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkMetadata'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/RewardWinBulkUpdateBody'
              type: array
        required: true
  /v1/reward-wins/unarchive-objects/bulk:
    put:
      operationId: bulkUnarchiveRewardWinsObjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkMetadata'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: number
                format: double
              type: array
        required: true
  /v1/reward-wins/update-filter/bulk:
    put:
      operationId: bulkUpdateRewardWinsFilterValue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkMetadata'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateWithFilterRequestBody'
        required: true
  /v1/reward-wins/unarchive-filter/bulk:
    put:
      operationId: bulkUnarchiveRewardWinsFilterValue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkMetadata'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkActionWithFilterRequestBody'
        required: true
  /v1/reward-wins:
    get:
      operationId: getAllRewardWins
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRewardWinsResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: query
        name: fulfillmentStatus
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: isArchived
        required: false
        schema:
          type: boolean
      - in: query
        name: userFilterData
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
          enum:
          - STRIPE
          - PAYPAL
          - MAVELY
          - TIPALTI
          - TANGO_CARDS
          - MANUAL_CASH_PAYMENT
          - MANUAL_GIFT_CARD
          - SHOPIFY_DISCOUNT
          - PRODUCT
          - PROMO_CODE
          - OTHER
          - GIFT_CARD
      - in: query
        name: q
        required: false
        schema:
          type: string
      - in: query
        name: excludedRewardWinIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: includedRewardWinIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: actionGroupId
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: daysReady
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: globalUserIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: offset
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: orderField
        required: false
        schema:
          type: string
      - in: query
        name: orderDirection
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - in: query
        name: includeListMember
        required: false
        schema:
          type: boolean
  /v1/reward-wins/{id}:
    put:
      operationId: updateRewardWin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRewardWin'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
  /v1/reward-wins/{id}/fulfillment:
    put:
      operationId: fulfillRewardWin
      responses:
        '200':
          description: Fulfillment successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RewardWinFulfillmentParams'
  /v1/reward-wins/{id}/unfulfillment:
    put:
      operationId: unfulfillRewardWin
      responses:
        '200':
          description: Fulfillment successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
  /v1/reward-wins/{id}/reversal:
    put:
      operationId: reverseRewardWin
      responses:
        '200':
          description: Reversal successful
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
  /v1/reward-wins/{id}/void-payment:
    post:
      operationId: voidTipaltiPayment
      responses:
        '200':
          description: Payment voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
  /v1/reward-wins/{id}/unarchival:
    put:
      operationId: unarchiveRewardWin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
  /v1/reward-wins/dashboard/summary:
    get:
      operationId: getSummary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSummaryResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - RewardWins
      parameters:
      - in: query
        name: fulfillmentStatus
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: isArchived
        required: false
        schema:
          type: boolean
      - in: query
        name: userFilterData
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - in: query
        name: q
        required: false
        schema:
          type: string
      - in: query
        name: excludedRewardWinIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: includedRewardWinIds
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: actionGroupId
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            format: double
      - in: query
        name: daysReady
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: offset
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: orderField
        required: false
        schema:
          type: string
      - in: query
        name: orderDirection
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
components:
  schemas:
    AudienceDeprecated:
      type: object
      x-access:
      - root
      - administrator
      properties:
        id:
          type: integer
          description: Unique identifier representing a single audience.
        name:
          type: string
          description: Human-readable description of the audience displayed to administrators.
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/InfluencerDataPointCriteriaDeprecated'
    GetRewardWinListMemberRewardWin:
      $ref: '#/components/schemas/Pick_ListMemberRewardWin.id-or-listMemberId-or-eligibleOnEventType_'
    ProductDeprecated:
      type: object
      properties:
        id:
          type: integer
          description: id of the product
        title:
          type: string
          description: title of the product
        description:
          type: string
          description: Description of product
        image:
          type: string
          description: product image url
        communityId:
          type: string
          description: instance to which this product belongs
        bazaarVoiceAppProduct:
          $ref: '#/components/schemas/BazaarVoiceAppProductDeprecated'
        powerReviewsPage:
          $ref: '#/components/schemas/PowerReviewsPageDeprecated'
        yotpoAppProduct:
          $ref: '#/components/schemas/YotpoAppProductDeprecated'
    PinterestAccountDeprecated:
      type: object
      properties:
        id:
          description: int = mavck-db-id, string = derived-index-id
          type:
          - integer
          - string
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        profilePicture:
          type: string
        bio:
          type: string
        followersCount:
          type: integer
        followingCount:
          type: integer
        monthlyViewers:
          type: integer
        averageEngagements:
          type: integer
        engagementRate:
          type: number
        boardsCount:
          type: integer
        pinsCount:
          type: integer
        pinterestAccessGrant:
          type: object
          properties:
            isExpired:
              type: boolean
        primaryAccount:
          type: boolean
    PendingActivationURI:
      type: object
      properties:
        id:
          type: integer
    ActivationURI:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          description: Unique identifier representing the activation.
        incentive:
          $ref: '#/components/schemas/IncentiveDeprecated'
        points:
          type: number
          description: The number of points earned after activating.
    RewardWinQueryFilter:
      type: object
      properties:
        isArchived:
          type: boolean
        fulfillmentStatus:
          items:
            $ref: '#/components/schemas/FulfillmentStatusFilter'
          type: array
        type:
          type: string
        actionGroupId:
          items:
            type: number
            format: double
          type: array
        q:
          type: string
        daysReady:
          type: number
          format: double
        excludedRewardWinIds:
          items:
            type: number
            format: double
          type: array
        includedRewardWinIds:
          items:
            type: number
            format: double
          type: array
        userFilter:
          additionalProperties: true
        globalUserIds:
          items:
            type: number
            format: double
          type: array
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        orderField:
          type: string
        orderDirection:
          type: string
          enum:
          - ASC
          - DESC
    YoutubeChannelDeprecated:
      type: object
      properties:
        id:
          description: int = mavck-db-id, string = derived-index-id
          type:
          - integer
          - string
        username:
          type: string
        bio:
          type: string
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        followersCount:
          type: integer
        youtubeExternalId:
          type: string
        videoCount:
          type: integer
        viewCount:
          type: integer
        commentCount:
          type: integer
        handle:
          type: string
    BulkActionWithFilterRequestBody:
      properties:
        rewardWinQueryFilter:
          $ref: '#/components/schemas/RewardWinQueryFilter'
      required:
      - rewardWinQueryFilter
      type: object
      additionalProperties: false
    TaxLineItem:
      properties:
        amount:
          type: number
          format: double
        type:
          $ref: '#/components/schemas/TaxLineItemType'
      required:
      - amount
      - type
      type: object
    BudgetReferenceIdType:
      type: string
      enum:
      - IROF
      - OPPORTUNITY
    RoutingOptionsDeprecated:
      type: object
      description: Routing options
      properties:
        redirect_url:
          type: string
          description: Url the influencer should be redirected to.
        cta:
          type: string
          description: Displayed CTA.
        mode:
          type: string
          description: Routing type.
    ReviewFormDeprecated:
      type: object
      required:
      - questions
      properties:
        id:
          type: integer
          description: id of form
        reviewProductId:
          type: integer
        action:
          $ref: '#/components/schemas/ActionDeprecated'
        product:
          $ref: '#/components/schemas/ProductDeprecated'
        questions:
          type: array
          description: Array of form questions
          items:
            $ref: '#/components/schemas/QuestionDeprecated'
        title:
          type: string
        description:
          type: string
        url:
          type: string
        incentivized:
          x-access:
          - administrator
          - root
          type: boolean
          description: whether the form is incentivized
        responses:
          type: array
          x-access:
          - administrator
          - root
          items:
            type: object
            properties:
              membership:
                $ref: '#/components/schemas/MembershipDeprecated'
              questionResponses:
                type: array
                items:
                  type: object
    InstagramAccountDeprecated:
      type: object
      properties:
        id:
          description: int = mavck-db-id, string = derived-index-id
          type:
          - integer
          - string
        handle:
          type: string
        fullName:
          type: string
        profilePicture:
          type: string
        bio:
          type: string
        website:
          type: string
        followersCount:
          type: integer
        followingCount:
          type: integer
        mediaCount:
          type: integer
        averageLikes:
          type: integer
        averageComments:
          type: integer
        averageEngagements:
          type: integer
        engagementRate:
          type: number
        isBusiness:
          type: boolean
        isPrivate:
          type: boolean
        sponsoredPostRate:
          type: number
        primaryAccount:
          type: boolean
        profileType:
          type: string
          enum:
          - platform
          - business
        instagramAccessGrant:
          type: object
          properties:
            isExpired:
              type: boolean
            platformIsExpired:
              type: boolean
            businessIsExpired:
              type: boolean
    DBRewardWinType:
      enum:
      - OTHER
      - CASH
      - PRODUCT
      - PROMO_CODE
      - GIFT_CARD
      - SHOPIFY_DISCOUNT
      type: string
    Pick_ListMemberRewardWin.id-or-listMemberId-or-eligibleOnEventType_:
      properties:
        id:
          type: number
          format: double
        listMemberId:
          type: number
          format: double
        eligibleOnEventType:
          $ref: '#/components/schemas/EventType'
      required:
      - id
      - listMemberId
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    ActionGroupDeprecated:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier representing a single action group.
        communityId:
          type: string
        communityName:
          type: string
        communityImage:
          type: string
        type:
          type: string
        mainType:
          type: string
          description: First action in the group type
        name:
          type: string
          description: Human-readable description of the action group displayed for administrators.
          x-access:
          - root
          - administrator
        title:
          type: string
        description:
          type: string
        image:
          type: string
        contentType:
          type: string
          description: For content action groups, this provides the type of content, which either matches og:image or is derived from internal heuristics.
        url:
          type: string
          description: For content action groups, this contains the url input upon creation.
        status:
          type: string
          description: The state of the action group. One of the set {"LIVE", "PAUSED", "PENDING", "EXPIRED"}.
          x-access:
          - root
          - administrator
        startDate:
          format: date-time
          type: string
          description: The scheduled time in which the action group will become available to influencers.
        endDate:
          format: date-time
          type:
          - 'null'
          - string
          description: The scheduled time in which the action group will no longer be available to influencers.
        createdAt:
          format: date-time
          type:
          - 'null'
          - string
        notInCommunity:
          type: boolean
          x-access:
          - root
          - administrator
          description: Filter this action group if the client specifies channel=community.
        isAutoCreated:
          type: boolean
        isPrimaryReferralActivity:
          type: boolean
        multipleActivations:
          type: boolean
          description: Indicates whether this action group can be completed multiple times. Only available for photoChallenge.
        campaign:
          type: object
          x-access:
          - root
          - administrator
          properties:
            id:
              type: integer
              description: Unique identifier representing a single campaign.
            name:
              type: string
              description: Name of campaign.
            description:
              type: string
              description: Name of campaign.
            brand:
              $ref: '#/components/schemas/BrandDeprecated'
            hasActivations:
              type: boolean
              description: Flag that indicates whether this campaign is associated with any activations.
            createdAt:
              format: date-time
              type: string
              description: The date and time that the campaign was created.
        audience:
          $ref: '#/components/schemas/AudienceDeprecated'
        incentive:
          $ref: '#/components/schemas/IncentiveDeprecated'
        incentives:
          items:
            $ref: '#/components/schemas/IncentiveDeprecated'
          type: array
        actions:
          items:
            $ref: '#/components/schemas/ActionDeprecated'
          type: array
        points:
          type: object
          properties:
            min:
              type: integer
            max:
              type: integer
        hasScheduledNotifications:
          type: boolean
          description: Indicates whether the action group is tied to any scheduled notifications. The audience cannot be modified if this is the case.
        listId:
          type: integer
        listDeliverables:
          type: array
          items:
            $ref: '#/components/schemas/ListDeliverable'
        influencerReviewDeliverable:
          type: object
          properties:
            id:
              type: integer
            count:
              type: integer
            listId:
              type: integer
        workflowStatuses:
          type: array
          items:
            $ref: '#/components/schemas/ListCustomStatusDeprecated'
        locale:
          type: string
          description: Formatted according to language codes (https://www.w3schools.com/tags/ref_language_codes.asp)
        activatedUsersMetrics:
          type: integer
        clicksMetrics:
          type: integer
        engagementsMetrics:
          type: integer
        impressionsMetrics:
          type: integer
        conversionsCountMetrics:
          type: integer
        conversionsValueMetrics:
          type: number
        posts:
          type: integer
        engagements:
          type: integer
        impressions:
          type: integer
        cpe:
          type: number
        cpp:
          type: number
        cpm:
          type: number
        cpa:
          type: number
        committedAmount:
          type: number
        paidAmount:
          type: number
        readyAmount:
          type: number
        cost:
          type: number
        roiValue:
          type: number
        workflowSummary:
          type: object
          properties:
            accepted:
              type: integer
            rejected:
              type: integer
            candidates:
              type: integer
            applicants:
              type: integer
            participants:
              type: integer
            completed:
              type: integer
        requiredHashtag:
          type: string
          description: Hashtag for action group (required)
        ftcHashtag:
          type: string
          description: FTC hashtag for an action group.
        youtubeHashtag:
          type: string
          description: YouTube hashtag for an action group.
        internalDescription:
          type: string
          description: Internal description on an action group.
        activityBudget:
          type:
          - 'null'
          - number
          description: Total budget for all actions under an action group.
        numberOfInfluencers:
          type:
          - 'null'
          - integer
          description: Target number of influencers for all actions under an action group.
        cpeGoal:
          type:
          - number
          - 'null'
          description: Cost per engagement goal for a single action group
        cpmGoal:
          type:
          - number
          - 'null'
          description: Cost per 1000 impressions goal for a single action group
        impressionsGoal:
          type:
          - number
          - 'null'
          description: Impressions goal for a single action group
        engagementsGoal:
          type:
          - number
          - 'null'
          description: Engagements goal for a single action group
        engagementRateGoal:
          type:
          - number
          - 'null'
          description: Engagement rate goal for a single action group
        contentDueDate:
          type:
          - string
          - 'null'
          description: Due date for content on an action group.
        draftDueDate:
          type:
          - string
          - 'null'
          description: Due date for drafts on an action group.
        conceptDueDate:
          type:
          - string
          - 'null'
          description: Due date for concepts on an action group.
        primaryNetwork:
          type: string
        hasPointsEnabled:
          type: boolean
        shareableReportLink:
          type: string
        termsOfServiceLink:
          type: string
        autoAcceptApplicant:
          type: boolean
        globalUserListDefinitionId:
          type:
          - integer
          - 'null'
        ready:
          type: number
        pending:
          type: number
        fulfilled:
          type: number
        brief:
          type: string
        hideOnIcm:
          type: boolean
        application:
          type: object
          properties:
            requestBrandedContentPermission:
              type: boolean
        community:
          type: object
          properties:
            instagramHandle:
              type: string
        isSetupEnabled:
          type: boolean
        isCopied:
          type: boolean
        hideTemplateUpdateCTA:
          type: boolean
        isLaterCreatorExperienceEnabled:
          type: boolean
        isMavelyCreatorExperienceEnabled:
          type: boolean
        budgetReferenceId:
          type:
          - string
          - 'null'
        budgetReferenceIdType:
          type:
          - string
          - 'null'
          enum:
          - IROF
          - OPPORTUNITY
          - null
        brandSuitabilityGuidelines:
          type:
          - string
          - 'null'
        publicSummary:
          type:
          - string
          - 'null'
        version:
          type: integer
          description: Version of the action group.
        lastPolledAt:
          type:
          - string
          - 'null'
          format: date-time
          description: The last time the action group was manually polled for updates.
    RewardWinSummary:
      properties:
        cost:
          properties:
            sum:
              type: number
              format: double
          required:
          - sum
          type: object
      required:
      - cost
      type: object
      additionalProperties: false
    ConversionTagDeprecated:
      type: object
      x-access:
      - administrator
      - root
      properties:
        id:
          type: string
          description: Unique identifier for the conversion tag.
        name:
          type: string
          description: Human-readable name for the conversion tag.
        code:
          type: string
          description: Code to embed in the Clickmeter JavaScript snippet to conduct conversion tracking.
        type:
          type: string
          description: The category this conversion belongs. One of the set {"purchase", "app_download", "sign_up"}.
        isActive:
          type: boolean
          description: Determines if a conversion tag is active or inactive
        isConversionValueEnabled:
          type: boolean
          description: Determines if a conversion tag is active or inactive
    RewardWinBulkUpdateBody:
      $ref: '#/components/schemas/Pick_RewardWinUpdateBody.id-or-orderNumber-or-trackingNumber-or-comment-or-isArchived_'
      description: 'Body for PUT /v1/reward-wins/update-objects/bulk.


        Explicit allowlist of the fields the bulk-edit endpoint may change: the incentive `id`

        (match key), Order Number, Tracking Number, Comment, and the archive flag. Everything else

        on `RewardWinUpdateBody` (fulfillmentStatus, cost, value, tax fields, ...) is intentionally

        excluded — tsoa strips unknown fields at the edge before they reach the controller. New

        bulk-editable fields must be added here deliberately.'
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    ResponseMetadata:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        status:
          type: string
          enum:
          - failure
          - success
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    BulkMetadata:
      properties:
        failedInstances:
          items:
            $ref: '#/components/schemas/BulkActionFailedInstance'
          type: array
        succesfulInstances:
          items:
            $ref: '#/components/schemas/BulkActionSuccesfulInstance'
          type: array
      required:
      - failedInstances
      - succesfulInstances
      type: object
      additionalProperties: false
    RoutingDeprecated:
      type: object
      description: Routing configuration.
      properties:
        success:
          $ref: '#/components/schemas/RoutingOptionsDeprecated'
        not_eligible:
          $ref: '#/components/schemas/RoutingOptionsDeprecated'
    QuestionResponseDeprecated:
      type: object
      properties:
        question:
          $ref: '#/components/schemas/QuestionDeprecated'
        value:
          type: string
          description: review question value
    PreviewPostDeprecated:
      type: object
      properties:
        id:
          type: integer
        postId:
          type: string
        network:
          type: string
        likes:
          type: integer
        comments:
          type: integer
        views:
          type: integer
        shares:
          type: integer
        caption:
          type: string
        imageUrl:
          type: string
        link:
          type: string
        isSponsored:
          type: boolean
        mentions:
          type: array
          items:
            type: string
        activation:
          $ref: '#/components/schemas/ActivationDeprecated'
        postedTime:
          type: string
          format: date-time
        visualSafeSearch:
          $ref: '#/components/schemas/VisualSafeSearchDeprecated'
        textSafeSearch:
          $ref: '#/components/schemas/TextSafeSearchDeprecated'
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ActivationDeprecated:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a single activation.
        externalId:
          type: string
          description: Instagram external id
        profilePicture:
          type: string
          description: Link to the user's Facebook profile picture using the External Facebook id of the user who created this activation.
        membershipId:
          type: integer
          description: Community membership id of user who created this activation used that can be used for pulling up influencer profiles.
        globalUserId:
          type: integer
        createdByAccountId:
          type: string
          description: Id of self-service application user who manually bound or manually entered this activation
        updatedByAccountId:
          type: string
          description: Id of self-service application user who manually updated this activation
        createdAt:
          type: string
          format: date-time
          description: CREATED AT TIME
        approvalStatus:
          type: string
          description: The Approval status of the activation.
        points:
          type: number
          description: Number of points that the activation grants.
        isApproved:
          type: boolean
          x-access:
          - root
          - administrator
          description: Indicates whether this activation has been approved to be publicly available.
        selfReported:
          type: boolean
        user:
          type: object
          properties:
            id:
              type:
              - integer
              - string
            fullName:
              type: string
            firstName:
              type: string
            lastName:
              type: string
            profilePicture:
              type: string
            unverified:
              type: string
              enum:
              - hidden
              - emails
              - excludes
            country:
              type: string
              enum:
              - Afghanistan
              - Albania
              - Algeria
              - American Samoa
              - Andorra
              - Angola
              - Anguilla
              - Antarctica
              - Antigua and Barbuda
              - Argentina
              - Armenia
              - Aruba
              - Australia
              - Austria
              - Azerbaijan
              - Bahrain
              - Bangladesh
              - Barbados
              - Belarus
              - Belgium
              - Belize
              - Benin
              - Bermuda
              - Bhutan
              - Bolivia
              - Bosnia and Herzegovina
              - Botswana
              - Bouvet Island
              - Brazil
              - British Indian Ocean Territory
              - British Virgin Islands
              - Brunei
              - Bulgaria
              - Burkina Faso
              - Burundi
              - Cambodia
              - Cameroon
              - Canada
              - Cape Verde
              - Caribbean Netherlands
              - Cayman Islands
              - Central African Republic
              - Chad
              - Chile
              - China
              - Christmas Island
              - Cocos (Keeling) Islands
              - Collectivity of Saint Martin
              - Colombia
              - Comoros
              - Cook Islands
              - Costa Rica
              - Côte d'Ivoire
              - Croatia
              - Cuba
              - Curaçao
              - Cyprus
              - Czechia
              - Democratic Republic of the Congo
              - Denmark
              - Djibouti
              - Dominica
              - Dominican Republic
              - Ecuador
              - Egypt
              - El Salvador
              - Equatorial Guinea
              - Eritrea
              - Estonia
              - Ethiopia
              - Falkland Islands (Malvinas)
              - Faroe Islands
              - Federated States of Micronesia
              - Fiji
              - Finland
              - France
              - French Guiana
              - French Polynesia
              - French Southern Territories
              - Gabon
              - Georgia
              - Germany
              - Ghana
              - Gibraltar
              - Greece
              - Greenland
              - Grenada
              - Guadeloupe
              - Guam
              - Guatemala
              - Guernsey
              - Guinea
              - Guinea-Bissau
              - Guyana
              - Haiti
              - Heard Island and McDonald Islands
              - Holy See (Vatican City)
              - Honduras
              - Hong Kong
              - Hungary
              - Iceland
              - India
              - Indonesia
              - Iran
              - Iraq
              - Ireland
              - Isle of Man
              - Israel
              - Jamaica
              - Japan
              - Italy
              - Jersey
              - Jordan
              - Kazakhstan
              - Kenya
              - Kiribati
              - Kuwait
              - Kyrgyzstan
              - Laos
              - Latvia
              - Lebanon
              - Lesotho
              - Liberia
              - Libya
              - Liechtenstein
              - Lithuania
              - Luxembourg
              - Macau
              - Macedonia (FYROM)
              - Madagascar
              - Malawi
              - Malaysia
              - Maldives
              - Mali
              - Malta
              - Marshall Islands
              - Martinique
              - Mauritania
              - Mauritius
              - Mayotte
              - Mexico
              - Moldova
              - Monaco
              - Mongolia
              - Montenegro
              - Montserrat
              - Morocco
              - Mozambique
              - Myanmar (Burma)
              - Namibia
              - Nauru
              - Nepal
              - Netherlands
              - New Caledonia
              - New Zealand
              - Nicaragua
              - Niger
              - Nigeria
              - Niue
              - Norfolk Island
              - North Korea
              - Northern Mariana Islands
              - Norway
              - Oman
              - Pakistan
              - Palau
              - Palestine
              - Panama
              - Papua New Guinea
              - Paraguay
              - Peru
              - Philippines
              - Pitcairn
              - Poland
              - Portugal
              - Puerto Rico
              - Qatar
              - Republic of the Congo
              - Reunion
              - Romania
              - Russia
              - Rwanda
              - Saint Helena, Ascension and Tristan da Cunha
              - Saint Kitts and Nevis
              - Saint Lucia
              - Saint Pierre and Miquelon
              - Saint Vincent and the Grenadines
              - Saint-Barthélemy
              - Samoa
              - San Marino
              - Sao Tome and Principe
              - Saudi Arabia
              - Senegal
              - Serbia
              - Seychelles
              - Sierra Leone
              - Singapore
              - Sint Maarten (Dutch part)
              - Slovakia
              - Slovenia
              - Solomon Islands
              - Somalia
              - South Africa
              - South Georgia and the South Sandwich Islands
              - South Korea
              - South Sudan
              - Spain
              - Sri Lanka
              - Sudan
              - Suriname
              - Svalbard and Jan Mayen
              - Swaziland
              - Sweden
              - Switzerland
              - Syria
              - Taiwan
              - Tajikistan
              - Tanzania
              - Thailand
              - The Bahamas
              - The Gambia
              - Timor-Leste
              - Togo
              - Tokelau
              - Tonga
              - Trinidad and Tobago
              - Tunisia
              - Turkey
              - Turkmenistan
              - Turks and Caicos Islands
              - Tuvalu
              - U.S. Virgin Islands
              - Uganda
              - Ukraine
              - United Arab Emirates
              - United Kingdom
              - United States Minor Outlying Islands
              - United States
              - Uruguay
              - Uzbekistan
              - Vanuatu
              - Venezuela
              - Vietnam
              - Wallis and Futuna
              - Western Sahara
              - Yemen
              - Zambia
              - Zimbabwe
              - Åland Islands
            state:
              type: string
            city:
              type: string
            zip:
              type: string
            street:
              type: string
            apt:
              type: string
            phone:
              type: string
            age:
              type: integer
            gender:
              type: string
              enum:
              - male
              - female
              - other
              - non_bin
              - describe
            email:
              type: string
            talentManagerEmail:
              type: string
            registered:
              type: boolean
            birthday:
              type: string
              format: date
            facebookProfile:
              $ref: '#/components/schemas/FacebookProfileDeprecated'
            instagramAccount:
              $ref: '#/components/schemas/InstagramAccountDeprecated'
            instagramProfile:
              $ref: '#/components/schemas/InstagramProfileDeprecated'
            tiktokCreator:
              $ref: '#/components/schemas/TikTokCreatorDeprecated'
            twitterAccount:
              $ref: '#/components/schemas/TwitterAccountDeprecated'
            pinterestAccount:
              $ref: '#/components/schemas/PinterestAccountDeprecated'
            youtubeChannel:
              $ref: '#/components/schemas/YoutubeChannelDeprecated'
            blog:
              $ref: '#/components/schemas/Blog'
            lists:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  label:
                    type: string
            appMembership:
              $ref: '#/components/schemas/MembershipDeprecated'
            userContactInfo:
              type: object
              properties:
                updatedAt:
                  type: string
                  format: date-time
                emailIsVerified:
                  type: boolean
                referralSlug:
                  type: string
                referralCount:
                  type: string
                gender:
                  type: string
                genderDescription:
                  type: string
            influencerTopics:
              type: array
              items:
                $ref: '#/components/schemas/TopicDeprecated'
            activations:
              type: integer
            engagements:
              type: integer
            clicksCount:
              type: integer
            conversionCount:
              type: integer
            conversionValue:
              type: number
              format: double
            rewards:
              type: integer
            facebookPostsCount:
              type: integer
            instagramPostsCount:
              type: integer
            twitterPostsCount:
              type: integer
            pinterestPostsCount:
              type: integer
            membershipDataPoints:
              type: array
              items:
                type: object
                properties:
                  dataPointDefinition:
                    $ref: '#/components/schemas/DataPointDefinitionDeprecated'
                  lastEditedBy:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  value:
                    type: array
                    items:
                      type: string
            membershipCostAndPerformance:
              $ref: '#/components/schemas/MembershipCostAndPerformanceDeprecated'
            audiencePredominantAgeRange:
              type: string
            audiencePredominantCountry:
              type: string
            audiencePredominantCity:
              type: string
            audiencePercentageFemale:
              type: number
            audiencePercentage_13_17:
              type: number
            audiencePercentage_18_24:
              type: number
            audiencePercentage_25_34:
              type: number
            audiencePercentage_35_44:
              type: number
            audiencePercentage_45_54:
              type: number
            audiencePercentage_55_64:
              type: number
            audiencePercentage_65_plus:
              type: number
            cpe:
              type: number
            cpm:
              type: number
            cpp:
              type: number
            audienceFraudLevel:
              type: string
              enum:
              - low
              - medium
              - high
            audienceFakeFollowersLevel:
              type: string
              enum:
              - low
              - medium
              - high
            audienceFakeEngagersLevel:
              type: string
              enum:
              - low
              - medium
              - high
            nudityLevel:
              type: string
              enum:
              - low
              - medium
              - high
            violenceLevel:
              type: string
              enum:
              - low
              - medium
              - high
            profanityLevel:
              type: string
              enum:
              - low
              - medium
              - high
            hasPublicSummaryRecord:
              type: boolean
        action:
          $ref: '#/components/schemas/ActionDeprecated'
        content:
          $ref: '#/components/schemas/ActivationContentDeprecated'
        instagramAccount:
          $ref: '#/components/schemas/InstagramAccountDeprecated'
        facebookProfile:
          $ref: '#/components/schemas/FacebookProfileDeprecated'
        twitterAccount:
          $ref: '#/components/schemas/TwitterAccountDeprecated'
        pinterestAccount:
          $ref: '#/components/schemas/PinterestAccountDeprecated'
        contactInfo:
          $ref: '#/components/schemas/MembershipContactInfoDeprecated'
        membership:
          $ref: '#/components/schemas/MembershipDeprecated'
        campaign:
          $ref: '#/components/schemas/CampaignDeprecated'
        surveyResponses:
          type: array
          items:
            $ref: '#/components/schemas/UserQuestionResponse'
        reviewContent:
          $ref: '#/components/schemas/ReviewFormResponseDeprecated'
        validation:
          type: object
          properties:
            ftcStatus:
              type: string
              enum:
              - unknown
              - valid
              - invalid
        brandedContentTagIGHandle:
          type: string
          description: A business partner that an influencer tagged in their Partnership Ads posts.
        tikTokHandle:
          type: string
          description: TikTok username handle
        tikTokMetrics:
          type: object
        tags:
          type: array
          items:
            type: string
        exportFilenames:
          type: array
          items:
            type: string
    NetworkName:
      type: string
      enum:
      - Blog
      - Facebook
      - Facebook Group
      - Facebook Live
      - Facebook Reel
      - Image
      - Instagram
      - Instagram Reel
      - Instagram Story
      - LinkedIn
      - Pinterest
      - Snapchat Story
      - TikTok
      - Twitch Stream
      - Twitter
      - Video
      - YouTube Video
      - YouTube Shorts
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
    TopicDeprecated:
      type: object
      properties:
        id:
          type: string
          description: The topic ID
        name:
          type: string
          description: The topic name
        slug:
          type: string
    TSOAEmptyObject:
      properties: {}
      type: object
      additionalProperties: false
    GetRewardWinGlobalUser:
      type: object
      properties: {}
    RewardWinBulkFulfillmentParams:
      properties:
        rewardWinId:
          type: integer
          format: int32
          minimum: 1
        attainedBonusTierIndex:
          type: integer
          format: int32
          description: 'Zero-based index of the manager-approved tier in the RewardWin''s persisted bonus tier ladder.

            Required when fulfilling a tier bonus RewardWin and rejected for non-tier RewardWins.'
          minimum: 0
      required:
      - rewardWinId
      type: object
      additionalProperties: false
    ReviewFormResponseDeprecated:
      type: object
      properties:
        globalUserId:
          type: integer
        membershipId:
          type: integer
          description: Unique Identifier for the membership
        rating:
          type: integer
          description: Review rating
        reviewCharacterCount:
          type: integer
          description: Sum of the character count in the review
        fullName:
          type: string
          description: Name of the influencer
        profilePic:
          type: string
          description: Profile picture of the influencer
        questionResponses:
          type: array
          items:
            $ref: '#/components/schemas/QuestionResponseDeprecated'
        createdAt:
          type: string
          format: date-time
        reviewForm:
          $ref: '#/components/schemas/ReviewFormDeprecated'
        product:
          $ref: '#/components/schemas/ProductDeprecated'
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    IncentiveTermsAndConditionsDeprecated:
      type: object
      properties:
        template:
          x-access:
          - administrator
          - root
          type: string
        preview:
          type: string
        params:
          x-access:
          - administrator
          - root
          type: object
    ListDeliverable:
      properties:
        contentType:
          $ref: '#/components/schemas/NetworkSlug'
        contentTypeName:
          $ref: '#/components/schemas/NetworkName'
        count:
          type: number
          format: double
        id:
          type: number
          format: double
        listId:
          type: number
          format: double
        updatedBy:
          type: number
          format: double
      required:
      - contentType
      - contentTypeName
      - count
      - id
      - listId
      type: object
      additionalProperties: false
    InfluencerDataPointCriteriaDeprecated:
      type: object
      required:
      - key
      properties:
        key:
          type: string
        value:
          type:
          - string
          - boolean
          - integer
        values:
          type: array
          items:
            type: string
        minValue:
          type: integer
        maxValue:
          type: integer
    NullableBonusTierCurrencyCode:
      type:
      - string
      - 'null'
      enum:
      - USD
      - EUR
      - GBP
      - AUD
      - CAD
      - null
    PaymentAppProvider:
      enum:
      - PAYPAL
      - STRIPE
      - TANGO_CARDS
      - MAVELY
      - TIPALTI
      type: string
    GetRewardWinsResponse:
      properties:
        meta:
          $ref: '#/components/schemas/GetRewardWinMetadata'
        data:
          items:
            $ref: '#/components/schemas/GetRewardWin'
          type: array
      required:
      - meta
      - data
      type: object
      additionalProperties: false
    YotpoAppProductDeprecated:
      type: object
      properties:
        reviewProductId:
          type: integer
          description: Product id assigned by Mavrck
        yotpoProductId:
          type: string
          description: Product id assigned by Yotpo
    AdministratorDeprecated:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        first_name:
          type: string
        last_name:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        approves:
          type: boolean
        createdAt:
          format: date-time
          type: string
          description: The date and time that the assessment was created.
    FacebookProfileDeprecated:
      type: object
      properties:
        id:
          type: integer
        facebookExternalId:
          type: string
        name:
          type: string
        link:
          type: string
        picture:
          type: string
        reach:
          type: integer
        averageLikes:
          type: integer
        averageComments:
          type: integer
        averageEngagements:
          type: integer
        engagementRate:
          type: number
        type:
          type: string
        available:
          type: boolean
        active:
          type: boolean
        expiresAt:
          type: string
          format: date-time
        facebookUser:
          type: object
          properties:
            isExpired:
              type: boolean
    GetRewardWinMetadata:
      properties:
        limit:
          type: number
          format: double
        totalCount:
          type: number
          format: double
      required:
      - limit
      - totalCount
      type: object
      additionalProperties: false
    InstagramProfileDeprecated:
      type: object
      properties:
        accessGrant:
          type: object
          properties:
            isExpired:
              type: boolean
            type:
              type: string
              enum:
              - basic
              - business
        averageComments:
          type: integer
        averageEngagements:
          type: integer
        averageLikes:
          type: integer
        audienceFakeCommentersLevel:
          type: string
        audienceFakeCommentersPercentage:
          type: number
        audienceFakeEngagersLevel:
          type: string
        audienceFakeFollowersLevel:
          type: string
        audienceFakeFollowersPercentage:
          type: number
        audienceFakeLikersLevel:
          type: string
        audienceFakeLikersPercentage:
          type: number
        audienceFraudLevel:
          type: string
        audiencePercentageFemale:
          type: number
        audiencePercentage_13_17:
          type: number
        audiencePercentage_18_24:
          type: number
        audiencePercentage_25_34:
          type: number
        audiencePercentage_35_44:
          type: number
        audiencePercentage_45_54:
          type: number
        audiencePercentage_55_64:
          type: number
        audiencePercentage_65_plus:
          type: number
        audiencePredominantAgeRange:
          type: string
        audiencePredominantCity:
          type: string
        audiencePredominantCountry:
          type: string
        bio:
          type: string
        boughtFollowers:
          type: boolean
        engagementRate:
          type: number
        id:
          type: integer
        isBusiness:
          type: boolean
        isPrivate:
          type: boolean
        followersCount:
          type: integer
        followingCount:
          type: integer
        fullName:
          type: string
        handle:
          type: string
        mediaCount:
          type: integer
        nudityLevel:
          type: string
        profanityLevel:
          type: string
        profilePicture:
          type: string
        profileType:
          type: string
          enum:
          - business
          - platform
        sponsoredPostRate:
          type: number
        website:
          type: string
    NetworkSlug:
      type: string
      enum:
      - blog
      - facebook
      - facebook_group
      - facebook_live
      - facebook_reel
      - image
      - instagram
      - instagram_reel
      - instagram_story
      - linkedin
      - pinterest
      - snapchat_story
      - tiktok
      - twitch_stream
      - twitter
      - video
      - youtube_video
      - youtube_shorts
    Pick_RewardWinUpdateBody.id-or-orderNumber-or-trackingNumber-or-comment-or-isArchived_:
      properties:
        id:
          type: number
          format: double
        isArchived:
          type: boolean
        orderNumber:
          type:
          - string
          - 'null'
        trackingNumber:
          type:
          - string
          - 'null'
        comment:
          type:
          - string
          - 'null'
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    CreationOptional_number_:
      type: object
      properties: {}
      description: 'This is a Branded Type.

        You can use it to tag attributes that can be ommited during Model Creation.


        For use with {@link InferCreationAttributes}.'
    DataPointDefinitionSetElementDeprecated:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            description: Unique identifier for the data point set element.
          key:
            type: string
          displayLabel:
            type: string
          markUpDisplayLabel:
            type: string
    GetSummaryResponse:
      properties:
        summary:
          properties:
            fulfilled:
              $ref: '#/components/schemas/RewardWinSummary'
            ready:
              $ref: '#/components/schemas/RewardWinSummary'
            pending:
              $ref: '#/components/schemas/RewardWinSummary'
          required:
          - fulfilled
          - ready
          - pending
          type: object
        summaryByCurrency:
          items:
            $ref: '#/components/schemas/RewardWinSummaryByCurrency'
          type: array
      required:
      - summary
      - summaryByCurrency
      type: object
      additionalProperties: false
    EventType:
      enum:
      - MANUAL
      - ACCEPTANCE
      - COMPLETION
      - PENDING_CONTENT
      - PENDING_PAYMENT
      type: string
    TaxLineItemType:
      type: string
      enum:
      - GST
      - HST
      - VAT
      - PST
      - QST
      - RST
    TikTokCreatorDeprecated:
      type: object
      properties:
        displayName:
          type: string
        followersCount:
          type: integer
        globalUserId:
          type: integer
        handleName:
          type: string
        insightsUpdatedAt:
          type: string
          format: date-time
        isActive:
          type: boolean
        profileImage:
          type: string
        status:
          type: string
        tiktokAccessGrant:
          type: object
        audiencePredominantAgeRange:
          type: string
        audiencePredominantCountry:
          type: string
        audiencePredominantDevice:
          type: string
        audiencePredominantGender:
          type: string
        audiencePredominantLocale:
          type: string
    ActionDeprecated:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier representing a single action.
        type:
          type: string
          description: A key to specify the type of action.
        title:
          type: string
          description: A concise call to action, grabbing the influencer's attention.
        label:
          type: string
          description: Internal label for action.
        description:
          type: string
          description: An elaboration on the title.
        image:
          type: string
          description: An image to associate with the action.
        instructions:
          type: string
          description: Instructions on how to complete the action
        linkReference:
          type: string
          description: Reference to Link
        actionGroupId:
          type: integer
          x-access:
          - administrator
          - root
          - influencer
          description: ID of the parent action group.
        actionGroupType:
          type: string
          x-access:
          - administrator
          - root
          description: Type of the parent action group.
        actionGroupTitle:
          type: string
        brandSuitabilityGuidelines:
          type:
          - 'null'
          - string
          description: Optional guidelines from the parent action group to customize the brand suitability review for this action's campaign.
        ActionGroup:
          type: object
          properties:
            id:
              type: integer
              description: Unique identifier representing a single action group.
            communityId:
              type: string
            communityName:
              type: string
            communityImage:
              type: string
            type:
              type: string
            mainType:
              type: string
              description: First action in the group type
            name:
              type: string
              description: Human-readable description of the action group displayed for administrators.
              x-access:
              - root
              - administrator
            title:
              type: string
            description:
              type: string
            image:
              type: string
            contentType:
              type: string
              description: For content action groups, this provides the type of content, which either matches og:image or is derived from internal heuristics.
            url:
              type: string
              description: For content action groups, this contains the url input upon creation.
            status:
              type: string
              description: The state of the action group. One of the set {"LIVE", "PAUSED", "PENDING", "EXPIRED"}.
              x-access:
              - root
              - administrator
            startDate:
              format: date-time
              type: string
              description: The scheduled time in which the action group will become available to influencers.
            endDate:
              format: date-time
              type:
              - 'null'
              - string
              description: The scheduled time in which the action group will no longer be available to influencers.
            createdAt:
              format: date-time
              type:
              - 'null'
              - string
            notInCommunity:
              type: boolean
              x-access:
              - root
              - administrator
              description: Filter this action group if the client specifies channel=community.
            isAutoCreated:
              type: boolean
            isPrimaryReferralActivity:
              type: boolean
            multipleActivations:
              type: boolean
              description: Indicates whether this action group can be completed multiple times. Only available for photoChallenge.
            campaign:
              type: object
              x-access:
              - root
              - administrator
              properties:
                id:
                  type: integer
                  description: Unique identifier representing a single campaign.
                name:
                  type: string
                  description: Name of campaign.
                description:
                  type: string
                  description: Name of campaign.
                brand:
                  $ref: '#/components/schemas/BrandDeprecated'
                hasActivations:
                  type: boolean
                  description: Flag that indicates whether this campaign is associated with any activations.
                createdAt:
                  format: date-time
                  type: string
                  description: The date and time that the campaign was created.
            audience:
              $ref: '#/components/schemas/AudienceDeprecated'
            incentive:
              $ref: '#/components/schemas/IncentiveDeprecated'
            incentives:
              items:
                $ref: '#/components/schemas/IncentiveDeprecated'
              type: array
            points:
              type: object
              properties:
                min:
                  type: integer
                max:
                  type: integer
            hasScheduledNotifications:
              type: boolean
              description: Indicates whether the action group is tied to any scheduled notifications. The audience cannot be modified if this is the case.
            listId:
              type: integer
            listDeliverables:
              type: array
              items:
                $ref: '#/components/schemas/ListDeliverable'
            influencerReviewDeliverable:
              type: object
              properties:
                id:
                  type: integer
                count:
                  type: integer
                listId:
                  type: integer
            workflowStatuses:
              type: array
              items:
                $ref: '#/components/schemas/ListCustomStatusDeprecated'
            locale:
              type: string
              description: Formatted according to language codes (https://www.w3schools.com/tags/ref_language_codes.asp)
            activatedUsersMetrics:
              type: integer
            clicksMetrics:
              type: integer
            engagementsMetrics:
              type: integer
            impressionsMetrics:
              type: integer
            conversionsCountMetrics:
              type: integer
            conversionsValueMetrics:
              type: number
            posts:
              type: integer
            engagements:
              type: integer
            impressions:
              type: integer
            cpe:
              type: number
            cpp:
              type: number
            cpm:
              type: number
            cpa:
              type: number
            committedAmount:
              type: number
            paidAmount:
              type: number
            readyAmount:
              type: number
            cost:
              type: number
            roiValue:
              type: number
            workflowSummary:
              type: object
              properties:
                accepted:
                  type: integer
                rejected:
                  type: integer
                candidates:
                  type: integer
                applicants:
                  type: integer
                participants:
                  type: integer
                completed:
                  type: integer
            requiredHashtag:
              type: string
              description: Hashtag for action group (required)
            ftcHashtag:
              type: string
              description: FTC hashtag for an action group.
            youtubeHashtag:
              type: string
              description: YouTube hashtag for an action group.
            internalDescription:
              type: string
              description: Internal description on an action group.
            activityBudget:
              type:
              - 'null'
              - number
              description: Total budget for all actions under an action group.
            numberOfInfluencers:
              type:
              - 'null'
              - integer
              description: Target number of influencers for all actions under an action group.
            cpeGoal:
              type:
              - number
              - 'null'
              description: Cost per engagement goal for a single action group
            cpmGoal:
              type:
              - number
              - 'null'
              description: Cost per 1000 impressions goal for a single action group
            impressionsGoal:
              type:
              - number
              - 'null'
              description: Impressions goal for a single action group
            engagementsGoal:
              type:
              - number
              - 'null'
              description: Engagements goal for a single action group
            engagementRateGoal:
              type:
              - number
              - 'null'
              description: Engagement rate goal for a single action group
            contentDueDate:
              type:
              - string
              - 'null'
              description: Due date for content on an action group.
            draftDueDate:
              type:
              - string
              - 'null'
              description: Due date for drafts on an action group.
            conceptDueDate:
              type:
              - string
              - 'null'
              description: Due date for concepts on an action group.
            primaryNetwork:
              type: string
            hasPointsEnabled:
              type: boolean
            shareableReportLink:
              type: string
            termsOfServiceLink:
              type: string
            autoAcceptApplicant:
              type: boolean
            globalUserListDefinitionId:
              type:
              - integer
              - 'null'
            ready:
              type: number
            pending:
              type: number
            fulfilled:
              type: number
            brief:
              type: string
            hideOnIcm:
              type: boolean
            application:
              type: object
              properties:
                requestBrandedContentPermission:
                  type: boolean
            community:
              type: object
              properties:
                instagramHandle:
                  type: string
            isSetupEnabled:
              type: boolean
            isCopied:
              type: boolean
            hideTemplateUpdateCTA:
              type: boolean
            isLaterCreatorExperienceEnabled:
              type: boolean
            isMavelyCreatorExperienceEnabled:
              type: boolean
            budgetReferenceId:
              type:
              - string
              - 'null'
            budgetReferenceIdType:
              type:
              - string
              - 'null'
              enum:
              - IROF
              - OPPORTUNITY
              - null
            brandSuitabilityGuidelines:
              type:
              - string
              - 'null'
            publicSummary:
              type:
              - string
              - 'null'
            version:
              type: integer
              description: Version of the action group.
            lastPolledAt:
              type:
              - string
              - 'null'
              format: date-time
              description: The last time the action group was manually polled for updates.
        routing:
          $ref: '#/components/schemas/RoutingDeprecated'
        survey:
          type: object
          required:
          - questions
          properties:
            id:
              type: integer
              description: id of form
            reviewProductId:
              type: integer
            product:
              $ref: '#/components/schemas/ProductDeprecated'
            questions:
              type: array
              description: Array of form questions
              items:
                $ref: '#/components/schemas/QuestionDeprecated'
            title:
              type: string
            description:
              type: string
            url:
              type: string
            incentivized:
              x-access:
              - administrator
              - root
              type: boolean
              description: whether the form is incentivized
            responses:
              type: array
              x-access:
              - administrator
              - root
              items:
                type: object
                properties:
                  membership:
                    $ref: '#/components/schemas/MembershipDeprecated'
                  questionResponses:
                    type: array
                    items:
                      type: object
        url:
          type: string
          description: Url to be visited by influencers.
        link:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            title:
              type: string
            communityId:
              type: string
            url:
              type: string
            shortLink:
              type: string
            trackingPixelCode:
              type: string
            conversionId:
              type: string
              description: Assign a conversion to track conversions resulting from clicks on this link.
            domainId:
              type: string
            domain:
              type: string
            type:
              type: string
            numClicks:
              type: integer
            lastUpdated:
              type: string
            isDeleted:
              type: string
            membershipId:
              type: string
            conversions:
              type: integer
            conversionsValue:
              type: number
            providerCode:
              type: string
            providerName:
              type: string
            isAffiliate:
              type: boolean
            destinationUrl:
              type: string
              description: A user will ultimately be redirected to this url when someone clicks on the link contained in an artifact on a network.
            metaInformation:
              $ref: '#/components/schemas/MetaInformationDeprecated'
        previewContentType:
          type: string
          description: For content activities, this indicates the type of content to be previewed.
        article:
          type: object
          properties:
            html:
              type: string
              description: Article content to be viewed by influencers.
        video:
          type: object
          properties:
            url:
              type: string
              description: Video to be watched by influencers.
        submit:
          type: string
          description: Type of content for influencers to submit
        reviewFormId:
          type: integer
          description: Review Form Id tied to this action
        productId:
          type: integer
          description: Product Id tied to this action
        product:
          $ref: '#/components/schemas/ProductDeprecated'
        activations:
          description: If the user has created any activations for this action, then they are displayed here.
          x-access:
          - influencer
          type: array
          items:
            $ref: '#/components/schemas/ActivationURI'
        pendingActivation:
          $ref: '#/components/schemas/PendingActivationURI'
        conversion:
          $ref: '#/components/schemas/ConversionTagDeprecated'
        conversionAssignedAt:
          format: date-time
          type: string
          description: The date time when a conversion tag is assigned to this action.
          x-access:
          - administrator
          - root
        brand:
          $ref: '#/components/schemas/BrandDeprecated'
        points:
          type: number
          description: The number of points an activity is worth.
        needsModeration:
          type: boolean
          description: Indicates whether content created for this Action needs to be approved by a Brand Manager.
        multipleActivations:
          type: boolean
          description: Indicates whether this action can be completed multiple times. Only available for photoChallenge.
        required:
          type: boolean
          description: Indicates whether this action is required to be completed.
        membershipId:
          type: number
    ListCustomStatusDeprecated:
      type: object
      required:
      - label
      properties:
        id:
          type: integer
        label:
          type: string
        ctaLabel:
          type: string
        auxiliaryLabel:
          type: string
        slug:
          type: string
        phase:
          type: string
        statusOrder:
          type: integer
        disabled:
          type: boolean
        custom:
          type: boolean
        linkedStages:
          type: array
          items:
            type: string
        templates:
          type: array
          items:
            $ref: '#/components/schemas/ConversationTemplateDeprecated'
        requirements:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowStatusRequirementDeprecated'
    ConversationTemplateDeprecated:
      type: object
      properties:
        id:
          type: integer
        category:
          type: string
        title:
          type: string
        subject:
          type: string
        html:
          type: string
        createdBy:
          $ref: '#/components/schemas/AdministratorDeprecated'
        lastModifiedBy:
          $ref: '#/components/schemas/AdministratorDeprecated'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deliveryMethod:
          type: string
        sendOnEvent:
          type: string
        sendOnDays:
          type: integer
        sendOnTimeframe:
          type: string
        sendOnStatusId:
          type:
          - integer
          - 'null'
        sendOnDate:
          type: string
        slug:
          type: string
        isArchived:
          type: boolean
    TwitterAccountDeprecated:
      type: object
      properties:
        id:
          description: int = mavck-db-id, string = derived-index-id
          type:
          - integer
          - string
        handle:
          type: string
        fullName:
          type: string
        profilePicture:
          type: string
        description:
          type: string
        followersCount:
          type: integer
        followingCount:
          type: integer
        listedCount:
          type: integer
        averageFavorites:
          type: integer
        averageRetweets:
          type: integer
        averageEngagements:
          type: integer
        engagementRate:
          type: number
        primaryAccount:
          type: boolean
        twitterAccessGrant:
          type: object
          properties:
            isExpired:
              type: boolean
    Gender:
      enum:
      - describe
      - female
      - male
      - non_bin
      - other
      type: string
    GetRewardWinCashPaymentApp:
      $ref: '#/components/schemas/Pick_CashPaymentApp.id-or-provider_'
    PaymentsLedger:
      properties:
        transactionDateTime:
          type: string
          format: date-time
        communityId:
          type: string
        paymentAccountType:
          $ref: '#/components/schemas/PaymentAccountType'
        actionGroupTitle:
          type: string
        transactionDescription:
          type: string
        paymentAccountTransactionId:
          type: number
          format: double
        transactionCreatedByEmail:
          type: string
        recipientFullName:
          type:
          - string
          - 'null'
        recipientEmail:
          type: string
        providerSearchableTransactionId:
          type:
          - string
          - 'null'
        externalId:
          type: string
        cashPaymentProviderStatusMessage:
          type:
          - string
          - 'null'
        cashPaymentStatusForFailure:
          type:
          - string
          - 'null'
        cashPaymentProviderStatusCodeForFailure:
          type:
          - string
          - 'null'
        cashPaymentProviderStatusMessageForFailure:
          type:
          - string
          - 'null'
        paymentAccountId:
          type: number
          format: double
        rewardWinTitle:
          type: string
        rewardWinType:
          $ref: '#/components/schemas/DBRewardWinType'
        uniqueTransactionId:
          type:
          - string
          - 'null'
        actionGroupId:
          type:
          - number
          - 'null'
          format: double
        rewardWinId:
          type:
          - number
          - 'null'
          format: double
        listMemberId:
          type:
          - number
          - 'null'
          format: double
        globalUserId:
          type:
          - number
          - 'null'
          format: double
        listId:
          type:
          - number
          - 'null'
          format: double
        cashPaymentStatus:
          type:
          - string
          - 'null'
        cashPaymentProviderStatusCode:
          type:
          - string
          - 'null'
        transactionStatus:
          type:
          - string
          - 'null'
        paymentAccountTitle:
          type:
          - string
          - 'null'
        provider:
          $ref: '#/components/schemas/PaymentAppProvider'
        valueCurrencyCode:
          type:
          - string
          - 'null'
        costCurrencyCode:
          type:
          - string
          - 'null'
        value:
          type:
          - number
          - 'null'
          format: double
        cost:
          type:
          - number
          - 'null'
          format: double
        exchangeRate:
          type:
          - number
          - 'null'
          format: double
        budgetReferenceId:
          type:
          - string
          - 'null'
        budgetReferenceIdType:
          type: object
        mavelyProfileId:
          type:
          - string
          - 'null'
[...]
