openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Ytbc Brand Channels API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: YtbcBrandChannels
paths:
  /v1/ytbc/brand-channels/validate:
    post:
      operationId: validateBrandYoutubeChannel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandChannelValidationResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - YtbcBrandChannels
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandChannelValidationRequest'
        required: true
  /v1/ytbc/brands/{brandId}/youtube-channel:
    get:
      operationId: getBrandYoutubeChannel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandYoutubeChannelResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - YtbcBrandChannels
      parameters:
      - in: path
        name: brandId
        required: true
        schema:
          type: number
          format: double
    put:
      operationId: setBrandYoutubeChannel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandYoutubeChannelResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - YtbcBrandChannels
      parameters:
      - in: path
        name: brandId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetYoutubeChannelRequest'
        required: true
    delete:
      operationId: clearBrandYoutubeChannel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandYoutubeChannelResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - YtbcBrandChannels
      parameters:
      - in: path
        name: brandId
        required: true
        schema:
          type: number
          format: double
components:
  schemas:
    SetYoutubeChannelRequest:
      properties:
        channelInput:
          type: string
        hasNoYoutubeChannel:
          type: boolean
      type: object
      additionalProperties: false
    BrandChannelValidationRequest:
      properties:
        channelInput:
          type: string
      required:
      - channelInput
      type: object
      additionalProperties: false
    BrandChannelValidationResponse:
      properties:
        channelId:
          type: string
        title:
          type:
          - string
          - 'null'
        channelHandle:
          type:
          - string
          - 'null'
        thumbnailUri:
          type:
          - string
          - 'null'
      required:
      - channelId
      - title
      - channelHandle
      - thumbnailUri
      type: object
      additionalProperties: false
    BrandYoutubeChannelResponse:
      properties:
        channelId:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        channelHandle:
          type:
          - string
          - 'null'
        thumbnailUri:
          type:
          - string
          - 'null'
        hasNoYoutubeChannel:
          type: boolean
      required:
      - channelId
      - title
      - channelHandle
      - thumbnailUri
      - hasNoYoutubeChannel
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
