openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO List Members API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: ListMembers
paths:
  /v1/list-members:
    post:
      operationId: getListMemberGlobalUserIds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  type: number
                  format: double
                type: array
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ListMembers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMemberFilters'
        required: true
      summary: Get list member global user ids
      x-summary-source: derived
components:
  schemas:
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ListMemberFilters:
      properties:
        queryFilter:
          additionalProperties: true
        actionGroupId:
          type: number
          format: double
      required:
      - queryFilter
      - actionGroupId
      type: object
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
