openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Activity History API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: ActivityHistory
paths:
  /action-groups/{actionGroupId}/activity-history/{globalUserId}:
    get:
      tags:
      - ActivityHistory
      operationId: getHistory
      x-handler: activity_history/activity_history_controller.js
      x-access:
      - administrator
      summary: Retrieve a history.
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/orderDirection'
      - name: actionGroupId
        in: path
        required: true
        description: The id of the activity to filter the result set by.
        schema:
          type: integer
      - name: globalUserId
        in: path
        required: true
        description: The id of the influencer to filter the result set by.
        schema:
          type: integer
      - name: eventTypes
        in: query
        required: false
        description: A comma-separated list of event types to return. If not specified, then return default event types.
        schema:
          type: string
      - name: conversationId
        in: query
        required: false
        description: A conversation's unique identifier.
        schema:
          type: integer
      responses:
        '200':
          description: Activity History.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityHistory'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    ResponseMetadata:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        status:
          type: string
          enum:
          - failure
          - success
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
    ActivityHistory:
      type: object
      properties:
        eventType:
          type: string
        eventId:
          type: string
        activationId:
          type: integer
        title:
          type: string
        description:
          type: string
        eventAt:
          type: string
        actorType:
          type: string
        tiktokCampaignCode:
          type: string
        inviteLink:
          type: string
        actorName:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        markedAsUnread:
          type: boolean
        isArchived:
          type: boolean
        count:
          type: integer
        influencerInitiated:
          type: boolean
        scheduledFor:
          type: string
          format: date-time
        scheduledMessageId:
          type: integer
        hasScheduledReply:
          type: boolean
        rate:
          type: string
        concept:
          type: string
    Attachment:
      type: object
      properties:
        originalName:
          type: string
        encoding:
          type: string
        buffer:
          type: string
        mimeType:
          type: string
        disposition:
          type: string
        size:
          type: integer
        uri:
          type: string
        contentId:
          type: string
  parameters:
    limitParam:
      in: query
      description: Maximum number of items to return
      name: limit
      schema:
        type: integer
    offsetParam:
      in: query
      description: Number of items to skip
      name: offset
      schema:
        type: integer
    orderDirection:
      in: query
      description: Select the direction by which the data will be ordered, ascending or descending.
      name: orderDirection
      schema:
        type: string
        enum:
        - ASC
        - DESC
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
