openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Mavely Transfers API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: MavelyTransfers
paths:
  /v1/mavely/transfers/{rewardWinId}:
    get:
      operationId: getMavelyTransfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MavelyTransferWithStatusHistoryResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - MavelyTransfers
      parameters:
      - in: path
        name: rewardWinId
        required: true
        schema:
          type: string
components:
  schemas:
    MavelyTransferWithStatusHistoryResponse:
      properties:
        instanceId:
          type: string
        actionGroupId:
          type: number
          format: double
        statusHistory:
          items:
            $ref: '#/components/schemas/MavelyTransferStatusRecord'
          type: array
      required:
      - instanceId
      - actionGroupId
      - statusHistory
      type: object
    MavelyTransferStatusRecord:
      type: object
      properties:
        id:
          type: number
          format: double
        transferId:
          type: number
          format: double
        providerStatusCode:
          type: string
        providerStatusMessage:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
