openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Payment Provider API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: PaymentProvider
paths:
  /v1/payment-providers:
    get:
      operationId: getInstancePaymentProviderApps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentProvider'
                type: array
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PaymentProvider
  /v1/mvk-payment-provider:
    post:
      operationId: configureMavrckProviderAppToInstance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentProvider'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PaymentProvider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigureMavrckProviderAppToInstanceBody'
        required: true
components:
  schemas:
    PaymentAppProvider:
      enum:
      - PAYPAL
      - STRIPE
      - TANGO_CARDS
      - MAVELY
      - TIPALTI
      type: string
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    PaymentProvider:
      properties:
        externalDescription:
          type: string
        internalIdentifierCode:
          type:
          - string
          - 'null'
        provider:
          type: string
      required:
      - externalDescription
      - internalIdentifierCode
      - provider
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    PaymentAccountType:
      enum:
      - CASH
      - GIFT_CARD
      type: string
    ConfigureMavrckProviderAppToInstanceBody:
      properties:
        appType:
          $ref: '#/components/schemas/PaymentAccountType'
        provider:
          $ref: '#/components/schemas/PaymentAppProvider'
        communityId:
          type: string
        currencyCode:
          type: object
      required:
      - appType
      - provider
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
