openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Program API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: Program
paths:
  /programs/referral-program:
    get:
      tags:
      - Program
      x-handler: referral_programs/referral_program_controller.js
      x-access:
      - administrator
      - influencer
      operationId: getReferralProgram
      description: Get the referral program for a given community, including the program's incentives
      responses:
        '200':
          description: Referral Program for a given community
          content:
            application/json:
              schema:
                type: object
                properties:
                  referralProgram:
                    type: object
                    properties:
                      name:
                        type: string
                      sharingDescription:
                        type: string
                      referrerIncentive:
                        type: object
                        properties:
                          incentiveTitle:
                            type: string
                          id:
                            type: integer
                      refereeIncentive:
                        type: object
                        properties:
                          incentiveTitle:
                            type: string
                          id:
                            type: integer
        '400':
          description: Invalid/missing parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
