openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Expiring Access Tokens API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: ExpiringAccessTokens
paths:
  /v1/expiring-access-tokens:
    post:
      operationId: handleExpiringAccessToken
      responses:
        '200':
          description: OK
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - ExpiringAccessTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpiringAccessTokenEvent'
        required: true
components:
  schemas:
    ExpiringAccessTokenEvent:
      properties:
        tokenId:
          type: string
        tokenExpiresAt:
          type:
          - string
          - 'null'
        refreshTokenExpiresAt:
          type:
          - string
          - 'null'
        platform:
          type: string
        eventType:
          type: string
        appId:
          type: string
      required:
      - tokenId
      - tokenExpiresAt
      - refreshTokenExpiresAt
      - platform
      - eventType
      - appId
      type: object
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
