openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Batch Jobs API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: BatchJobs
paths:
  /batch-jobs/{listId}/status:
    get:
      tags:
      - BatchJobs
      x-handler: batch_jobs/batch_jobs_controller.js
      x-access:
      - administrator
      operationId: getProgressForBatchJobsWithListId
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Collection of batch jobs with counts.
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchJob'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /batch-jobs/{communityId}/summary:
    get:
      tags:
      - BatchJobs
      x-handler: batch_jobs/batch_jobs_controller.js
      x-access:
      - administrator
      operationId: getBatchJobsSummary
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A summary of the running and completed batch jobs for an instance.
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchJob'
        '400':
          description: Invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
    ResponseMetadata:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        status:
          type: string
          enum:
          - failure
          - success
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    BatchJob:
      type: object
      properties:
        status:
          type: string
        name:
          type: string
        createdAt:
          type: string
        beganProcessingAt:
          type: string
        completedAt:
          type: string
        failedAt:
          type: string
        requester:
          type: string
        messagesProcessed:
          type: integer
        params:
          type: string
        total:
          type: integer
        type:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
