openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Facebook Profiles API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: FacebookProfiles
paths:
  /facebook-profiles:
    get:
      tags:
      - FacebookProfiles
      operationId: getFacebookProfiles
      x-handler: facebook_profiles/facebook_profile_controller.js
      x-access:
      - influencer
      summary: Retrieve Facebook profiles.
      responses:
        '200':
          description: Collection of Facebook profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FacebookProfileDeprecated'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /facebook-profiles/{facebookProfileId}/active:
    post:
      tags:
      - FacebookProfiles
      operationId: activateFacebookProfile
      x-handler: facebook_profiles/active_facebook_profile_controller.js
      x-access:
      - influencer
      summary: Designate a Facebook profile as active.
      parameters:
      - name: facebookProfileId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Profile successfully designated as active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Facebook profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          description: A key representing the type of error that has occurred.
        error:
          type: string
          description: A static description of the type of error.
        params:
          type: array
          description: For errors invovling parameters, this is an array containing the invalid parameters.
          items:
            type: string
        keys:
          type: array
          items:
            type:
            - string
            - object
        artifactLinks:
          $ref: '#/components/schemas/LinksDeprecated'
        parent:
          type: object
          properties:
            type:
              type: string
              description: A key representing the type of error generated by a request to an external API.
            error:
              type: string
              description: A static description of the parent error.
    ResponseMetadata:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        status:
          type: string
          enum:
          - failure
          - success
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    LinksDeprecated:
      type: object
      x-access:
      - anonymous
      - influencer
      properties:
        normal:
          type: string
          description: A normal link to an entity.
        deep:
          type: string
          description: A deep link to the entity.
    EmptyObject:
      type: object
      properties: {}
    FacebookProfileDeprecated:
      type: object
      properties:
        id:
          type: integer
        facebookExternalId:
          type: string
        name:
          type: string
        link:
          type: string
        picture:
          type: string
        reach:
          type: integer
        averageLikes:
          type: integer
        averageComments:
          type: integer
        averageEngagements:
          type: integer
        engagementRate:
          type: number
        type:
          type: string
        available:
          type: boolean
        active:
          type: boolean
        expiresAt:
          type: string
          format: date-time
        facebookUser:
          type: object
          properties:
            isExpired:
              type: boolean
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
