openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Global User API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: GlobalUser
paths:
  /v1/global-users/me:
    get:
      operationId: retrieveCurrentUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCurrentUserResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
  /v1/global-users/{id}:
    get:
      operationId: get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGlobalUserResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: index
        required: false
        schema:
          type: string
          enum:
          - user_index
          - members_index
      - in: query
        name: isPublic
        required: false
        schema:
          type: boolean
    put:
      operationId: updateGlobalUserSummary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      description: Update an Influencer Index creator's contact info.
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGlobalUserBodyDefinition'
        required: true
  /v1/global-users:
    get:
      operationId: getGlobalUsers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGlobalUsersResponse'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '422':
          description: Unprocessable Content, Invalid Query Parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContent'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      description: 'This endpoint point is also used by other microservices ike export-service

        retrieveIds is a boolean, see https://github.com/latermedia/export-service/blob/0bf2bf7ab022e718697872cd9de5a6fe05aab2fb/worker/src/main/kotlin/co/mavrck/exportservice/worker/Sapi.kt#L71

        globalUserIds in queryParams is a string: "3704000,13704570,13704663", but it''s used as an array of number in the code'
      tags:
      - GlobalUser
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: offset
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: useSearchWithOpenAI
        required: false
        schema:
          type: boolean
      - in: query
        name: retrieveIds
        required: false
        schema:
          type: boolean
      - in: query
        name: globalUserIds
        required: false
        schema:
          type: string
      - in: query
        name: prompt
        required: false
        schema:
          type: string
    put:
      operationId: addNewInfluencer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  action:
                    $ref: '#/components/schemas/GlobalUserUpsertAction'
                  globalUserId:
                    type:
                    - number
                    - 'null'
                    format: double
                required:
                - action
                - globalUserId
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      description: 'Add a new creator using CDS-first lookup.

        Returns the global user ID and action (CREATED or CONFLICT) if the creator was added successfully.

        Returns an error if the creator could not be added.'
      tags:
      - GlobalUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGlobalUserBodyDefinition'
        required: true
  /v1/global-users/preview:
    put:
      operationId: previewAddCreator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  movingTo:
                    type: string
                    enum:
                    - index
                    - members
                    - both
                  message:
                    type: string
                  preview:
                    type: boolean
                  globalUserId:
                    type:
                    - number
                    - 'null'
                    format: double
                  action:
                    $ref: '#/components/schemas/GlobalUserUpsertAction'
                required:
                - preview
                - globalUserId
                - action
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      description: 'Preview CDS-first creator lookup without side effects.

        Returns what action would be taken if the creator were to be added.'
      tags:
      - GlobalUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGlobalUserBodyDefinition'
        required: true
  /v1/global-users/{globalUserId}/audience-demographics/latest:
    post:
      operationId: refreshAudienceDemographics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshAudienceDemographicsBody'
        required: true
  /v1/global-users/{globalUserId}/audience-demographics:
    get:
      operationId: getAudienceDemographics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalUserAudienceDemographicsResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
  /v1/global-users/{globalUserId}/public-users:
    post:
      operationId: markPublic
      responses:
        '200':
          description: OK
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
    delete:
      operationId: markPrivate
      responses:
        '200':
          description: OK
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
  /v1/global-users/{globalUserId}/creator-refresh:
    post:
      operationId: enqueueCreatorRefresh
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  previewPostsLastUpdatedAt:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  recentlyAnalyzed:
                    type: boolean
                  lastRefreshedAt:
                    type:
                    - string
                    - 'null'
                    format: date-time
                required:
                - previewPostsLastUpdatedAt
                - recentlyAnalyzed
                - lastRefreshedAt
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
  /v1/global-users/{globalUserId}/brand-safety-request:
    post:
      operationId: makeBrandSafetyRequest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandSafetyRequestReponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
  /v1/global-users/{globalUserId}/brand-suitability:
    get:
      operationId: getBrandSuitabilityReport
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBrandSuitabilityReportResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: campaignId
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: brandName
        required: false
        schema:
          type: string
    post:
      operationId: generateBrandSuitabilityReport
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateBrandSuitabilityReportResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateBrandSuitabilityReportRequest'
        required: true
  /v1/global-users/all-social-profiles:
    post:
      operationId: getAllSocialProfiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalUserSearchAllSocialProfilesByIdsPostResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalUserSearchAllSocialProfilesByIdsPostParams'
        required: true
  /v1/global-users/inconsistencies:
    post:
      operationId: getInconsistencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalUserGetInconsistenciesPostResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalUserGetInconsistenciesPostParams'
        required: true
  /v1/global-users/repair:
    post:
      operationId: repair
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalUserRepairPostResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalUserRepairPostParams'
        required: true
  /v1/global-users/random/guids:
    get:
      operationId: getRandomGlobalUsers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalUserGetRandomGlobalUsersResponse'
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
  /v1/global-users/{globalUserId}/mark-as-non-contactable:
    post:
      operationId: markAsNonContactable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Missing or invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
  /v1/global-users/{globalUserId}/delete-public-summary-record:
    post:
      operationId: deletePublicSummaryRecord
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Missing or invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
  /v1/global-users/{globalUserId}/audience-countries:
    get:
      operationId: getGlobalUserAudienceCountries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalUserAudienceCountriesQueryResult'
        '400':
          description: Missing or invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Global user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: orderDirection
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - in: query
        name: orderProperty
        required: false
        schema:
          type: string
          enum:
          - percentage
          - country
      - in: query
        name: offset
        required: false
        schema:
          type: number
          format: double
      - in: query
        name: limit
        required: false
        schema:
          type: number
          format: double
  /v1/global-users/import-influencers:
    post:
      operationId: importInfluencers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSOAEmptyObject'
        '400':
          description: Missing or invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportInfluencerBody'
        required: true
  /v1/global-users/{globalUserId}/content:
    post:
      operationId: fetchContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContentPost'
                type: array
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      deprecated: true
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: socialNetwork
        required: true
        schema:
          type: string
      - in: query
        name: discover
        required: false
        schema:
          type: boolean
  /v1/global-users/{globalUserId}/reindex:
    post:
      operationId: reindexUser
      responses:
        '200':
          description: OK
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      parameters:
      - in: path
        name: globalUserId
        required: true
        schema:
          type: number
          format: double
  /v1/global-users/bulk-actions:
    post:
      operationId: bulkActions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  result:
                    additionalProperties: true
                  action:
                    type: string
                    enum:
                    - reindex
                    - refreshAudienceDemographics
                required:
                - result
                - action
                type: object
        '400':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkActionsBody'
        required: true
  /v1/global-users-total:
    get:
      operationId: getQueryTotal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                required:
                - meta
                type: object
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - GlobalUser
components:
  schemas:
    TikTokVideoViewsBySource:
      properties:
        source:
          type:
          - string
          - 'null'
        videoViews:
          type:
          - number
          - 'null'
          format: double
      required:
      - videoViews
      type: object
      additionalProperties: false
    GlobalUserRepairPostResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/GlobalUserFixes'
          type: array
      required:
      - data
      type: object
    CreatorProfileFields:
      properties:
        isDiscovered:
          type: boolean
        isPrivate:
          type:
          - boolean
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        addressLine2:
          type:
          - string
          - 'null'
        addressLine1:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        gender:
          type: object
        birthday:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
      required:
      - isDiscovered
      - isPrivate
      - phoneNumber
      - zipCode
      - addressLine2
      - addressLine1
      - state
      - city
      - country
      - gender
      - birthday
      - fullName
      - lastName
      - firstName
      - email
      type: object
      description: Identity/profile fields produced by `CreatorRepository.buildProfile` from CDS V2.
    GlobalUserGetRandomGlobalUsersResponse:
      properties:
        data:
          items:
            type: number
            format: double
          type: array
      required:
      - data
      type: object
    GlobalUserInconsistencies:
      properties:
        inconsistencies:
          items:
            $ref: '#/components/schemas/GlobalUserInconsistency'
          type: array
        globalUserId:
          type: number
          format: double
      required:
      - inconsistencies
      - globalUserId
      type: object
    UpdateGlobalUserBodyDefinition:
      properties:
        socialPresences:
          items:
            $ref: '#/components/schemas/SocialPresenceInput'
          type: array
        data:
          $ref: '#/components/schemas/GlobalUserFields'
      required:
      - data
      type: object
    YoutubeChannelStats:
      properties:
        overall:
          $ref: '#/components/schemas/YoutubeChannelTierStats'
        video:
          $ref: '#/components/schemas/YoutubeChannelTierStats'
        shorts:
          $ref: '#/components/schemas/YoutubeChannelTierStats'
      type: object
      additionalProperties: false
    LaterInfluencerInfo:
      properties:
        adminUrl:
          type: string
        id:
          type: number
          format: double
      required:
      - adminUrl
      - id
      type: object
    GlobalUserSocialProfile:
      properties:
        username:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
        type:
          type: string
          enum:
          - facebook_user
          - facebook_page
        socialPresenceData:
          additionalProperties: false
          type: object
        profileImage:
          type:
          - string
          - 'null'
        platformId:
          type:
          - string
          - 'null'
        platform:
          type: string
        isPrivate:
          type: boolean
        isPrimary:
          type: boolean
        isDiscovered:
          type: boolean
        globalUserId:
          type: number
          format: double
        followersCount:
          type: number
          format: double
        displayName:
          type:
          - string
          - 'null'
        bio:
          type:
          - string
          - 'null'
      required:
      - username
      - platform
      - isPrimary
      - isDiscovered
      - globalUserId
      - followersCount
      type: object
    GlobalUserPerformanceMetrics:
      properties:
        emv:
          type: number
          format: double
        roi:
          type: number
          format: double
        cpp:
          type: number
          format: double
        cpe:
          type: number
          format: double
        cpm:
          type: number
          format: double
        sponsoredContentEmv:
          type: number
          format: double
        sponsoredContentRoi:
          type: number
          format: double
        sponsoredContentCpp:
          type: number
          format: double
        sponsoredContentCpe:
          type: number
          format: double
        sponsoredContentCpm:
          type: number
          format: double
        brandsCount:
          type: number
          format: double
        campaignsCount:
          type: number
          format: double
        boundContentCount:
          type: number
          format: double
        costPerMavelyLinkClick:
          type: number
          format: double
        mavelyLinksRoi:
          type: number
          format: double
        mavelyAvgOrderValue:
          type: number
          format: double
        mavelyLinksSales:
          type: number
          format: double
        mavelyLinksConversionRate:
          type: number
          format: double
        hasTrackingOrAffiliateLinksData:
          type: boolean
      type: object
      additionalProperties: false
    InstagramProfile:
      properties:
        accessGrant:
          properties:
            type:
              type: string
              enum:
              - basic
              - business
            isExpired:
              type: boolean
          type: object
        audienceAuthenticity:
          $ref: '#/components/schemas/InstagramAudienceAuthenticityRequest'
        audienceFakeCommentersLevel:
          type: string
        audienceFakeCommentersPercentage:
          type: number
          format: double
        audienceFakeEngagersLevel:
          type: string
        audienceFakeFollowersLevel:
          type: string
        audienceFakeFollowersPercentage:
          type: number
          format: double
        audienceFakeLikersLevel:
          type: string
        audienceFakeLikersPercentage:
          type: number
          format: double
        audienceFraudLevel:
          type: string
        audiencePercentageFemale:
          type: number
          format: double
        audiencePercentage_13_17:
          type: number
          format: double
        audiencePercentage_18_24:
          type: number
          format: double
        audiencePercentage_25_34:
          type: number
          format: double
        audiencePercentage_35_44:
          type: number
          format: double
        audiencePercentage_45_54:
          type: number
          format: double
        audiencePercentage_55_64:
          type: number
          format: double
        audiencePercentage_65_plus:
          type: number
          format: double
        audiencePredominantAgeRange:
          type: string
        audiencePredominantCity:
          type: string
        audiencePredominantCountry:
          type: string
        averageComments:
          type: number
          format: double
        averageEngagements:
          type: number
          format: double
        averageLikes:
          type: number
          format: double
        bio:
          type: string
        boughtFollowers:
          type: boolean
        contentWarning:
          items:
            $ref: '#/components/schemas/InstagramContentWarningRequest'
          type: array
        engagementRate:
          type: number
          format: double
        followersCount:
          type: number
          format: double
        followingCount:
          type: number
          format: double
        fullName:
          type: string
        handle:
          type: string
        id:
          type: number
          format: double
        isBusiness:
          type: boolean
        isPrivate:
          type: boolean
        mediaCount:
          type: number
          format: double
        nudityLevel:
          type: string
        previewPostsLastUpdatedAt:
          type: string
          format: date-time
        profanityLevel:
          type: string
        profilePicture:
          type: string
        profileType:
          type: string
          enum:
          - business
          - platform
        lastAnalyzedAt:
          type: string
          format: date-time
        sponsoredPostRate:
          type: number
          format: double
        website:
          type: string
      required:
      - lastAnalyzedAt
      type: object
      additionalProperties: false
    GlobalUserGetInconsistenciesPostParams:
      properties:
        plugins:
          items:
            type: string
          type: array
          description: If no plugins are provided, all plugins will be used
        globalUserIds:
          items:
            type: number
            format: double
          type: array
          minItems: 1
      required:
      - globalUserIds
      type: object
    PinterestAccount:
      properties:
        averageEngagements:
          type: number
          format: double
        bio:
          type: string
        boardsCount:
          type: number
          format: double
        engagementRate:
          type: number
          format: double
        firstName:
          type: string
        followersCount:
          type: number
          format: double
        followingCount:
          type: number
          format: double
        id:
          type: object
        lastName:
          type: string
        monthlyViewers:
          type: number
          format: double
        pinsCount:
          type: number
          format: double
        pinterestAccessGrant:
          properties:
            isExpired:
              type: boolean
          type: object
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        username:
          type: string
      type: object
      additionalProperties: false
    GlobalUserAudienceCountriesQueryResult:
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        data:
          items:
            $ref: '#/components/schemas/AudienceCountry'
          type: array
      required:
      - meta
      - data
      type: object
      additionalProperties: false
    GlobalUserFields:
      properties:
        phone:
          type: string
        zip:
          type: string
        mavelyHandle:
          type: string
        blogHandle:
          type: string
        snapchatHandle:
          type: string
        facebookHandle:
          type: string
        youtubeHandle:
          type: string
        twitterHandle:
          type: string
        tiktokHandle:
          type: string
        talentManagerEmail:
          type: string
        state:
          type: string
        pinterestHandle:
          type: string
        loadSource:
          type: string
        lastName:
          type: string
        isCreateNewMyMember:
          type: boolean
        addToInfluencerIndex:
          type: boolean
        instagramHandle:
          type: string
        gender:
          $ref: '#/components/schemas/Gender'
        fullName:
          type: string
        firstName:
          type: string
        facebookUrl:
          type: string
        email:
          type: string
        deletedCreatedAt:
          type: string
          format: date-time
        deleted:
          type: boolean
        country:
          $ref: '#/components/schemas/CountryShortName'
        city:
          type: string
        blogUrl:
          type: string
        birthday:
          type: string
          format: date-time
        apt:
          type: string
        street:
          type: string
      type: object
    MembershipCostAndPerformance:
      properties:
        activations:
          type: number
          format: double
        clicks:
          type: number
          format: double
        conversionValue:
          type: number
          format: double
        conversions:
          type: number
          format: double
        cost:
          type: number
          format: double
        cpa:
          type: number
          format: double
        cpe:
          type: number
          format: double
        cpm:
          type: number
          format: double
        cpp:
          type: number
          format: double
        engagements:
          type: number
          format: double
        impressions:
          type: number
          format: double
        membershipId:
          type: number
          format: double
        posts:
          type: number
          format: double
        rewards:
          type: number
          format: double
        value:
          type: number
          format: double
      type: object
      additionalProperties: false
    BadRequestError:
      properties:
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
        message:
          type: string
          enum:
          - Bad Request
      required:
      - message
      type: object
      additionalProperties: false
    DataPointDefinition:
      properties:
        actionGroups:
          items:
            $ref: '#/components/schemas/DataPointDefinitionActionGroup'
          type: array
        archived:
          type: boolean
        communityId:
          type: string
        createdAt:
          type: string
        customSet:
          type: boolean
        description:
          type: string
        id:
          type: number
          format: double
        key:
          type: string
        markUpDescription:
          type: string
        mergeTag:
          type: boolean
        multi:
          type: boolean
        name:
          type: string
        setElements:
          $ref: '#/components/schemas/DataPointDefinitionSetElement'
        type:
          type: string
        updatedAt:
          type: string
      required:
      - customSet
      - id
      - multi
      - name
      - type
      type: object
      additionalProperties: false
    ResponseMetadata:
      properties:
        limit:
          type: number
          format: double
        offset:
          type: number
          format: double
        status:
          type: string
          enum:
          - failure
          - success
        totalCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    YoutubeChannel:
      properties:
        accountCreatedAt:
          type:
          - string
          - 'null'
          format: date-time
        bio:
          type: string
        commentCount:
          type: number
          format: double
        followersCount:
          type: number
          format: double
        id:
          type: object
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        userId:
          type: number
          format: double
        username:
          type: string
        videoCount:
          type: number
          format: double
        viewCount:
          type: number
          format: double
        youtubeExternalId:
          type: string
        handle:
          type: string
        engagementRate:
          type: number
          format: double
        videoEngagementRate:
          type: number
          format: double
        shortsEngagementRate:
          type: number
          format: double
        contentCount:
          type: number
          format: double
        videoContentCount:
          type: number
          format: double
        shortsContentCount:
          type: number
          format: double
        brandMentions:
          items:
            type: string
          type: array
        videoBrandMentions:
          items:
            type: string
          type: array
        shortsBrandMentions:
          items:
            type: string
          type: array
        topics:
          items:
            type: string
          type: array
        stats:
          $ref: '#/components/schemas/YoutubeChannelStats'
        refreshedAt:
          type: string
      type: object
      additionalProperties: false
    TikTokAudienceAgeDistribution:
      properties:
        age:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - age
      - percentage
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    TikTokAudienceGendersDistribution:
      properties:
        gender:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - percentage
      type: object
      additionalProperties: false
    MavelyUser:
      properties:
        mavelyUserId:
          type:
          - string
          - 'null'
        globalUserId:
          type: number
          format: double
        displayName:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
        profileImage:
          type:
          - string
          - 'null'
        bio:
          type:
          - string
          - 'null'
      required:
      - mavelyUserId
      type: object
      additionalProperties: false
    RetrieveCurrentUserResponse:
      $ref: '#/components/schemas/GlobalUser'
    UnprocessableContent:
      properties:
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
        message:
          type: string
          enum:
          - Unprocessable Content
      required:
      - message
      type: object
      additionalProperties: false
    SnapchatAccount:
      description: Snapchat account profile data.
      properties:
        bio:
          type:
          - string
          - 'null'
        followersCount:
          type:
          - number
          - 'null'
          format: double
        id:
          type:
          - string
          - 'null'
        primaryAccount:
          type:
          - boolean
          - 'null'
        profilePicture:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        snapchatExternalId:
          type:
          - string
          - 'null'
        handle:
          type:
          - string
          - 'null'
        averageEngagements:
          type:
          - number
          - 'null'
          format: double
        engagementRate:
          type:
          - number
          - 'null'
          format: double
      type: object
      additionalProperties: false
    GetBrandSuitabilityReportResponse:
      properties:
        data:
          $ref: '#/components/schemas/BrandSuitabilityReport'
        status:
          $ref: '#/components/schemas/BrandSuitabilityReportStatus'
      required:
      - status
      type: object
      additionalProperties: false
    TikTokAudienceInterestDistribution:
      properties:
        interestTag:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - interestTag
      - percentage
      type: object
      additionalProperties: false
    Int64Range:
      properties:
        middle:
          type:
          - number
          - 'null'
          format: double
        high:
          type:
          - number
          - 'null'
          format: double
        low:
          type:
          - number
          - 'null'
          format: double
      required:
      - middle
      - high
      - low
      type: object
    SocialPresenceInput:
      properties:
        platform:
          type: string
        username:
          type: string
      required:
      - platform
      - username
      type: object
      additionalProperties: false
    TSOAEmptyObject:
      properties: {}
      type: object
      additionalProperties: false
    GlobalUserAudienceDemographicsGraph:
      properties:
        data:
          items:
            $ref: '#/components/schemas/GlobalUserAudienceGraphDatapoint'
          type: array
        id:
          type: string
      required:
      - data
      - id
      type: object
    VisualSafeSearch:
      properties:
        adult:
          type: string
        medical:
          type: string
        racy:
          type: string
        spoof:
          type: string
        violence:
          type: string
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    GetGlobalUserResponse:
      $ref: '#/components/schemas/GlobalUser'
    InstagramAudienceAuthenticityRequest:
      properties:
        id:
          type: number
          format: double
        instagramProfileId:
          type: number
          format: double
        requestId:
          type: number
          format: double
        requestStatus:
          type: string
        requestErrorCode:
          type: string
        requestResponse:
          additionalProperties: false
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      type: object
      additionalProperties: false
    GlobalUserGetInconsistenciesPostResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/GlobalUserInconsistencies'
          type: array
      required:
      - data
      type: object
    Topic:
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
      type: object
      additionalProperties: false
    ImportInfluencerBody:
      properties:
        csvData:
          items:
            $ref: '#/components/schemas/ImportInfluencerCsvRow'
          type: array
        addToInfluencerIndex:
          type: boolean
        addToMyMembers:
          type: boolean
      required:
      - csvData
      - addToInfluencerIndex
      - addToMyMembers
      type: object
    ActivationContent:
      properties:
        ytbcLinkState:
          type: string
          enum:
          - PENDING
          - ACTIVE
          - DECLINED
          description: 'CMP-1107: BrandConnect VideoCollaboration consent state for a YouTube video

            (PENDING / ACTIVE / DECLINED). Absent for non-YouTube content or videos whose

            link state has not been synced. Populated by ActivationService::appendYtbcLinkState.'
        emvValue:
          type:
          - number
          - 'null'
          format: double
        followersAtPostDate:
          type: number
          format: double
        viewsPaid:
          type: number
          format: double
        viewsOrganic:
          type: number
          format: double
        views:
          type: number
          format: double
        videoViewsBySource:
          items:
            $ref: '#/components/schemas/TikTokVideoViewsBySource'
          type:
          - array
          - 'null'
        videoViewTotalTime:
          type: number
          format: double
        videoCompletionRate:
          type: number
          format: double
        video:
          type: string
        verifiedImpressions:
          type: number
          format: double
        updatedAt:
          type: string
          format: date-time
        text:
          type: string
        sharesPaid:
          type: number
          format: double
        sharesOrganic:
          type: number
          format: double
        shares:
          type: number
          format: double
        reach:
          type: number
          format: double
        privacy:
          type: string
        postLink:
          type: string
        postDate:
          type: string
        network:
          $ref: '#/components/schemas/ActivationContentNetwork'
        manuallyEnteredImpressions:
          type: number
          format: double
        likesPaid:
          type: number
          format: double
        likesOrganic:
          type: number
          format: double
        likes:
          type: number
          format: double
        influencerReportedImpressions:
          type: number
          format: double
        impressionsSource:
          type: string
        image:
          type: string
        isDeleted:
          type: boolean
        engagements:
          type: number
          format: double
        estimatedImpressionsUpdatedAt:
          type: string
          format: date-time
        estimatedImpressions:
          type: number
          format: double
        conversions:
          type: number
          format: double
        conversionValue:
          type: number
          format: double
        commentsPaid:
          type:
          - number
          - 'null'
          format: double
        commentsOrganic:
          type:
          - number
          - 'null'
          format: double
        comments:
          type: number
          format: double
        clicks:
          type: number
          format: double
        carouselPosts:
          items:
            additionalProperties: true
          type: array
        canonicalUrlId:
          type: number
          format: double
        benchmarkEngagementRate:
          type: number
          format: double
        benchmarkAverageEngagements:
          type: number
          format: double
        algorithmicImpressions:
          type: number
          format: double
        activationId:
          type: number
          format: double
        audienceInterestDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceInterestDistribution'
          type:
          - array
          - 'null'
        audienceGendersDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceGendersDistribution'
          type:
          - array
          - 'null'
        audienceCountriesDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceCountriesDistribution'
          type:
          - array
          - 'null'
        audienceAgeDistribution:
          items:
            $ref: '#/components/schemas/TikTokAudienceAgeDistribution'
          type:
          - array
          - 'null'
      required:
      - emvValue
      - video
      - text
      - shares
      - privacy
      - postLink
      - network
      - likes
      - image
      - engagements
      - estimatedImpressions
      - conversions
      - conversionValue
      - comments
      - clicks
      - activationId
      type: object
    ActivationContentNetwork:
      type: string
      enum:
      - blog
      - facebook
      - facebook_live
      - facebook_reel
      - facebook_group
      - image
      - instagram
      - instagram_reel
      - instagram_story
      - linkedin
      - musical_ly
      - pinterest
      - snapchat_story
      - tiktok
      - twitch_stream
      - twitter
      - youtube_video
      - youtube_shorts
      - video
    GlobalUser:
      properties:
        activations:
          type: number
          format: double
        age:
          type: object
        appMembership:
          $ref: '#/components/schemas/Membership'
        apt:
          type: string
        audienceFakeEngagersLevel:
          type: string
          enum:
          - low
          - medium
          - high
        audienceFakeFollowersLevel:
          type: string
          enum:
          - low
          - medium
          - high
        audienceFraudLevel:
          type: string
          enum:
          - low
          - medium
          - high
        audiencePercentageFemale:
          type: number
          format: double
        audiencePercentage_13_17:
          type: number
          format: double
        audiencePercentage_18_24:
          type: number
          format: double
        audiencePercentage_25_34:
          type: number
          format: double
        audiencePercentage_35_44:
          type: number
          format: double
        audiencePercentage_45_54:
          type: number
          format: double
        audiencePercentage_55_64:
          type: number
          format: double
        audiencePercentage_65_plus:
          type: number
          format: double
        audiencePredominantAgeRange:
          type: string
        audiencePredominantCity:
          type: string
        audiencePredominantCountry:
          type: string
        birthday:
          type: string
        blog:
          $ref: '#/components/schemas/Blog'
        city:
          type: string
        clicksCount:
          type: number
          format: double
        conversionCount:
          type: number
          format: double
        conversionValue:
          type: number
          format: double
        country:
          type: string
        cpe:
          type: number
          format: double
        cpm:
          type: number
          format: double
        cpp:
          type: number
          format: double
        email:
          type: string
        engagements:
          type: number
          format: double
        facebookPostsCount:
          type: number
          format: double
        facebookProfile:
          $ref: '#/components/schemas/FacebookProfile'
        firstName:
          type: string
        fullName:
          type: string
        gender:
          $ref: '#/components/schemas/Gender'
        hasPublicSummaryRecord:
          type: boolean
        id:
          type: object
        influencerTopics:
          items:
            $ref: '#/components/schemas/Topic'
          type: array
        instagramAccount:
          $ref: '#/components/schemas/InstagramAccount'
        instagramPostsCount:
          type: number
          format: double
        instagramProfile:
          $ref: '#/components/schemas/InstagramProfile'
        isDiscovered:
          type: boolean
        lastName:
          type: string
        lastRefreshedAt:
          type: string
        laterInfluencer:
          $ref: '#/components/schemas/LaterInfluencerInfo'
        lists:
          items:
            properties:
              label:
                type: string
              id:
                type: number
                format: double
            type: object
          type: array
        mavelyUser:
          $ref: '#/components/schemas/MavelyUser'
        membershipCostAndPerformance:
          $ref: '#/components/schemas/MembershipCostAndPerformance'
        membershipDataPoints:
          items:
            properties:
              value:
                items:
                  type: string
                type: array
              updatedAt:
                type: string
              lastEditedBy:
                type: string
              dataPointDefinition:
                $ref: '#/components/schemas/DataPointDefinition'
            type: object
          type: array
        nudityLevel:
          type: string
          enum:
          - low
          - medium
          - high
        phone:
          type: string
        pinterestAccount:
          $ref: '#/components/schemas/PinterestAccount'
        pinterestPostsCount:
          type: number
          format: double
        previewPosts:
          items:
            $ref: '#/components/schemas/PreviewPost'
          type: array
        profanityLevel:
          type: string
          enum:
          - low
          - medium
          - high
        profilePicture:
          type: string
        registered:
          type: boolean
        rewards:
          type: number
          format: double
        state:
          type: string
        street:
          type: string
        talentManagerEmail:
          type: string
        tiktokCreator:
          $ref: '#/components/schemas/TikTokCreator'
        twitterAccount:
          $ref: '#/components/schemas/TwitterAccount'
        twitterPostsCount:
          type: number
          format: double
        unverified:
          type: string
          enum:
          - hidden
          - emails
          - excludes
        userContactInfo:
          properties:
            updatedAt:
              type: string
            referralSlug:
              type: string
            referralCount:
              type: string
            genderDescription:
              type: string
            gender:
              $ref: '#/components/schemas/Gender'
            emailIsVerified:
              type: boolean
          type: object
        violenceLevel:
          type: string
          enum:
          - low
          - medium
          - high
        youtubeChannel:
          $ref: '#/components/schemas/YoutubeChannel'
        deprecated:
          properties:
            mavely:
              $ref: '#/components/schemas/MavelyUser'
            youtube:
              $ref: '#/components/schemas/YoutubeChannel'
            blog:
              $ref: '#/components/schemas/Blog'
            snapchat:
              $ref: '#/components/schemas/SnapchatAccount'
            facebook:
              $ref: '#/components/schemas/FacebookProfile'
            pinterest:
              $ref: '#/components/schemas/PinterestAccount'
            twitter:
              $ref: '#/components/schemas/TwitterAccount'
            tiktok:
              $ref: '#/components/schemas/TikTokCreator'
            instagram:
              additionalProperties: true
            creatorInfo:
              $ref: '#/components/schemas/CreatorProfileFields'
          type: object
        zip:
          type: string
        globalPerformanceMetrics:
          $ref: '#/components/schemas/GlobalUserPerformanceMetrics'
        snapchatAccount:
          properties:
            engagementRate:
              type:
              - number
              - 'null'
              format: double
            averageEngagements:
              type:
              - number
              - 'null'
              format: double
            handle:
              type:
              - string
              - 'null'
            snapchatExternalId:
              type:
              - string
              - 'null'
            username:
              type:
              - string
              - 'null'
            profilePicture:
              type:
              - string
              - 'null'
            primaryAccount:
              type:
              - boolean
              - 'null'
            id:
              type:
              - string
              - 'null'
            followersCount:
              type:
              - number
              - 'null'
              format: double
            bio:
              type:
              - string
              - 'null'
          type: object
        incentiveRecommendations:
          $ref: '#/components/schemas/IncentiveRecommendations'
      type: object
      additionalProperties: false
    Activation:
      properties:
        actionId:
          type: string
        approvalStatus:
          type: string
        associatedAccount:
          $ref: '#/components/schemas/NetworkAccount'
        communityId:
          type: string
        content:
          $ref: '#/components/schemas/ActivationContent'
        createdAt:
          type: string
          format: date-time
        createdByAccountId:
          type: number
          format: double
        globalUserId:
          type: number
          format: double
        id:
          type: number
          format: double
        isApproved:
          type: boolean
        membershipId:
          type: number
          format: double
        selfReported:
          type: boolean
        ugcPhoto:
          type: string
        ugcText:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedByAccountId:
          type: number
          format: double
        tags:
          items:
            type: string
          type: array
      required:
      - actionId
      - approvalStatus
      - communityId
      - globalUserId
      - id
      - isApproved
      - membershipId
      - ugcPhoto
      - ugcText
      type: object
      additionalProperties: false
    BrandSafetyRequestReponse:
      properties:
        audienceAuthenticity:
          properties:
            message:
              type: string
            status:
              type: string
          required:
          - message
          - status
          type: object
        contentWarning:
          items:
            properties:
              postId:
                type: string
              status:
                type: string
            required:
            - postId
            - status
            type: object
          type: array
      type: object
      additionalProperties: false
    GlobalUserProfile:
      properties:
        socialProfiles:
          items:
            $ref: '#/components/schemas/GlobalUserSocialProfile'
          type: array
        zipCode:
          type: string
        state:
          type: string
        phoneNumber:
          type: string
        lastName:
          type: string
        isContactable:
          type: boolean
        globalUserId:
          type: number
          format: double
        gender:
          type: string
        firstName:
          type: string
        ethnicities:
          items:
            type: string
          type: array
        email:
          type: string
        country:
          type: string
        city:
          type: string
        birthday:
          type: string
        address:
          type: string
      required:
      - socialProfiles
      - globalUserId
      type: object
    BulkActionsBody:
      properties:
        globalUserIds:
          items:
            type: number
            format: double
          type: array
        action:
          type: string
          enum:
          - reindex
          - refreshAudienceDemographics
        options:
          properties:
            concurrency:
              type: number
              format: double
            platforms:
              items:
                type: string
                enum:
                - instagram
                - tiktok
              type: array
          type: object
      required:
      - globalUserIds
      - action
      type: object
      additionalProperties: false
    GlobalUserUpsertAction:
      enum:
      - created
      - existing
      - conflict
      - error
      type: string
    IncentiveRecommendations:
      properties:
        ttPost:
          $ref: '#/components/schemas/Int64Range'
        igStory:
          $ref: '#/components/schemas/Int64Range'
        igPost:
          $ref: '#/components/schemas/Int64Range'
        igReel:
          $ref: '#/components/schemas/Int64Range'
      required:
      - ttPost
      - igStory
      - igPost
      - igReel
      type: object
    DataPointDefinitionSetElement:
      items:
        properties:
          key:
            type: string
          id:
            type: number
            format: double
          markUpDisplayLabel:
            type: string
          displayLabel:
            type: string
        required:
        - key
        - id
        - displayLabel
        type: object
      type: array
    DataPointDefinitionActionGroup:
      properties:
        id:
          type: number
          format: double
        title:
          type: string
      type: object
      additionalProperties: false
    GenerateBrandSuitabilityReportResponse:
      properties:
        reportId:
          type: string
        status:
          $ref: '#/components/schemas/BrandSuitabilityReportStatus'
        data:
          $ref: '#/components/schemas/BrandSuitabilityReport'
        message:
          type: string
      required:
      - reportId
      - status
      type: object
      additionalProperties: false
    NetworkAccount:
      properties:
        averageEngagements:
          type: number
          format: double
        engagementRate:
          type: number
          format: double
        firstName:
          type: string
        followersCount:
          type: number
          format: double
        id:
          type: number
          format: double
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        reach:
          type: number
          format: double
        username:
          type: string
      required:
      - id
      type: object
      additionalProperties: false
    GlobalUserSearchAllSocialProfilesByIdsPostParams:
      properties:
        globalUserIds:
          items:
            type: number
            format: double
          type: array
      required:
      - globalUserIds
      type: object
    Gender:
      enum:
      - describe
      - female
      - male
      - non_bin
      - other
      type: string
    DynamoGlobalUserAudienceDemographicsPayload:
      properties:
        audienceAge21Plus:
          type: number
          format: double
        dataUpdatedAt:
          type:
          - string
          - 'null'
        graphs:
          items:
            $ref: '#/components/schemas/GlobalUserAudienceDemographicsGraph'
          type: array
        followersCount:
          type: number
          format: double
        handle:
          type: string
        updatedAt:
          type: string
        requestIdCreatedAt:
          type:
          - string
          - 'null'
        requestId:
          type:
          - number
          - 'null'
          format: double
        requestErrorDetails:
          type: string
        requestStatus:
          type: string
      type: object
      description: '**********

        DynamoDB *

        **********'
    CountryShortName:
      enum:
      - Afghanistan
      - Albania
      - Algeria
      - American Samoa
      - Andorra
      - Angola
      - Anguilla
      - Antarctica
      - Antigua and Barbuda
      - Argentina
      - Armenia
      - Aruba
      - Australia
      - Austria
      - Azerbaijan
      - Bahrain
      - Bangladesh
      - Barbados
      - Belarus
      - Belgium
      - Belize
      - Benin
      - Bermuda
      - Bhutan
      - Bolivia
      - Bosnia and Herzegovina
      - Botswana
      - Bouvet Island
      - Brazil
      - British Indian Ocean Territory
      - British Virgin Islands
      - Brunei
      - Bulgaria
      - Burkina Faso
      - Burundi
      - Cambodia
      - Cameroon
      - Canada
      - Cape Verde
      - Caribbean Netherlands
      - Cayman Islands
      - Central African Republic
      - Chad
      - Chile
      - China
      - Christmas Island
      - Cocos (Keeling) Islands
      - Collectivity of Saint Martin
      - Colombia
      - Comoros
      - Cook Islands
      - Costa Rica
      - Croatia
      - Cuba
      - Curaçao
      - Cyprus
      - Czechia
      - Côte d'Ivoire
      - Democratic Republic of the Congo
      - Denmark
      - Djibouti
      - Dominica
      - Dominican Republic
      - Ecuador
      - Egypt
      - El Salvador
      - Equatorial Guinea
      - Eritrea
      - Estonia
      - Ethiopia
      - Falkland Islands (Malvinas)
      - Faroe Islands
      - Federated States of Micronesia
      - Fiji
      - Finland
      - France
      - French Guiana
      - French Polynesia
      - French Southern Territories
      - Gabon
      - Georgia
      - Germany
      - Ghana
      - Gibraltar
      - Greece
      - Greenland
      - Grenada
      - Guadeloupe
      - Guam
      - Guatemala
      - Guernsey
      - Guinea
      - Guinea-Bissau
      - Guyana
      - Haiti
      - Heard Island and McDonald Islands
      - Holy See (Vatican City)
      - Honduras
      - Hong Kong
      - Hungary
      - Iceland
      - India
      - Indonesia
      - Iran
      - Iraq
      - Ireland
      - Isle of Man
      - Israel
      - Italy
      - Jamaica
      - Japan
      - Jersey
      - Jordan
      - Kazakhstan
      - Kenya
      - Kiribati
      - Kuwait
      - Kyrgyzstan
      - Laos
      - Latvia
      - Lebanon
      - Lesotho
      - Liberia
      - Libya
      - Liechtenstein
      - Lithuania
      - Luxembourg
      - Macau
      - Macedonia (FYROM)
      - Madagascar
      - Malawi
      - Malaysia
      - Maldives
      - Mali
      - Malta
      - Marshall Islands
      - Martinique
      - Mauritania
      - Mauritius
      - Mayotte
      - Mexico
      - Moldova
      - Monaco
      - Mongolia
      - Montenegro
      - Montserrat
      - Morocco
      - Mozambique
      - Myanmar (Burma)
      - Namibia
      - Nauru
      - Nepal
      - Netherlands
      - New Caledonia
      - New Zealand
      - Nicaragua
      - Niger
      - Nigeria
      - Niue
      - Norfolk Island
      - North Korea
      - Northern Mariana Islands
      - Norway
      - Oman
      - Pakistan
      - Palau
      - Palestine
      - Panama
      - Papua New Guinea
      - Paraguay
      - Peru
      - Philippines
      - Pitcairn
      - Poland
      - Portugal
      - Puerto Rico
      - Qatar
      - Republic of Indonesia
      - Republic of the Congo
      - Reunion
      - Romania
      - Russia
      - Rwanda
      - Saint Helena, Ascension and Tristan da Cunha
      - Saint Kitts and Nevis
      - Saint Lucia
      - Saint Pierre and Miquelon
      - Saint Vincent and the Grenadines
      - Saint-Barthélemy
      - Samoa
      - San Marino
      - Sao Tome and Principe
      - Saudi Arabia
      - Senegal
      - Serbia
      - Seychelles
      - Sierra Leone
      - Singapore
      - Sint Maarten (Dutch part)
      - Slovakia
      - Slovenia
      - Solomon Islands
      - Somalia
      - South Africa
      - South Georgia and the South Sandwich Islands
      - South Korea
      - South Sudan
      - Spain
      - Sri Lanka
      - Sudan
      - Suriname
      - Svalbard and Jan Mayen
      - Swaziland
      - Sweden
      - Switzerland
      - Syria
      - Taiwan
      - Tajikistan
      - Tanzania
      - Thailand
      - The Bahamas
      - The Gambia
      - Timor-Leste
      - Togo
      - Tokelau
      - Tonga
      - Trinidad and Tobago
      - Tunisia
      - Turkey
      - Turkmenistan
      - Turks and Caicos Islands
      - Tuvalu
      - U.S. Virgin Islands
      - Uganda
      - Ukraine
      - United Arab Emirates
      - United Kingdom
      - United States
      - United States Minor Outlying Islands
      - Uruguay
      - Uzbekistan
      - Vanuatu
      - Venezuela
      - Vietnam
      - Wallis and Futuna
      - Western Sahara
      - Yemen
      - Zambia
      - Zimbabwe
      - Åland Islands
      type: string
    Blog:
      properties:
        globalUserId:
          type:
          - number
          - 'null'
          format: double
        language:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        platform:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      type: object
      additionalProperties: false
    YoutubeChannelTierStats:
      properties:
        likes:
          type: number
          format: double
        views:
          type: number
          format: double
        comments:
          type: number
          format: double
        engagedViews:
          type: number
          format: double
        uniqueViewers:
          type: number
          format: double
        engagementRate:
          type: number
          format: double
        averageLikesPerVideo:
          type: number
          format: double
        averageReachPerVideo:
          type: number
          format: double
        averageViewsPerVideo:
          type: number
          format: double
        averageCommentsPerVideo:
          type: number
          format: double
        averageVideosAddedPlaylist:
          type: number
          format: double
        averageEngagedViewsPerVideo:
          type: number
          format: double
      type: object
      additionalProperties: false
    GlobalUserRepairPostParams:
      properties:
        plugins:
          items:
            type: string
          type: array
          description: If no plugins are provided, all plugins will be used
        globalUserIds:
          items:
            type: number
            format: double
          type: array
          minItems: 1
      required:
      - globalUserIds
      type: object
    FacebookProfile:
      properties:
        active:
          type: boolean
        available:
          type: boolean
        averageComments:
          type: number
          format: double
        averageEngagements:
          type: number
          format: double
        averageLikes:
          type: number
          format: double
        engagementRate:
          type: number
          format: double
        expiresAt:
          type: string
        facebookUser:
          properties:
            isExpired:
              type: boolean
          type: object
        facebookExternalId:
          type: string
        id:
          type: number
          format: double
        link:
          type: string
        name:
          type: string
        username:
          type: string
        picture:
          type: string
        reach:
          type: number
          format: double
        type:
          type: string
      type: object
      additionalProperties: false
    DynamoGlobalUserAudienceDemographics:
      properties:
        audienceDemographics:
          properties:
            snapchat:
              $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographicsPayload'
            facebook:
              $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographicsPayload'
            youtubeShorts:
              $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographicsPayload'
            youtubeVideos:
              $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographicsPayload'
            youtube:
              $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographicsPayload'
            tiktok:
              $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographicsPayload'
            instagram:
              $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographicsPayload'
          type: object
        globalUserId:
          type: number
          format: double
      required:
      - globalUserId
      type: object
    PreviewPost:
      properties:
        activation:
          $ref: '#/components/schemas/Activation'
        caption:
          type: string
        comments:
          type: number
          format: double
        id:
          type: number
          format: double
        imageUrl:
          type: string
        isSponsored:
          type: boolean
        likes:
          type: number
          format: double
        link:
          type: string
        mentions:
          items:
            type: string
          type: array
        network:
          type: string
        postId:
          type: string
        postedTime:
          type: string
        shares:
          type: number
          format: double
        source:
          type: string
        textSafeSearch:
          $ref: '#/components/schemas/TextSafeSearch'
        views:
          type: number
          format: double
        visualSafeSearch:
          $ref: '#/components/schemas/VisualSafeSearch'
        contentType:
          type: string
        brandMentions:
          items:
            type: string
          type: array
      type: object
      additionalProperties: false
    TextSafeSearch:
      properties:
        profanityWordCount:
          type: number
          format: double
      type: object
      additionalProperties: false
    BrandSuitabilityReport:
      type: object
      properties: {}
    GlobalUserAudienceDemographicsResponse:
      $ref: '#/components/schemas/DynamoGlobalUserAudienceDemographics'
      description: '***************

        Response Body *

        **************'
    TikTokCreator:
      properties:
        displayName:
          type: string
        followersCount:
          type: number
          format: double
        globalUserId:
          type: number
          format: double
        handleName:
          type: string
        insightsUpdatedAt:
          type: string
        isActive:
          type: boolean
        profileImage:
          type: string
        status:
          type: string
        tiktokAccessGrant:
          additionalProperties: false
          type: object
        engagements:
          type: number
          format: double
        engagementRate:
          type: number
          format: double
        likes:
          type: number
          format: double
        shares:
          type: number
          format: double
        videoViews:
          type: number
          format: double
      type: object
      additionalProperties: false
    ContentPost:
      properties:
        id:
          type: string
        createdAt:
          type:
          - string
          - 'null'
        updatedAt:
          type:
          - string
          - 'null'
        deletedAt:
          type:
          - string
          - 'null'
        publishedAt:
          type:
          - string
          - 'null'
        socialPresenceId:
          type: string
        platform:
          type: string
        platformId:
          type: string
        permalink:
          type: string
        context:
          type: string
        mediaFormat:
          type: string
        caption:
          type: string
        mediaThumbnail:
          type: string
        sponsor:
          type: string
        taggedBrands:
          items:
            type: string
          type: array
        clicksCount:
          type: number
          format: double
        commentsCount:
          type: number
          format: double
        viewsCount:
          type: number
          format: double
        reachCount:
          type: number
          format: double
        reactionsCount:
          type: number
          format: double
        sharesCount:
          type: number
          format: double
        reachFollowersRate:
          type: number
          format: double
        reachNonFollowersRate:
          type: number
          format: double
        viewsFollowersRate:
          type: number
          format: double
        viewsNonFollowersRate:
          type: number
          format: double
      required:
      - id
      - createdAt
      - updatedAt
      - deletedAt
      - publishedAt
      - socialPresenceId
      - platform
      - platformId
      - permalink
      - context
      - mediaFormat
      - caption
      - mediaThumbnail
      - sponsor
      - taggedBrands
      - clicksCount
      - commentsCount
      - viewsCount
      - reachCount
      - reactionsCount
      - sharesCount
      - reachFollowersRate
      - reachNonFollowersRate
      - viewsFollowersRate
      - viewsNonFollowersRate
      type: object
      additionalProperties: false
    InstagramAccount:
      properties:
        averageComments:
          type: number
          format: double
        averageEngagements:
          type: number
          format: double
        averageLikes:
          type: number
          format: double
        bio:
          type: string
        engagementRate:
          type: number
          format: double
        followersCount:
          type: number
          format: double
        followingCount:
          type: number
          format: double
        fullName:
          type: string
        handle:
          type: string
        id:
          type: string
          enum:
          - number
        instagramAccessGrant:
          properties:
            type:
              type: string
            businessIsExpired:
              type: boolean
            platformIsExpired:
              type: boolean
            isExpired:
              type: boolean
          type: object
        accessGrant:
          properties:
            type:
              type: string
            isExpired:
              type: boolean
          type: object
        isBusiness:
          type: boolean
        isPrivate:
          type: boolean
        mediaCount:
          type: number
          format: double
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        profileType:
          type: string
          enum:
          - platform
          - business
        sponsoredPostRate:
          type: number
          format: double
        website:
          type: string
      type: object
      additionalProperties: false
    GlobalUserFixes:
      properties:
        fixes:
          items:
            $ref: '#/components/schemas/GlobalUserFix'
          type: array
        globalUserId:
          type: number
          format: double
      required:
      - fixes
      - globalUserId
      type: object
    GenerateBrandSuitabilityReportRequest:
      properties:
        campaignId:
          type: number
          format: double
        brandName:
          type: string
        assessments:
          items:
            type: string
          type: array
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    Membership:
      properties:
        blacklisted:
          type: boolean
        contactInfo:
          $ref: '#/components/schemas/MembershipContactInfoDeprecated'
        createdAt:
          type: string
        id:
          type: number
          format: double
        imageUrl:
          type: string
        lifetimeClicks:
          type: number
          format: double
        lifetimeConversions:
          type: number
          format: double
        lifetimeConversionsValue:
          type: number
          format: double
        membershipId:
          type: number
          format: double
        membershipType:
          type: string
        mostRecentActivationDate:
          type: string
        pointsCurrentBalance:
          properties:
            amount:
              type: number
              format: double
          type: object
        status:
          type: string
        totalImpressions:
          type: number
          format: double
        totalPoints:
          type: number
          format: double
        updatedAt:
          type: string
        utmCampaign:
          type: string
        utmContent:
          type: string
        fullName:
          type: string
      type: object
      additionalProperties: false
    GlobalUserInconsistency:
      properties:
        affectedEntities:
          items:
            type: string
          type: array
        message:
          type: string
        type:
          type: string
      required:
      - affectedEntities
      - message
      - type
      type: object
    MembershipContactInfoDeprecated:
      properties:
        age:
          type: number
          format: double
        apt:
          type: string
        birthday:
          type: object
        city:
          type: string
        country:
          type: string
        email:
          type: string
        emailIsVerified:
          type: boolean
        firstName:
          type: string
        fullName:
          type: string
        gender:
          $ref: '#/components/schemas/Gender'
        genderDescription:
          type: string
        lastName:
          type: string
        phone:
          type: string
        state:
          type: string
        street:
          type: string
        zip:
          type: string
        talentManagerEmail:
          type: string
      type: object
      additionalProperties: false
    InstagramContentWarningRequest:
      properties:
        id:
          type: number
          format: double
        instagramExternalId:
          type: string
        instagramProfileId:
          type: number
          format: double
        postId:
          type: string
        displayUrl:
          type: string
        requestStatus:
          type: string
        requestErrorCode:
          type: string
        requestResponse:
          additionalProperties: false
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        caption:
          type: string
        postedTime:
          type: string
          format: date-time
      type: object
      additionalProperties: false
    GlobalUserAudienceGraphDatapoint:
      properties:
        value:
          type: number
          format: double
        display:
          type: string
      required:
      - value
      - display
      type: object
    GlobalUserFix:
      properties:
        status:
          type: string
          enum:
          - fixed
          - skipped
          - failed
        affectedEntities:
          items:
            type: string
          type: array
        type:
          type: string
      required:
      - status
      - affectedEntities
      - type
      type: object
    GlobalUserSearchAllSocialProfilesByIdsPostResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/GlobalUserProfile'
          type: array
      required:
      - data
      type: object
    RefreshAudienceDemographicsBody:
      properties:
        platforms:
          items:
            type: string
          type: array
      type: object
    ImportInfluencerCsvRow:
      properties:
        Mavely Handle:
          type: string
        Blog Handle:
          type: string
        Snapchat Handle:
          type: string
        YouTube Handle:
          type: string
        Twitter Handle:
          type: string
        Pinterest Handle:
          type: string
        Facebook Handle:
          type: string
        TikTok Handle:
          type: string
        Instagram Handle:
          type: string
        Email:
          type: string
        Last Name:
          type: string
        First Name:
          type: string
      required:
      - First Name
      type: object
    TikTokAudienceCountriesDistribution:
      properties:
        country:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
          format: double
      required:
      - country
      - percentage
      type: object
      additionalProperties: false
    GetGlobalUsersResponse:
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        data:
          items:
            $ref: '#/components/schemas/GlobalUser'
          type: array
      required:
      - meta
      - data
      type: object
      additionalProperties: false
    BrandSuitabilityReportStatus:
      enum:
      - COMPLETED
      - PROCESSING
      - FAILED
      - NOT_FOUND
      type: string
    TwitterAccount:
      properties:
        averageEngagements:
          type: number
          format: double
        averageFavorites:
          type: number
          format: double
        averageRetweets:
          type: number
          format: double
        description:
          type: string
        engagementRate:
          type: number
          format: double
        followersCount:
          type: number
          format: double
        followingCount:
          type: number
          format: double
        fullName:
          type: string
        handle:
          type: string
        id:
          type: object
        listedCount:
          type: number
          format: double
        primaryAccount:
          type: boolean
        profilePicture:
          type: string
        twitterAccessGrant:
          properties:
            isExpired:
              type: boolean
          type: object
      type: object
      additionalProperties: false
    AudienceCountry:
      properties:
        country:
          type: string
        percentage:
          type: number
          format: double
[...]
