openapi: 3.2.0
info:
  title: Later Influence™ Campaign Level API
  description: '# Description

    The Reporting API enables deep analysis and reporting of marketing campaigns, social media performance, and influencer effectiveness.'
  version: 1.2.1
  contact:
    name: Developer
    url: https://help-influence.later.com/hc/en-us
    email: urvash.chheda@later.com
  termsOfService: https://later.com/terms/
servers:
- url: https://api.mavrck.co
security:
- JWT: []
tags:
- name: Campaign Level
paths:
  /v1/reporting/campaign/performance:
    get:
      description: Get campaign performance details.
      operationId: getCampaignPerformance
      parameters:
      - name: startDate
        required: true
        in: query
        description: Start date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: instanceIds
        required: false
        in: query
        description: A list of instance ids. If not provided, all instances associated with the API credentials will be considered.
        schema:
          type: array
          items:
            type: string
      - name: campaignIds
        required: false
        in: query
        description: A list of campaign ids (max 50 items)
        schema:
          type: array
          items:
            type: number
      - name: reportingGroupIds
        required: false
        in: query
        description: A list of reporting group ids
        schema:
          type: array
          items:
            type: string
      - name: pageSize
        required: false
        in: query
        description: Number of items per page
        schema:
          default: 50
          type: number
      - name: pageNumber
        required: false
        in: query
        description: The page you would like to get data for
        schema:
          default: 1
          type: number
      - name: sortProperty
        required: false
        in: query
        description: 'sortProperty must be one of the following values: engagements, impressions, engagementRate, impressionsPerPost, estimatedValueGenerated, estimatedRoi, reach, cpe, cpm, firstPostDate, lastPostDate, estimatedContentCost, campaignTitle, postsCount, influencersCount, clicks, trackingLinksClicks, trackingLinksConversions, trackingLinksConversionValue, affiliateLinksClicks, affiliateLinksConversions, affiliateLinksConversionRate, affiliateLinksSales, affiliateLinksComissionEarned, affiliateLinksRoi'
        schema:
          type: string
      - name: sortDirection
        required: false
        in: query
        description: ASC or DESC
        schema:
          default: DESC
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportingApiResponseDto'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/CampaignPerformanceResponseDto'
      summary: Get campaign performance
      tags:
      - Campaign Level
      x-summary-source: derived
components:
  schemas:
    CampaignPerformanceResponseDto:
      type: object
      properties:
        campaignId:
          type: number
          example: 1
          description: Unique identifier for the campaign
        campaignTitle:
          type:
          - string
          - 'null'
          example: Campaign Title
          description: Title of the campaign
        instanceId:
          type: string
          example: instance_123
          description: Identifier of the instance
        description:
          type:
          - string
          - 'null'
          example: Description of the campaign
          description: Detailed description of the campaign
        postsCount:
          type:
          - number
          - 'null'
          example: 10
          description: Total number of posts in the campaign
        influencersCount:
          type:
          - number
          - 'null'
          example: 5
          description: Number of influencers participating in the campaign
        reach:
          type:
          - number
          - 'null'
          example: 1000
          description: Total reach of the campaign. Usually it represents the number of followers/subscribers/audience reached, but for Pinterest it is the number of Monthly Viewers
        engagements:
          type:
          - number
          - 'null'
          example: 100
          description: Total number of engagements for the campaign
        impressions:
          type:
          - number
          - 'null'
          example: 500
          description: Total number of impressions for the campaign
        clicks:
          type:
          - number
          - 'null'
          example: 50
          description: Total number of clicks for the campaign
        engagementRate:
          type:
          - number
          - 'null'
          example: 0.1
          description: Engagement rate of the campaign
        uniqueNetworks:
          type:
          - string
          - 'null'
          example: Facebook, Instagram
          description: Comma-separated list of unique social networks used in the campaign
        cpe:
          type:
          - number
          - 'null'
          example: 0.05
          description: Cost per engagement for the campaign
        cpm:
          type:
          - number
          - 'null'
          example: 10
          description: Cost per thousand impressions for the campaign
        firstPostDate:
          format: date-time
          type:
          - string
          - 'null'
          example: '2025-11-26T14:12:56.038Z'
          description: Date of the first post in the campaign
        lastPostDate:
          format: date-time
          type:
          - string
          - 'null'
          example: '2025-11-26T14:12:56.038Z'
          description: Date of the last post in the campaign
        impressionsPerPost:
          type:
          - number
          - 'null'
          example: 50
          description: Average number of impressions per post in the campaign
        estimatedContentCost:
          type:
          - number
          - 'null'
          example: 1000
          description: Is calculated based on how many posts within the campaign received metrics in the selected time range vs the amount of money paid to the author(influencer)
        estimatedValueGenerated:
          type:
          - number
          - 'null'
          example: 2000
          description: Estimated value generated by the campaign
        estimatedRoi:
          type:
          - number
          - 'null'
          example: 2
          description: Estimated return on investment for the campaign
        trackingLinksClicks:
          type:
          - number
          - 'null'
          example: 100
          description: Total number of clicks on tracking links
        trackingLinksConversions:
          type:
          - number
          - 'null'
          example: 10
          description: Total number of conversions from tracking links
        trackingLinksConversionValue:
          type:
          - number
          - 'null'
          example: 500
          description: Total conversion value from tracking links
        affiliateLinksClicks:
          type:
          - number
          - 'null'
          example: 50
          description: Total number of clicks on affiliate links
        affiliateLinksConversions:
          type:
          - number
          - 'null'
          example: 5
          description: Total number of conversions from affiliate links
        affiliateLinksConversionRate:
          type:
          - number
          - 'null'
          example: 0.1
          description: Conversion rate for affiliate links
        affiliateLinksSales:
          type:
          - number
          - 'null'
          example: 1000
          description: Total sales value from affiliate links
        affiliateLinksComissionEarned:
          type:
          - number
          - 'null'
          example: 100
          description: Total commission earned from affiliate links
        affiliateLinksRoi:
          type:
          - number
          - 'null'
          example: 2
          description: Return on investment for affiliate links
      required:
      - campaignId
      - campaignTitle
      - instanceId
      - description
      - postsCount
      - influencersCount
      - reach
      - engagements
      - impressions
      - clicks
      - engagementRate
      - uniqueNetworks
      - cpe
      - cpm
      - firstPostDate
      - lastPostDate
      - impressionsPerPost
      - estimatedContentCost
      - estimatedValueGenerated
      - estimatedRoi
      - trackingLinksClicks
      - trackingLinksConversions
      - trackingLinksConversionValue
      - affiliateLinksClicks
      - affiliateLinksConversions
      - affiliateLinksConversionRate
      - affiliateLinksSales
      - affiliateLinksComissionEarned
      - affiliateLinksRoi
    ReportingApiResponseDto:
      type: object
      properties:
        data:
          type: object
          additionalProperties: false
        meta:
          type:
          - object
          - 'null'
          description: Metadata containing page information
          properties:
            page:
              type: number
              example: 1
            totalPages:
              type: number
              example: 10
      required:
      - data
      - meta
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained from the OAuth2 token endpoint
