openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Power Reviews App API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: PowerReviewsApp
paths:
  /v1/power-reviews-app:
    post:
      operationId: createPowerReviewsApp
      responses:
        '200':
          description: App created
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PowerReviewsApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PowerReviewsAppPostBody'
        required: true
    get:
      operationId: getPowerReviewsAppAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerReviewsAppsGetResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PowerReviewsApp
components:
  schemas:
    PowerReviewsApp:
      properties:
        apiKey:
          type: string
        communityId:
          type: string
        environment:
          type: string
        id:
          type: number
          format: double
        locale:
          type: string
        merchantId:
          type: string
        name:
          type: string
      required:
      - apiKey
      - communityId
      - id
      - locale
      - merchantId
      - name
      type: object
      additionalProperties: false
    PowerReviewsAppPostBody:
      properties:
        apiKey:
          type: string
        environment:
          type: string
        locale:
          type: string
        merchantId:
          type: string
        name:
          type: string
      required:
      - apiKey
      - locale
      - merchantId
      - name
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    PowerReviewsAppsGetResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PowerReviewsApp'
          type: array
      type: object
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
