openapi: 3.2.0
info:
  version: 1.0.0
  description: Identify your most influential customers and activate them to drive more conversions on social.
  title: MAVRCK.IO Payment App Admins API
servers:
- url: http://app.splashscore.com/v1
- url: https://app.splashscore.com/v1
security:
- apiKey: []
tags:
- name: PaymentAppAdmins
paths:
  /v1/payment-app-admins:
    get:
      operationId: getPaymentAppAdmin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAppAdmin'
        '400':
          description: Missing Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: The resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
      tags:
      - PaymentAppAdmins
components:
  schemas:
    CashPaymentPermission:
      properties:
        canAddTransactions:
          type: boolean
        cashPaymentAppId:
          type: number
          format: double
      required:
      - canAddTransactions
      - cashPaymentAppId
      type: object
      additionalProperties: false
    GiftCardPaymentPermission:
      properties:
        canAddTransactions:
          type: boolean
        giftCardAppId:
          type: number
          format: double
      required:
      - canAddTransactions
      - giftCardAppId
      type: object
      additionalProperties: false
    ForbiddenError:
      properties:
        message:
          type: string
          enum:
          - Access Forbidden
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ServerError:
      properties:
        message:
          type: string
          enum:
          - Server Error
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    NotFoundError:
      properties:
        message:
          type: string
          enum:
          - Resource Not Found
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties:
            additionalProperties: true
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    PaymentAppAdmin:
      properties:
        s4AccountId:
          type: number
          format: double
        cashPaymentPermissions:
          items:
            $ref: '#/components/schemas/CashPaymentPermission'
          type: array
        giftCardPermissions:
          items:
            $ref: '#/components/schemas/GiftCardPaymentPermission'
          type: array
      required:
      - s4AccountId
      - cashPaymentPermissions
      - giftCardPermissions
      type: object
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      name: api-key
      in: header
