openapi: 3.2.0
info:
  title: Later Influence™ Influencer Level API
  description: '# Description

    The Reporting API enables deep analysis and reporting of marketing campaigns, social media performance, and influencer effectiveness.'
  version: 1.2.1
  contact:
    name: Developer
    url: https://help-influence.later.com/hc/en-us
    email: urvash.chheda@later.com
  termsOfService: https://later.com/terms/
servers:
- url: https://api.mavrck.co
security:
- JWT: []
tags:
- name: Influencer Level
paths:
  /v1/reporting/influencer/performance:
    get:
      description: Get influencer performance details.
      operationId: getInfluencerPerformance
      parameters:
      - name: startDate
        required: true
        in: query
        description: Start date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the report, YYYY-MM-dd format
        schema:
          format: date-time
          type: string
      - name: instanceIds
        required: false
        in: query
        description: A list of instance ids. If not provided, all instances associated with the API credentials will be considered.
        schema:
          type: array
          items:
            type: string
      - name: campaignIds
        required: false
        in: query
        description: A list of campaign ids (max 50 items)
        schema:
          type: array
          items:
            type: number
      - name: reportingGroupIds
        required: false
        in: query
        description: A list of reporting group ids
        schema:
          type: array
          items:
            type: string
      - name: pageSize
        required: false
        in: query
        description: Number of items per page
        schema:
          default: 50
          type: number
      - name: pageNumber
        required: false
        in: query
        description: The page you would like to get data for
        schema:
          default: 1
          type: number
      - name: sortProperty
        required: false
        in: query
        description: 'sortProperty must be one of the following values: engagements, impressions, engagementRate, estimatedValueGenerated, instagramReach, instagramSaved, instagramShares, instagramViews, instagramTotalInteractions, estimatedContentCost, cpm, cpe, estimatedRoi, postsCount, trackingLinksClicks, trackingLinksConversions, trackingLinksConversionValue, affiliateLinksClicks, affiliateLinksConversions, affiliateLinksConversionRate, affiliateLinksSales, affiliateLinksComissionEarned, affiliateLinksRoi, paidCost'
        schema:
          type: string
      - name: sortDirection
        required: false
        in: query
        description: ASC or DESC
        schema:
          default: DESC
          type: string
      - name: metrics
        required: false
        in: query
        description: A list of metrics to get the data for. Empty or undefined, to get all the metrics
        schema:
          example:
          - engagements
          - impressions
          type: array
          items:
            type: string
            enum:
            - engagements
            - impressions
            - engagementRate
            - estimatedValueGenerated
            - estimatedRoi
            - cpe
            - cpm
            - estimatedContentCost
            - paidCost
            - postsCount
            - trackingLinksClicks
            - trackingLinksConversions
            - trackingLinksConversionValue
            - affiliateLinksClicks
            - affiliateLinksConversions
            - affiliateLinksConversionRate
            - affiliateLinksSales
            - affiliateLinksComissionEarned
            - affiliateLinksRoi
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportingApiResponseDto'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/InfluencerPerformanceResponseDto'
      summary: Get influencer performance
      tags:
      - Influencer Level
      x-summary-source: derived
components:
  schemas:
    CreatorProfileDto:
      type: object
      properties:
        handleName:
          type: string
          description: Handle name of the creator
          example: johndoe
        network:
          type: string
          description: Social network of the creator
          example: Instagram
        fullName:
          type:
          - string
          - 'null'
          description: Full name of the creator
          example: John Doe
        profileImage:
          type:
          - string
          - 'null'
          description: Profile image URL
          example: https://example.com/profile.jpg
        profileLink:
          type:
          - string
          - 'null'
          description: Profile link
          example: https://instagram.com/johndoe
      required:
      - handleName
      - network
    InfluencerPerformanceResponseDto:
      type: object
      properties:
        creator:
          description: Creator information
          allOf:
          - $ref: '#/components/schemas/CreatorDto'
        creatorGlobalUserId:
          type: number
          description: Global user ID of the creator
          example: 12345
        engagements:
          type:
          - number
          - 'null'
          description: Number of engagements
          example: 1000
        impressions:
          type:
          - number
          - 'null'
          description: Number of impressions
          example: 10000
        engagementRate:
          type:
          - number
          - 'null'
          description: Engagement rate
          example: 0.1
        estimatedValueGenerated:
          type:
          - number
          - 'null'
          description: Estimated value generated
          example: 5000
        paidCost:
          type:
          - number
          - 'null'
          description: Paid cost
          example: 2000
        estimatedRoi:
          type:
          - number
          - 'null'
          description: Estimated ROI
          example: 2.5
        cpe:
          type:
          - number
          - 'null'
          description: Cost per engagement
          example: 0.5
        cpm:
          type:
          - number
          - 'null'
          description: Cost per mille
          example: 5
        estimatedContentCost:
          type:
          - number
          - 'null'
          description: Estimated content cost
          example: 1000
        postsCount:
          type:
          - number
          - 'null'
          description: Number of posts
          example: 10
        clicks:
          type:
          - number
          - 'null'
          description: Number of clicks
          example: 500
        conversionValue:
          type:
          - number
          - 'null'
          description: Conversion value
          example: 2000
        trackingLinksClicks:
          type:
          - number
          - 'null'
          description: Number of tracking link clicks
          example: 300
        trackingLinksConversions:
          type:
          - number
          - 'null'
          description: Number of tracking link conversions
          example: 50
        trackingLinksConversionValue:
          type:
          - number
          - 'null'
          description: Tracking links conversion value
          example: 1500
        affiliateLinksClicks:
          type:
          - number
          - 'null'
          description: Number of affiliate link clicks
          example: 200
        affiliateLinksConversions:
          type:
          - number
          - 'null'
          description: Number of affiliate link conversions
          example: 30
        affiliateLinksConversionRate:
          type:
          - number
          - 'null'
          description: Affiliate links conversion rate
          example: 0.15
        affiliateLinksSales:
          type:
          - number
          - 'null'
          description: Affiliate links sales
          example: 3000
        affiliateLinksComissionEarned:
          type:
          - number
          - 'null'
          description: Affiliate links commission earned
          example: 300
        affiliateLinksRoi:
          type:
          - number
          - 'null'
          description: Affiliate links ROI
          example: 3
      required:
      - creator
      - creatorGlobalUserId
    CreatorDto:
      type: object
      properties:
        globalUserId:
          type: number
          description: Global user ID of the creator
          example: 12345
        profilePictureUrl:
          type:
          - string
          - 'null'
          description: Profile picture URL
          example: https://example.com/profile.jpg
        fullName:
          type:
          - string
          - 'null'
          description: Full name of the creator
          example: John Doe
        profiles:
          description: Creator profiles
          type: array
          items:
            $ref: '#/components/schemas/CreatorProfileDto'
      required:
      - globalUserId
      - profiles
    ReportingApiResponseDto:
      type: object
      properties:
        data:
          type: object
          additionalProperties: false
        meta:
          type:
          - object
          - 'null'
          description: Metadata containing page information
          properties:
            page:
              type: number
              example: 1
            totalPages:
              type: number
              example: 10
      required:
      - data
      - meta
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained from the OAuth2 token endpoint
